<div class="alert-wrap" *ngIf="isActive" (click)="animationAlert()">
  <div
    class="alert decisionInfo"
    [@wrapAlert]="wrapAlertState"
    (click)="$event.stopPropagation()"
  >
    <button class="close"><i class="uil-times" (click)="close()"></i></button>

    <!-- <pre>
      {{ formData | json }}
    </pre> -->

    <h2 class="lawsuitTitle add">{{ formData.actionNameLang.ru }}</h2>

    <ng-container *ngIf="lawsuitService.fromStepId != 1">
      <h4 class="title">Главный юрист</h4>
      <div class="row justify-content-between mb-2">
        <div *ngIf="formData.actionStatus !== 2" class="col-6">
          <div class="label-info">Дата принятия решения</div>
          <div class="value-info">
            {{ formData.data.updatedAt | date: "dd.MM.yyyy HH:mm" }}
          </div>
        </div>
        <div class="col-6">
          <div class="label-info">Решение Г.Ю.</div>
          <div *ngIf="formData.actionStatus === 1" class="value-info rejected">
            Отказано
          </div>
          <div *ngIf="formData.actionStatus === 2" class="value-info pending">
            В ожидании
          </div>
          <div *ngIf="formData.actionStatus === 3" class="value-info approved">
            Одобрено
          </div>
        </div>
      </div>

      <div
        *ngIf="formData.actionStatus !== 2"
        class="row justify-content-between mb-2"
      >
        <div class="col-12">
          <div class="label-info">Комментарий</div>
          <div class="value-info">
            {{
              formData.headLawyerInfo
                ? formData.headLawyerInfo
                : "Нет комментарий"
            }}
          </div>
        </div>
      </div>

      <hr class="separater" />
    </ng-container>

    <h4 class="title">Юрист</h4>
    <div class="row justify-content-between mb-2">
      <div class="col-4">
        <div class="label-info">Дата отправки</div>
        <div class="value-info">
          {{ formData.data.createdAt | date: "dd.MM.yyyy HH:mm" }}
        </div>
      </div>
    </div>
    <!-- <app-notification-form
      *ngIf="formData.actionId === 1"
      [formData]="formData"
    ></app-notification-form>

    <app-sending-application
      *ngIf="formData.actionId === 2"
      [formData]="formData"
    ></app-sending-application>
    <app-making-response
      *ngIf="formData.actionId === 3"
      [formData]="formData"
    ></app-making-response>

    <app-sending-case-law
      *ngIf="formData.actionId === 4"
      [formData]="formData"
    ></app-sending-case-law>

    <app-setting-response-law
      *ngIf="formData.actionId === 5"
      [formData]="formData"
    ></app-setting-response-law>

    <app-first-instance-decision
      *ngIf="formData.actionId === 6"
      [formData]="formData"
    ></app-first-instance-decision>

    <app-referral-for-appeal
      *ngIf="formData.actionId === 7"
      [formData]="formData"
    ></app-referral-for-appeal>

    <app-appeal-law-response
      *ngIf="formData.actionId === 8"
      [formData]="formData"
    ></app-appeal-law-response>

    <app-referral-case-to-cassation
      *ngIf="formData.actionId === 9"
      [formData]="formData"
    >
    </app-referral-case-to-cassation>

    <app-response-law-of-cassation
      *ngIf="formData.actionId === 10"
      [formData]="formData"
    ></app-response-law-of-cassation>

    <app-case-transfer
      *ngIf="formData.actionId === 11"
      [formData]="formData"
    ></app-case-transfer>

    <app-sending-application-notary
      *ngIf="formData.actionId === 12"
      [formData]="formData"
    ></app-sending-application-notary>

    <app-making-response-notary
      *ngIf="formData.actionId === 13"
      [formData]="formData"
    ></app-making-response-notary> -->

    <app-notification-form-template
      *ngIf="formData.actionId === 1"
      [actionData]="formData"
    ></app-notification-form-template>

    <app-sending-application-template
      *ngIf="formData.actionId === 2"
      [actionData]="formData"
    ></app-sending-application-template>

    <app-making-response-template
      *ngIf="formData.actionId === 3"
      [actionData]="formData"
    ></app-making-response-template>

    <app-sending-case-law-template
      *ngIf="formData.actionId === 4"
      [actionData]="formData"
    ></app-sending-case-law-template>

    <app-setting-response-law-template
      *ngIf="formData.actionId === 5"
      [actionData]="formData"
    ></app-setting-response-law-template>

    <app-first-instance-decision-template
      *ngIf="formData.actionId === 6"
      [actionData]="formData"
    ></app-first-instance-decision-template>

    <app-referral-for-appeal-template
      *ngIf="formData.actionId === 7"
      [actionData]="formData"
    ></app-referral-for-appeal-template>

    <app-appeal-law-response-template
      *ngIf="formData.actionId === 8"
      [actionData]="formData"
    ></app-appeal-law-response-template>

    <app-referral-case-to-cassation-template
      *ngIf="formData.actionId === 9"
      [actionData]="formData"
    ></app-referral-case-to-cassation-template>

    <app-response-law-of-cassation-template
      *ngIf="formData.actionId === 10"
      [actionData]="formData"
    ></app-response-law-of-cassation-template>

    <app-case-transfer-template
      *ngIf="formData.actionId === 11"
      [actionData]="formData"
    ></app-case-transfer-template>

    <app-sending-application-notary-template
      *ngIf="formData.actionId === 12"
      [actionData]="formData"
    ></app-sending-application-notary-template>

    <app-making-response-notary-template
      *ngIf="formData.actionId === 13"
      [actionData]="formData"
    ></app-making-response-notary-template>

    <app-stopping-bce-template
      *ngIf="formData.actionId === 15"
      [actionData]="formData"
    ></app-stopping-bce-template>
  </div>
</div>
