<div class="alert-wrap" *ngIf="isActive" (click)="animationAlert()">
  <div
    class="alert decisionInfo"
    [@wrapAlert]="wrapAlertState"
    (click)="$event.stopPropagation()"
  >
    <button class="close"><i class="uil-times" (click)="close()"></i></button>

    <!-- <pre>
      {{ formData | json }}
    </pre> -->

    <h2 class="lawsuitTitle add">
      {{ formData.actionNameLang[lawsuitService.translate.currentLang] }}
    </h2>

    <ng-container
      *ngIf="
        lawsuitService.fromStepId != 1 && lawsuitService.contract.status !== 5
      "
    >
      <h4 class="title">{{ "head_lawyer" | translate }}</h4>
      <div class="row justify-content-between mb-2">
        <div *ngIf="formData.actionStatus !== 2" class="col-6">
          <div class="label-info">{{ "decision_date" | translate }}</div>
          <div class="value-info">
            {{ formData.processUpdatedAt | date: "dd.MM.yyyy HH:mm" }}
          </div>
        </div>
        <div class="col-6">
          <div class="label-info">{{ "decision_head_lawyer" | translate }}</div>
          <div *ngIf="formData.actionStatus === 1" class="value-info rejected">
            {{ "rejected" | translate }}
          </div>
          <div *ngIf="formData.actionStatus === 2" class="value-info pending">
            {{ "pending" | translate }}
          </div>
          <div *ngIf="formData.actionStatus === 3" class="value-info approved">
            {{ "approved" | translate }}
          </div>
        </div>
      </div>

      <div
        *ngIf="formData.actionStatus !== 2"
        class="row justify-content-between mb-2"
      >
        <div class="col-6">
          <div class="label-info">{{ "comment" | translate }}</div>
          <div class="value-info">
            {{
              formData.headLawyerInfo
                ? formData.headLawyerInfo
                : ("no_comment" | translate)
            }}
          </div>
        </div>

        <!-- <div *ngIf="formData.actionId === 18" class="col-6"> -->
        <div class="col-6">
          <div class="label-info">{{ "attached_files" | translate }}</div>
          <div class="value-info">
            <!-- {{
              formData.headLawyerInfo
                ? formData.headLawyerInfo
                : 'no_comment' | translate
            }} -->

            <app-file-downloader
              [formData]="formData.headLawyerFiles"
            ></app-file-downloader>
          </div>
        </div>
      </div>

      <hr class="separater" />
    </ng-container>

    <h4 class="title">{{ "lawyer" | translate }}</h4>
    <div class="row justify-content-between mb-2">
      <div class="col-4">
        <div class="label-info">{{ "departure_date" | translate }}</div>
        <div class="value-info">
          {{ formData.data.createdAt | date: "dd.MM.yyyy HH:mm" }}
        </div>
      </div>
    </div>
    <!-- <app-notification-form
      *ngIf="formData.actionId === 1"
      [formData]="formData"
    ></app-notification-form>

    <app-sending-application
      *ngIf="formData.actionId === 2"
      [formData]="formData"
    ></app-sending-application>
    <app-making-response
      *ngIf="formData.actionId === 3"
      [formData]="formData"
    ></app-making-response>

    <app-sending-case-law
      *ngIf="formData.actionId === 4"
      [formData]="formData"
    ></app-sending-case-law>

    <app-setting-response-law
      *ngIf="formData.actionId === 5"
      [formData]="formData"
    ></app-setting-response-law>

    <app-first-instance-decision
      *ngIf="formData.actionId === 6"
      [formData]="formData"
    ></app-first-instance-decision>

    <app-referral-for-appeal
      *ngIf="formData.actionId === 7"
      [formData]="formData"
    ></app-referral-for-appeal>

    <app-appeal-law-response
      *ngIf="formData.actionId === 8"
      [formData]="formData"
    ></app-appeal-law-response>

    <app-referral-case-to-cassation
      *ngIf="formData.actionId === 9"
      [formData]="formData"
    >
    </app-referral-case-to-cassation>

    <app-response-law-of-cassation
      *ngIf="formData.actionId === 10"
      [formData]="formData"
    ></app-response-law-of-cassation>

    <app-case-transfer
      *ngIf="formData.actionId === 11"
      [formData]="formData"
    ></app-case-transfer>

    <app-sending-application-notary
      *ngIf="formData.actionId === 12"
      [formData]="formData"
    ></app-sending-application-notary>

    <app-making-response-notary
      *ngIf="formData.actionId === 13"
      [formData]="formData"
    ></app-making-response-notary> -->

    <app-notification-form-template
      *ngIf="formData.actionId === 1"
      [actionData]="formData"
    ></app-notification-form-template>

    <app-sending-application-template
      *ngIf="formData.actionId === 2"
      [actionData]="formData"
    ></app-sending-application-template>

    <app-making-response-template
      *ngIf="formData.actionId === 3"
      [actionData]="formData"
    ></app-making-response-template>

    <app-sending-case-law-template
      *ngIf="formData.actionId === 4"
      [actionData]="formData"
    ></app-sending-case-law-template>

    <app-setting-response-law-template
      *ngIf="formData.actionId === 5"
      [actionData]="formData"
    ></app-setting-response-law-template>

    <app-first-instance-decision-template
      *ngIf="formData.actionId === 6"
      [actionData]="formData"
    ></app-first-instance-decision-template>

    <app-referral-for-appeal-template
      *ngIf="formData.actionId === 7"
      [actionData]="formData"
    ></app-referral-for-appeal-template>

    <app-appeal-law-response-template
      *ngIf="formData.actionId === 8"
      [actionData]="formData"
    ></app-appeal-law-response-template>

    <app-referral-case-to-cassation-template
      *ngIf="formData.actionId === 9"
      [actionData]="formData"
    ></app-referral-case-to-cassation-template>

    <app-response-law-of-cassation-template
      *ngIf="formData.actionId === 10"
      [actionData]="formData"
    ></app-response-law-of-cassation-template>

    <app-case-transfer-template
      *ngIf="formData.actionId === 11"
      [actionData]="formData"
    ></app-case-transfer-template>

    <app-sending-application-notary-template
      *ngIf="formData.actionId === 12"
      [actionData]="formData"
    ></app-sending-application-notary-template>

    <app-making-response-notary-template
      *ngIf="formData.actionId === 13"
      [actionData]="formData"
    ></app-making-response-notary-template>

    <app-first-auction-template
      *ngIf="formData.actionId === 14"
      [actionData]="formData"
    ></app-first-auction-template>

    <app-stopping-bce-template
      *ngIf="formData.actionId === 15"
      [actionData]="formData"
    ></app-stopping-bce-template>

    <app-mib-response-template
      *ngIf="formData.actionId === 16"
      [actionData]="formData"
    ></app-mib-response-template>

    <app-repeat-auction-template
      *ngIf="formData.actionId === 17"
      [actionData]="formData"
    ></app-repeat-auction-template>

    <app-balance-reception-template
      *ngIf="formData.actionId === 18"
      [actionData]="formData"
    ></app-balance-reception-template>

    <!-- {{ formData.actionId | json }} -->

    <app-enforcement-request-template
      *ngIf="formData.actionId === 19"
      [actionData]="formData"
    >
    </app-enforcement-request-template>

    <app-enforcement-response-template
      *ngIf="formData.actionId === 20"
      [actionData]="formData"
    >
    </app-enforcement-response-template>

    <app-main-appeal-template
      *ngIf="
        formData.actionId === 21 ||
        formData.actionId === 22 ||
        formData.actionId === 23
      "
      [actionData]="formData"
    ></app-main-appeal-template>

    <app-stop-process-template
      *ngIf="formData.actionId === 24"
      [actionData]="formData"
    ></app-stop-process-template>

    <app-get-response-auction-template
      *ngIf="formData.actionId === 26"
      [actionData]="formData"
    ></app-get-response-auction-template>

    <app-main-appeal-response-template
      *ngIf="formData.actionId === 27"
      [actionData]="formData"
    ></app-main-appeal-response-template>

    <app-re-cassation-request-template
      *ngIf="formData.actionId === 30"
      [actionData]="formData"
    ></app-re-cassation-request-template>

    <app-re-cassation-response-template
      *ngIf="formData.actionId === 31"
      [actionData]="formData"
    ></app-re-cassation-response-template>
  </div>
</div>
