<div *ngIf="actions.length; else loader">
  <!-- <pre>{{ actions | json }}</pre> -->
  <form
    *ngIf="actions.length > 1; else btnAction"
    class="page-form"
    [formGroup]="form"
    (ngSubmit)="submit()"
  >
    <div class="select-field add">
      <div class="select-field__title">{{ "choice_action" | translate }}</div>

      <div class="row no-gutters">
        <div class="col-8 col-md-7">
          <ng-select
            class="custom-select"
            appearance="outline"
            [items]="actions"
            bindLabel="{{
              'actionNameLang.' + lawsuitService.translate.currentLang
            }}"
            bindValue=""
            placeholder="{{ 'action1' | translate | titlecase }}"
            #agreeSelect
            labelForId="yesno"
            [searchable]="false"
            formControlName="action"
          ></ng-select>
          <div
            *ngIf="form.get('action')?.touched && form.get('action')?.invalid"
            class="validation"
          >
            <small *ngIf="form.get('action')?.errors?.required">
              {{ "select_data" | translate }}
            </small>
          </div>
        </div>

        <div class="col-4 col-md-5 add">
          <button
            type="submit"
            class="page-form__actionbtn text-uppercase"
            [ngClass]="{ disableBtn: form.invalid || submitted }"
            [disabled]="form.invalid || submitted"
          >
            {{ "add" | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>

  <ng-template #btnAction>
    <div class="limitNotificationWrap">
      <div class="limitNotification">
        <p class="limitNotificationText">
          <i class="uil-info-circle"></i>
          {{ "you_can_send_a_notification_3_times" | translate }}.

          {{
            "remainingShipments"
              | translate
                : {
                    count: 3 - lawsuitService.historyActions.length,
                    sending:
                      3 - lawsuitService.historyActions.length
                      | declensionOfWords
                        : [
                            "sending1" | translate,
                            "sending2" | translate,
                            "sending3" | translate
                          ]
                  }
          }}
        </p>
      </div>
    </div>
    <!-- [disabled]="lawsuitService.historyActions.length > 2" -->
    <!-- *ngIf="!lawsuitService.actions.length" -->
    <button
      *ngIf="!lawsuitService.actions.length"
      class="page-form__actionbtn text-uppercase add"
      (click)="lawsuitService.actions.push(actions[0])"
      [disabled]="lawsuitService.historyActions.length > 2"
    >
      <!-- {{ actionName }} -->
      {{ actions[0].actionNameLang[lawsuitService.translate.currentLang] }}
    </button>

    <!-- <ng-template #limitNotification>
      <div class="limitNotificationWrap">
        <div class="limitNotification">
          <i class="uil-info-circle"></i>
          <p class="limitNotificationText">
            Отправить уведомление можно 3 раза. Осталось: 0 отправки
          </p>
        </div>
      </div>
    </ng-template> -->
  </ng-template>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
