<div *ngIf="actions.length; else loader">
  <!-- <pre>{{ actions | json }}</pre> -->
  <form
    *ngIf="actions.length > 1; else btnAction"
    class="page-form"
    [formGroup]="form"
    (ngSubmit)="submit()"
  >
    <div class="select-field add">
      <div class="select-field__title">Выбор действия</div>

      <div class="row no-gutters">
        <div class="col-8 col-md-7">
          <ng-select
            class="custom-select"
            appearance="outline"
            [items]="actions"
            bindLabel="actionNameLang.ru"
            bindValue=""
            placeholder="Действие"
            #agreeSelect
            labelForId="yesno"
            [searchable]="false"
            formControlName="action"
          ></ng-select>
          <div
            *ngIf="form.get('action')?.touched && form.get('action')?.invalid"
            class="validation"
          >
            <small *ngIf="form.get('action')?.errors?.required">
              Выберите данные
            </small>
          </div>
        </div>

        <div class="col-4 col-md-5 add">
          <button
            type="submit"
            class="page-form__actionbtn text-uppercase"
            [ngClass]="{ disableBtn: form.invalid || submitted }"
            [disabled]="form.invalid || submitted"
          >
            Добавить
          </button>
        </div>
      </div>
    </div>
  </form>

  <ng-template #btnAction>
    <!-- [disabled]="lawsuitService.historyActions.length > 2" -->
    <button
      *ngIf="!lawsuitService.actions.length"
      class="page-form__actionbtn text-uppercase add"
      (click)="lawsuitService.actions.push(actions[0])"
      [disabled]="lawsuitService.historyActions.length > 2"
    >
      <!-- {{ actionName }} -->
      {{ actions[0].actionNameLang.ru }}
    </button>
  </ng-template>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
