<div class="row">
  <div class="col-lg-7">
    <div
      class="p-2 mb-2 bg-gray-primary"
      style="border-radius: 5px"
      *ngIf="lastAction"
    >
      <div class="row flex-nowrap mb-2">
        <div class="col-6">
          <div class="form-field__title">№ дело</div>
          <div class="form-field__disabled" >
            {{ taskInfo?.body?.case_number }}
          </div>
        </div>

        <div class="col-6">
          <div class="form-field__title">Дата решение</div>
          <div class="form-field__disabled" >
            {{ lastAction?.decision_date }}
          </div>
        </div>
      </div>

      <div class="row flex-nowrap mb-2">
        <div class="col-6">
          <div class="form-field__title">Результат решение</div>
          <div class="form-field__disabled" >
            {{ getSPValue('first_instance_decision', lastAction?.decision_result) }}
          </div>
        </div>

        <div class="col-6">
          <div class="form-field__title">Дата решение</div>
          <div class="form-field__disabled" >
            {{ lastAction?.decision_date }}
          </div>
        </div>
      </div>

      <div class="d-flex align-items-center flex-nowrap mb-2">
        <div
          class="custom-toggle-track mr-1"
          [class.custom-toggle-disabled]="!lastAction?.appeal"
        >
          <div
            class="custom-toggle-thumb"
            [class.custom-toggle-thumb_active]="lastAction?.appeal"
          ></div>
        </div>
        <div class="form-field__title m-0">Обжалование решение суда </div>
      </div>

      <div *ngIf="!lastAction?.appeal">
        <div class="row flex-nowrap mb-2">
          <div class="col-6">
            <div class="form-field__title">Выбранное действие</div>
            <div class="form-field__disabled" >
              {{ getSPValue('appeal_f_action', lastAction?.appeal_f_action) }}
            </div>
          </div>

          <div class="col-6" *ngIf="lastAction?.appeal_f_action === 2">
            <div class="form-field__title">Выбранная дата</div>
            <div class="form-field__disabled" >
              {{ lastAction?.activation_date }}
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="lastAction?.appeal">
        <div class="row flex-nowrap mb-1">
          <div class="col-6">
            <div class="form-field__title">Вид обжалование</div>
            <div class="form-field__disabled" >
              {{ getSPValue('appeal_type', lastAction?.appeal_t_appeal_type) }}
            </div>
          </div>
        </div>

        <div class="row flex-nowrap mb-2">
          <div class="col-6">
            <div class="form-field__title">Общая сумма</div>
            <div class="form-field__disabled" >
              {{ lastAction?.appeal_t_total_sum }} сум
            </div>
          </div>

          <div class="col-6">
            <div class="form-field__title">Сумма основного долга</div>
            <div class="form-field__disabled" >
              100 000 000 сум
            </div>
          </div>
        </div>

        <div class="row flex-nowrap mb-2">
          <div class="col-6">
            <div class="form-field__title">Сумма неустойки</div>
            <div class="form-field__disabled" >
              {{ lastAction?.appeal_t_penalty_sum }} сум
            </div>
          </div>

          <div class="col-6">
            <div class="form-field__title">Сумма госпошлины</div>
            <div class="form-field__disabled" >
              {{ lastAction?.appeal_t_state_duty_sum }} сум
            </div>
          </div>
        </div>
      </div>

      <div class="form-field__title" *ngIf="lastAction?.files">
        Скан документа
      </div>
      <div class="mb-2">
        <div
          *ngFor="let item of lastAction?.files; index as i"
          class="py-1 d-flex align-items-center"
          (click)="clientsService.downloadFile(item?.id)"
        >
          <i class="icon-attach mr-1" style="font-size: 22px"></i>
          <div class="ml-1 cursor-pointer">
            {{ item.name }}
          </div>
        </div>
      </div>
      <div class="mb-2">
        <div class="form-field__title">Дополнительная информация</div>
        <div class="form-field__disabled" >
          {{ lastAction?.add_info }}
        </div>
      </div>
    </div>

    <form
      action=""
      class="page-form pb-2 "
      [formGroup]="stepForm"
      *ngIf="stepStatus === 0 && mainService.ROLE?.includes(1)"
      (ngSubmit)="nextStep()"
    >

      <div class="row justify-content-between mb-2">
        <div class="col-6">
          <div class="form-field__title">№ дело</div>
          <div class="form-field__disabled" >
            {{ taskInfo?.body?.case_number }}
          </div>
        </div>

        <div class="col-6">
          <app-form-field
            formControlName="decision_date"
            [type]="'datepicker'"
            [title]="'Дата решение'"
          ></app-form-field>
        </div>
      </div>

      <div class="row justify-content-between align-items-end mb-2">
        <div class="col-6">
          <app-form-field
            formControlName="decision_result"
            [type]="'select'"
            [title]="'Результат решение'"
            [selectOptions]="taskInfo?.sp?.first_instance_decision"
          ></app-form-field>
        </div>
      </div>

      <div class="row justify-content-between mb-2">
        <div class="col-12">
          <app-form-field
            formControlName="appeal"
            [type]="'checkbox'"
            [checkboxType]="'toggle'"
            [title]="'Обжалование решение суда '"
          ></app-form-field>
        </div>
      </div>

      <div *ngIf="stepForm?.value.appeal">
        <div class="row justify-content-between align-items-end mb-2">
          <div class="col-6">
            <app-form-field
              formControlName="appeal_t_appeal_type"
              [type]="'select'"
              [title]="'Вид обжалование'"
              [selectOptions]="taskInfo?.sp?.appeal_type"
            ></app-form-field>
          </div>
        </div>

        <div class="row justify-content-between mb-2">
          <div class="col-6">
            <app-form-field
              formControlName="appeal_t_total_sum"
              [type]="'text'"
              [title]="'Общая сумма'"
            ></app-form-field>
          </div>

          <div class="col-6">
            <app-form-field
              formControlName="appeal_t_total_debt"
              [type]="'text'"
              [title]="'Сумма основного долга'"
            ></app-form-field>
          </div>
        </div>

        <div class="row justify-content-between mb-2">
          <div class="col-6">
            <app-form-field
              formControlName="appeal_t_penalty_sum"
              [type]="'text'"
              [title]="'Сумма неустойки'"
            ></app-form-field>
          </div>

          <div class="col-6">
            <app-form-field
              formControlName="appeal_t_state_duty_sum"
              [type]="'text'"
              [title]="'Сумма госпошлины'"
            ></app-form-field>
          </div>
        </div>
      </div>

      <div *ngIf="!stepForm?.value.appeal">
        <div class="row justify-content-between align-items-end mb-2">
          <div class="col-6">
            <app-form-field
              formControlName="appeal_f_action"
              [type]="'select'"
              [title]="'Выберите действие'"
              [selectOptions]="taskInfo?.sp?.appeal_f_action"
            ></app-form-field>
          </div>

          <div class="col-6" *ngIf="stepForm.value.appeal_f_action === 2">
            <app-form-field
              formControlName="activation_date"
              [type]="'datepicker'"
              [title]="'Выберите день'"
            ></app-form-field>
          </div>
        </div>
      </div>

      <div class="row justify-content-between mb-2">
        <div class="col-12">
          <app-form-field
            formControlName="files"
            [type]="'file'"
            [title]="'Скан документа'"
          ></app-form-field>
        </div>
      </div>

      <div class="row justify-content-between mb-2">
        <div class="col-12">
          <app-form-field
            formControlName="add_info"
            [type]="'textarea'"
            [title]="'Дополнительная информация'"
          ></app-form-field>
        </div>
      </div>

      <button type="submit" class="page-form__actionbtn text-uppercase" [disabled]="stepForm.invalid">
        <!--    (click)="clientDetail.nextStep()"-->
        {{stepForm.value.appeal_f_action === 2 ? 'Отложит дело' : stepForm.value.appeal_f_action === 3 ? 'Закрыт дело' : 'следующий шаг'}}
      </button>
    </form>

    <div
      class="p-2 mb-2 d-flex justify-content-center align-items-center bg-gray-secondary"
      style="border-radius: 5px"
      *ngIf="stepStatus === 2"
    >
      <i class="uil-info-circle text-danger mr-2" style="font-size: 20px"></i>
      <div style="text-align: left">
        <div>Шаг заблокирован до {{ lastAction?.activation_date }}  </div>
        <div>До разблокировки осталось {{ getRelativeTime() }}</div>
      </div>
    </div>
  </div>
</div>

<app-alert-info
  [text]="'Подождите, данные еще не внесены исполнительным юристом.'"
  [icon]="'uil-clock-three'"
  [iconColorClass]="'text-warning'"
  *ngIf="stepStatus === 0 && mainService.ROLE?.includes(2)"
></app-alert-info>
