<app-step-wrapper>
  <ng-container class="action-form"
    ><app-stop-process-wrap>
      <app-select-action></app-select-action>

      <app-notification-form
        [action]="this.lawsuitService.isActionForm(1)"
        *ngIf="this.lawsuitService.isActionForm(1)"
      ></app-notification-form>

      <app-next-step
        *ngIf="
          lawsuitService.stepIndex === lawsuitService.steps.length &&
          lawsuitService.historyActions.length &&
          (lawsuitService.isDeniedStep || !lawsuitService.historySteps.length)
        "
      ></app-next-step> </app-stop-process-wrap
  ></ng-container>
</app-step-wrapper>
