<div class="row steps-block">
  <!-- <div class="col-3"></div> -->
  <div class="col-12">
    <div class="steps">
      <button
        *ngFor="let step of this.lawsuitService.steps; let idx = index"
        #stepRef
        class="step_lawsuit"
        [ngClass]="{
          last: this.lawsuitService.steps.length == idx + 1,
          complete: !(this.lawsuitService.steps.length == idx + 1),
          current: step.stepid == this.lawsuitService.fromStepId
        }"
        (click)="lawsuitService.getCurrentStep(step.stepid)"
      >
        <span class="step_lawsuit_number">{{ idx + 1 }}</span>
        <span class="step_lawsuit_name">{{ step.lang.ru }}</span>
        <i class="uil-pen"></i>
      </button>

      <!-- <button
        #step2
        class="step_lawsuit current last"
        (click)="getStep(2, step2)"
      >
        <span class="step_lawsuit_number">2</span>
        <span class="step_lawsuit_name">Уведомление</span>
        <i class="uil-pen"></i>
      </button> -->

      <button
        *ngIf="this.lawsuitService.steps.length <= 5"
        class="step_lawsuit"
      >
        <span class="step_lawsuit_number">{{
          this.lawsuitService.steps.length + 1
        }}</span>
        <span class="step_lawsuit_name"
          >Шаг {{ this.lawsuitService.steps.length + 1 }}</span
        >
      </button>

      <button
        class="step_lawsuit last"
        [ngClass]="{
          current: this.lawsuitService.fromStepId == -1
        }"
        (click)="lawsuitService.getCurrentStep(-1)"
      >
        <span class="step_lawsuit_number">
          <i class="uil-pause"></i>
        </span>
        <span class="step_lawsuit_name">Завершить процесс</span>
      </button>
    </div>
  </div>
</div>
