.steps-block {
  border-width: 1px 0;
  border-style: solid;
  border-color: #d2d7de;
  background: #f4f6f8;
  .steps {
    display: flex;
    align-items: center;

    .step_lawsuit {
      display: flex;
      align-items: center;
      width: 265px;
      height: 80px;
      padding: 0 20px;
      margin-left: -1px;
      border-width: 0 1px;
      border-style: solid;
      border-color: #d2d7de;
      outline: none;
      background: transparent;

      &_number {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 32px;
        min-height: 32px;
        border-radius: 50%;
        color: #fff;
        background: #b8bfc9;
      }

      &_name {
        margin: 0 13px;
        color: #828ea1;
      }

      i {
        font-size: 18px;
        color: #55667f;
      }
    }

    .step_lawsuit.complete {
      .step_lawsuit_name {
        color: #10274a;
      }

      .step_lawsuit_number {
        color: #fff;
        background: #10274a;
      }
    }

    .step_lawsuit.current {
      background: #fff;

      .step_lawsuit_name {
        color: #10274a;
      }
    }

    .step_lawsuit.last {
      .step_lawsuit_name {
        color: #10274a;
      }

      .step_lawsuit_number {
        color: #10274a;
        background: #f4f6f8;
        border: 1px solid #10274a;
      }
    }
  }
}
