<div class="row steps-block">
  <!-- <div class="col-3"></div> -->
  <div class="col-12">
    <div class="steps">
      <button
        *ngFor="let step of lawsuitService.steps.slice(0, -1); let idx = index"
        #stepRef
        class="step_lawsuit"
        [ngClass]="{
          last: lawsuitService.steps.length == idx + 1,
          complete: !(lawsuitService.steps.length == idx + 1),
          current: step.stepid == lawsuitService.currentStep.stepid
        }"
        (click)="lawsuitService.getCurrentStep(step.stepid)"
      >
        <span class="step_lawsuit_number">{{ idx + 1 }}</span>
        <span
          class="step_lawsuit_name"
          [attr.data-tooltip]="step.lang[lawsuitService.translate.currentLang]"
          >{{ step.lang[lawsuitService.translate.currentLang] }}</span
        >
        <!-- <i class="uil-pen"></i> -->
      </button>

      <!-- <button
        #step2
        class="step_lawsuit current last"
        (click)="getStep(2, step2)"
      >
        <span class="step_lawsuit_number">2</span>
        <span class="step_lawsuit_name">Уведомление</span>
        <i class="uil-pen"></i>
      </button> -->

      <button
        *ngIf="
          this.lawsuitService.steps.length &&
          this.lawsuitService.steps.length <= 5
        "
        class="step_lawsuit"
      >
        <span class="step_lawsuit_number">{{
          this.lawsuitService.steps.length
        }}</span>
        <span class="step_lawsuit_name"
          >Шаг {{ lawsuitService.steps.length }}</span
        >
      </button>

      <!-- <button
        class="step_lawsuit last"
        [ngClass]="{
          current: this.lawsuitService.fromStepId == 8
        }"
        (click)="lawsuitService.getCurrentStep(8)"
      >
        <span class="step_lawsuit_number">
          <i class="uil-pause"></i>
        </span>
        <span class="step_lawsuit_name">Завершить процесс</span>
      </button> -->

      <app-stop-process-tab></app-stop-process-tab>

      <!-- <button
        class="step_lawsuit last"
        [ngClass]="{
          current:
            lawsuitService.steps[lawsuitService.steps.length - 1]?.stepid ==
            lawsuitService.currentStep.stepid
        }"
        (click)="
          lawsuitService.getCurrentStep(
            lawsuitService.steps[lawsuitService.steps.length - 1]?.stepid
          )
        "
      >
        <span class="step_lawsuit_number">
          <i class="uil-pause"></i>
        </span>
        <span class="step_lawsuit_name">{{
          lawsuitService.steps[lawsuitService.steps.length - 1]?.lang[
            lawsuitService.translate.currentLang
          ]
        }}</span>
      </button> -->
    </div>
  </div>
</div>
