<div *ngIf="monitoring.length; else noMonitoring" class="monitoringTable">
  <h2 class="title">"Trastbank" XAB da muammoli kreditlar haqida MA'LUMOT</h2>

  <table #table border="1" cellpadding="5" width="100%">
    <tr>
      <th rowspan="2">№</th>
      <th rowspan="2">Nomi</th>
      <th colspan="6">2022-YIL HOLATIGA KO'RA</th>
    </tr>
    <tr>
      <th>KREDIT SHARTNOMASI</th>
      <th>Kredit Summasi</th>
      <th class="guarantee">Ta'minot</th>
      <th>Qarzdorlik</th>
      <th>Qoldiq</th>
      <th>Status</th>
    </tr>
    <tr>
      <th>A</th>
      <th>JAMI MUAMMOLI AKTIVLAR</th>
      <th>Sana-muddati</th>
      <th>Mln.</th>
      <th></th>
      <th>So'm</th>
      <th>So'm</th>
      <th>Huquqiy holati, vaziayt</th>
    </tr>

    <tr *ngFor="let data of monitoring; let idx = index">
      <td>{{ idx + 1 }}</td>
      <td>{{ data.clientFio }}</td>
      <td>{{ data.contractDate }}г. №{{ data.contractId }}</td>
      <td>{{ data.creditSumm }}</td>
      <td>
        <div *ngFor="let g of data.guarantee">
          <span>{{ g.detail }}</span> - <span>{{ g.summ }}</span>
        </div>
      </td>
      <td></td>
      <td>{{ data.totalDebt }}</td>
      <td>{{ data.statusName.ru }}</td>
    </tr>
  </table>
</div>

<ng-template #noMonitoring>
  <h2 class="noFilials" *ngIf="!monitoring.length && !loader; else loaderBlock">
    Выберите филиал
  </h2>
</ng-template>

<ng-template #loaderBlock>
  <app-loader></app-loader>
</ng-template>
