<form class="page-form" [formGroup]="form" (ngSubmit)="submit()">
  <div class="row justify-content-between mb-2">
    <div class="col-12">
      <div class="input-field">
        <div class="input-field__title">
          № постановления о прекращении исполнительного производства
        </div>
        <label class="input-field__label">
          <input
            type="text"
            autocomplete="off"
            formControlName="numberDecree"
          />
        </label>

        <div
          *ngIf="
            form.get('numberDecree')?.touched &&
            form.get('numberDecree')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('numberDecree')?.errors?.required">
            Введите данные
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between mb-2">
    <div class="col-12">
      <div class="input-field">
        <div class="input-field__title">
          Дата постановления о прекращении исполнительного производства
        </div>
        <label class="input-field__label">
          <!--        <input type="text" class="datepicker-here" readonly />-->
          <input
            class="input-box"
            angular-mydatepicker
            name="reactiveFormsDate"
            name="mydate"
            formControlName="dateDecree"
            [options]="myDpOptions"
            #dp="angular-mydatepicker"
            [locale]="'ru'"
          />
          <i class="icon-calendar" (click)="dp.toggleCalendar()"></i>
        </label>

        <div
          *ngIf="
            form.get('dateDecree')?.touched && form.get('dateDecree')?.invalid
          "
          class="validation"
        >
          <small
            *ngIf="
              form.controls.dateDecree.errors &&
              form.controls.dateDecree.errors.required &&
              !form.controls.dateDecree.errors.invalidDateFormat
            "
          >
            Введите данные
          </small>
          <small
            *ngIf="
              form.controls.dateDecree.errors &&
              form.controls.dateDecree.errors.invalidDateFormat
            "
          >
            Неккоректные данные
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between mb-2">
    <div class="col-12">
      <div class="input-field">
        <div class="input-field__title">
          С какой статьей прекращено исполнительное дело
        </div>
        <label class="input-field__label">
          <input type="text" autocomplete="off" formControlName="article" />
        </label>

        <div
          *ngIf="form.get('article')?.touched && form.get('article')?.invalid"
          class="validation"
        >
          <small *ngIf="form.get('article')?.errors?.required">
            Введите данные
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between mb-2">
    <div class="col-12">
      <div class="input-field">
        <div class="input-field__title">
          От задолженности с какой суммы уплачено в банк
        </div>
        <label class="input-field__label">
          <input type="text" autocomplete="off" formControlName="amountOwed" />
        </label>

        <div
          *ngIf="
            form.get('amountOwed')?.touched && form.get('amountOwed')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('amountOwed')?.errors?.required">
            Введите данные
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between mb-2">
    <div class="col-12">
      <div class="input-field">
        <div class="input-field__title">
          Предложение о принятии на баланс Банка от % заниженной суммы
          залогового имущества
        </div>
        <label class="input-field__label">
          <input type="text" autocomplete="off" formControlName="sentence" />
        </label>

        <div
          *ngIf="form.get('sentence')?.touched && form.get('sentence')?.invalid"
          class="validation"
        >
          <small *ngIf="form.get('sentence')?.errors?.required">
            Введите данные
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between mb-2">
    <div class="col-12">
      <div class="select-field">
        <div class="select-field__title">Решение банка</div>
        <ng-select
          appearance="outline"
          [items]="options"
          bindLabel="label"
          bindValue="id"
          placeholder="Ваш результат"
          #agreeSelect
          labelForId="yesno"
          [searchable]="false"
          formControlName="decision"
        ></ng-select>
        <div
          *ngIf="form.get('decision')?.touched && form.get('decision')?.invalid"
          class="validation"
        >
          <small *ngIf="form.get('decision')?.errors?.required">
            Выберите данные
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between mb-2">
    <div class="col-12">
      <div class="input-field">
        <div class="input-field__title">Сумма реализации</div>
        <label class="input-field__label">
          <input
            type="text"
            autocomplete="off"
            formControlName="collateralValue"
          />
        </label>

        <div
          *ngIf="
            form.get('collateralValue')?.touched &&
            form.get('collateralValue')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('collateralValue')?.errors?.required">
            Введите данные
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between mb-2">
    <div class="col-6">
      <app-file-uploader></app-file-uploader>
    </div>
  </div>

  <button
    type="submit"
    class="page-form__actionbtn text-uppercase"
    [ngClass]="{ disableBtn: form.invalid || submitted }"
    [disabled]="form.invalid || submitted"
  >
    Следующий шаг
  </button>
</form>
