<div class="mx-5 px-5 pt-2 h-100">
  <h2>Мониторинг заявок</h2>
  <div class="funcBlock page-form">
    <div class="filters">
      <div class="select-field filter">
        <div class="select-field__title">Регион</div>
        <ng-select
          appearance="outline"
          [items]="regionsDic"
          bindLabel="nameRu"
          bindValue="regionId"
          placeholder="Регион"
          #agreeSelect
          labelForId="yesno"
          [searchable]="false"
          (change)="setDistrict($event)"
        ></ng-select>
      </div>

      <div class="select-field filter">
        <div class="select-field__title">Филиал</div>
        <ng-select
          [multiple]="true"
          appearance="outline"
          [items]="filialsDic"
          bindLabel="nameRu"
          bindValue="mfo"
          placeholder="Выберите филиал"
          #agreeSelect
          labelForId="yesno"
          [searchable]="false"
          [(ngModel)]="filials"
          (ngModelChange)="setFilterData($event, 'mfos')"
          [disabled]="filials[0] === 'ALL'"
        ></ng-select>
      </div>

      <div class="select-field filter">
        <div class="select-field__title">Статус</div>
        <ng-select
          [multiple]="true"
          appearance="outline"
          [items]="statusDic"
          bindLabel="lang.ru"
          bindValue="value"
          placeholder="Выберите филиал"
          #agreeSelect
          labelForId="yesno"
          [searchable]="false"
          [(ngModel)]="status"
          (ngModelChange)="setFilterData($event, 'status')"
        ></ng-select>
      </div>

      <!-- <div class="input-field filter">
        <div class="input-field__title">Период</div>
        <label class="input-field__label">
          
          <input
            class="input-box"
            angular-mydatepicker
            name="reactiveFormsDate"
            [options]="myDpOptions"
            #dp="angular-mydatepicker"
            [locale]="'ru'"
          />
          <i class="icon-calendar" (click)="dp.toggleCalendar()"></i>
        </label>
      </div> -->
    </div>
    <button
      [disabled]="filials.length ? false : true"
      class="exportBtn"
      (click)="fireEvent()"
    >
      <i class="uil-down-arrow"></i><span>Экспортировать</span>
    </button>
  </div>

  <div class="monitoring">
    <div class="monitoring-header">
      <h3 class="monitoring-title">{{ titleTab }}</h3>
      <div class="monitoring-btns">
        <i
          class="uil-arrow-growth"
          [class]="flag === 'monitoring' ? 'active' : null"
          (click)="selectTab('Мониторинг', 'monitoring')"
        ></i>
        <i
          class="uil-map-marker"
          [class]="flag === 'map' ? 'active' : null"
          (click)="selectTab('Карта Республики Узбекиста', 'map')"
        ></i>

        <!-- <i class="uil-graph-bar"></i>
        <i class="uil-chart-pie-alt"></i> -->
      </div>
    </div>

    <div class="monitoring-body">
      <app-map *ngIf="flag === 'map'"></app-map>
      <app-table
        *ngIf="flag === 'monitoring'"
        [monitoring]="monitoring"
        [loader]="loader"
        #childComp
      ></app-table>
    </div>
  </div>
</div>
