<div *ngIf="statisticsData.length; else loadBlock" class="monitoringTable">
  <h2 class="title">ОТЧЕТ ПО ПРОБЛЕМНЫМ КРЕДИТАМ</h2>

  <table #table border="1" cellpadding="5" width="100%">
    <tr>
      <th colspan="3">{{ currentDate }}</th>
      <th colspan="2" rowspan="2">Все проблемные активы на указанный период</th>
      <th colspan="10">Закрытие проблемные активы</th>
      <th colspan="2" rowspan="2">
        Процентные соотношения всех закрытых проблемных активов по банкам
      </th>
      <th colspan="10">Текушие проблемные активы</th>
      <!-- <th colspan="2">от этого</th> -->
    </tr>

    <tr>
      <th rowspan="2" colspan="2">№</th>
      <th rowspan="2">Наименование филиала Банка</th>

      <th colspan="2">
        ТПП (15501-все ссудные счета: 16309-3тип счет-счет начисления процентов:
        13105-5тип счет все счета просрочки: 16309-7тип счет счет начисленных
        процентов по просроченной ссуде: 16405-22тип счет- Пеня за прспрчку:
        16377-счет начисленных но не оплаченных в срок процентов
      </th>
      <th colspan="2">
        СУД (15701-счет судебного разбирательства: 16405-22тип счет- Пеня за
        прспрчку: 16377-счет начисленных но не оплаченных в срок процентов)
      </th>
      <th colspan="2">
        МИБ (15701-счет судебного разбирательства: 16405-22тип счет- Пеня за
        прспрчку: 16377-счет начисленных но не оплаченных в срок процентов)
      </th>
      <th colspan="2">
        Нотариус (15501-все ссудные счета: 16309-3тип счет-счет начисления
        процентов: 13105-5тип счет все счета просрочки: 16309-7тип счет счет
        начисленных процентов по просроченной ссуде: 16405-22тип счет- Пеня за
        прспрчку: 16377-счет начисленных но не оплаченных в срок процентов
      </th>
      <th colspan="2">
        Правоохратинельные органи (15501-все ссудные счета: 16309-3тип счет-счет
        начисления процентов: 13105-5тип счет все счета просрочки: 16309-7тип
        счет счет начисленных процентов по просроченной ссуде: 16405-22тип счет-
        Пеня за прспрчку: 16377-счет начисленных но не оплаченных в срок
        процентов
      </th>

      <th colspan="2">
        ТПП (15501-все ссудные счета: 16309-3тип счет-счет начисления процентов:
        13105-5тип счет все счета просрочки: 16309-7тип счет счет начисленных
        процентов по просроченной ссуде: 16405-22тип счет- Пеня за прспрчку:
        16377-счет начисленных но не оплаченных в срок процентов
      </th>
      <th colspan="2">
        СУД (15701-счет судебного разбирательства: 16405-22тип счет- Пеня за
        прспрчку: 16377-счет начисленных но не оплаченных в срок процентов)
      </th>
      <th colspan="2">
        МИБ (15701-счет судебного разбирательства: 16405-22тип счет- Пеня за
        прспрчку: 16377-счет начисленных но не оплаченных в срок процентов)
      </th>
      <th colspan="2">
        Нотариус (15501-все ссудные счета: 16309-3тип счет-счет начисления
        процентов: 13105-5тип счет все счета просрочки: 16309-7тип счет счет
        начисленных процентов по просроченной ссуде: 16405-22тип счет- Пеня за
        прспрчку: 16377-счет начисленных но не оплаченных в срок процентов
      </th>
      <th colspan="2">
        Правоохратинельные органи (15501-все ссудные счета: 16309-3тип счет-счет
        начисления процентов: 13105-5тип счет все счета просрочки: 16309-7тип
        счет счет начисленных процентов по просроченной ссуде: 16405-22тип счет-
        Пеня за прспрчку: 16377-счет начисленных но не оплаченных в срок
        процентов
      </th>

      <!-- <th colspan="2">Частичное закрытие</th> -->
    </tr>

    <tr>
      <th>кол.</th>
      <th>сумма</th>

      <th>кол.</th>
      <th>сумма</th>

      <th>кол.</th>
      <th>сумма</th>

      <th>кол.</th>
      <th>сумма</th>

      <th>кол.</th>
      <th>сумма</th>

      <th>кол.</th>
      <th>сумма</th>

      <th>кол. %</th>
      <th>сумма %</th>

      <th>кол.</th>
      <th>сумма</th>

      <th>кол.</th>
      <th>сумма</th>

      <th>кол.</th>
      <th>сумма</th>

      <th>кол.</th>
      <th>сумма</th>

      <th>кол.</th>
      <th>сумма</th>

      <!-- <th>кол.</th>
      <th>сумма</th> -->
    </tr>

    <ng-container *ngFor="let data of statisticsData; let idx = index">
      <tr>
        <td class="accord-row">
          <i
            (click)="toggleFilials(data.regionCode)"
            class="uil-code accord"
          ></i>
        </td>
        <td class="number" data-toggle="collapse">
          {{ idx + 1 }}
        </td>
        <td>
          <span class="regions">{{ data.regionName }}</span>
        </td>
        <td>{{ data.count }}</td>
        <td>{{ data.amount | numberTransform }}</td>

        <td>{{ data.tppCount }}</td>
        <td>{{ data.tppAmount | numberTransform }}</td>

        <td>{{ data.lawCount }}</td>
        <td>{{ data.lawAmount | numberTransform }}</td>

        <td>{{ data.mibCount }}</td>
        <td>{{ data.mibAmount | numberTransform }}</td>

        <td>{{ data.notarCount }}</td>
        <td>{{ data.notarAmount | numberTransform }}</td>

        <td>{{ data.lawEnfCount }}</td>
        <td>{{ data.lawEnfAmount | numberTransform }}</td>

        <td>{{ data.stopPercentCount }}</td>
        <td>{{ data.stopPercentAmount }}</td>

        <td>{{ data.tppStopCount }}</td>
        <td>{{ data.tppStopAmount | numberTransform }}</td>

        <td>{{ data.lawStopCount }}</td>
        <td>{{ data.lawStopAmount | numberTransform }}</td>

        <td>{{ data.mibStopCount }}</td>
        <td>{{ data.mibStopAmount | numberTransform }}</td>

        <td>{{ data.notarStopCount }}</td>
        <td>{{ data.notarStopAmount | numberTransform }}</td>

        <td>{{ data.lawEnfStopCount }}</td>
        <td>{{ data.lawEnfStopAmount | numberTransform }}</td>

        <!-- <td>{{ data.count }}</td>
        <td>{{ data.amount | numberTransform }}</td> -->
      </tr>

      <ng-container *ngFor="let filial of data.branches; let idx2 = index">
        <!-- <tr class="filial" [class]="'f' + data.regionCode"> -->
        <tr *ngIf="isFilial === data.regionCode">
          <td class="accord-row">
            <span>
              <i
                (click)="toggleFilials2(filial.branchMfo)"
                class="uil-code accord"
              ></i>
            </span>
          </td>
          <td class="number">
            <span>{{ idx + 1 }}.{{ idx2 + 1 }}.</span>
          </td>
          <td>
            <span>{{ filial.branchNameRus }}</span>
          </td>
          <td>
            <span>{{ filial.count }}</span>
          </td>
          <td>
            <span>{{ filial.amount | numberTransform }}</span>
          </td>

          <td>
            <span>{{ filial.tppCount }}</span>
          </td>
          <td>
            <span>{{ filial.tppAmount | numberTransform }}</span>
          </td>

          <td>
            <span>{{ filial.lawCount }}</span>
          </td>
          <td>
            <span>{{ filial.lawAmount | numberTransform }}</span>
          </td>

          <td>
            <span>{{ filial.mibCount }}</span>
          </td>
          <td>
            <span>{{ filial.mibAmount | numberTransform }}</span>
          </td>

          <td>
            <span>{{ filial.notarCount }}</span>
          </td>
          <td>
            <span>{{ filial.notarAmount | numberTransform }}</span>
          </td>

          <td>
            <span>{{ filial.lawEnfCount }}</span>
          </td>
          <td>
            <span>{{ filial.lawEnfAmount | numberTransform }}</span>
          </td>

          <td>
            <span>{{ filial.stopPercentCount }}</span>
          </td>
          <td>
            <span>{{ filial.stopPercentAmount | numberTransform }}</span>
          </td>

          <td>
            <span>{{ filial.tppStopCount }}</span>
          </td>
          <td>
            <span>{{ filial.tppStopAmount | numberTransform }}</span>
          </td>

          <td>
            <span>{{ filial.lawStopCount }}</span>
          </td>
          <td>
            <span>{{ filial.lawStopAmount | numberTransform }}</span>
          </td>

          <td>
            <span>{{ filial.mibStopCount }}</span>
          </td>
          <td>
            <span>{{ filial.mibStopAmount | numberTransform }}</span>
          </td>

          <td>
            <span>{{ filial.notarStopCount }}</span>
          </td>
          <td>
            <span>{{ filial.notarStopAmount | numberTransform }}</span>
          </td>

          <td>
            <span>{{ filial.lawEnfStopCount }}</span>
          </td>
          <td>
            <span>{{ filial.lawEnfStopAmount | numberTransform }}</span>
          </td>

          <!-- <td>
            <span>{{ filial.count }}</span>
          </td>
          <td>
            <span>{{ filial.amount }}</span>
          </td> -->
        </tr>

        <ng-container *ngFor="let client of filial.clients; let idx3 = index">
          <ng-container *ngIf="isClient === filial.branchMfo">
            <tr>
              <td></td>
              <td class="number">
                <span>{{ idx + 1 }}.{{ idx2 + 1 }}.{{ idx3 + 1 }}</span>
              </td>
              <td>
                <span>{{ client.clientFio }}</span>
              </td>
              <td>
                <span>{{ client.count }}</span>
              </td>
              <td>
                <span>{{ client.amount }}</span>
              </td>

              <td>
                <span>{{ client.tppCount }}</span>
              </td>
              <td>
                <span>{{ client.tppAmount }}</span>
              </td>

              <td>
                <span>{{ client.lawCount }}</span>
              </td>
              <td>
                <span>{{ client.lawAmount }}</span>
              </td>

              <td>
                <span>{{ client.mibCount }}</span>
              </td>
              <td>
                <span>{{ client.mibAmount }}</span>
              </td>

              <td>
                <span>{{ client.notarCount }}</span>
              </td>
              <td>
                <span>{{ client.notarAmount }}</span>
              </td>

              <td>
                <span>{{ client.lawEnfCount }}</span>
              </td>
              <td>
                <span>{{ client.lawEnfAmount }}</span>
              </td>

              <td>
                <span>{{ client.stopPercentCount }}</span>
              </td>
              <td>
                <span>{{ client.stopPercentAmount }}</span>
              </td>

              <td>
                <span>{{ client.tppStopCount }}</span>
              </td>
              <td>
                <span>{{ client.tppStopAmount }}</span>
              </td>

              <td>
                <span>{{ client.lawStopCount }}</span>
              </td>
              <td>
                <span>{{ client.lawStopAmount }}</span>
              </td>

              <td>
                <span>{{ client.mibStopCount }}</span>
              </td>
              <td>
                <span>{{ client.mibStopAmount }}</span>
              </td>

              <td>
                <span>{{ client.notarStopCount }}</span>
              </td>
              <td>
                <span>{{ client.notarStopAmount }}</span>
              </td>

              <td>
                <span>{{ client.lawEnfStopCount }}</span>
              </td>
              <td>
                <span>{{ client.lawEnfStopAmount }}</span>
              </td>

              <!-- <td>
                <span>{{ filial.count }}</span>
              </td>
              <td>
                <span>{{ filial.amount }}</span>
              </td> -->
            </tr>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </table>
</div>

<ng-template #loadBlock>
  <app-loader></app-loader>
</ng-template>
