<div class="h-100">
  <div
    class="page-header row no-gutters justify-content-between align-items-center"
  >
    <div class="page-title">
      <i class="uil-arrow-left" (click)="goToBack()"></i>
      Назад к списку кредитов
    </div>
    <div class="page-header__text">
      Шаг {{ clientsService.currentStep }}.
      {{ clientsService.currentStepTitle }}
    </div>
    <div
      class="page-actions row no-gutters justify-content-between align-items-center"
    >
      <div class="page-action__item mr-2" (click)="showHistory()">
        <i class="far fa-clock"></i>
        История
      </div>
    </div>
  </div>

  <div class="page-content">
    <div class="row align-items-start">
      <div class="col-lg-4 col-md-5 page-sticky">
        <div class="page-card">
          <div class="page-card__header px-3 pt-2">
            Проблемный кредит #45032
          </div>
          <div class="page-card__body">
            <div class="row page-card__details px-3">
              <div class="col-5">Сумма кредита по договору</div>
              <div class="col-7">5 000 000,00</div>
            </div>
            <div class="row page-card__details px-3">
              <div class="col-5">Дата начала кредита</div>
              <div class="col-7">29.01.2017</div>
            </div>
            <div class="row page-card__details px-3">
              <div class="col-5">Дата окончания кредита</div>
              <div class="col-7">29.01.2017</div>
            </div>
            <div class="row page-card__details px-3">
              <div class="col-5">Валюта кредита</div>
              <div class="col-7">UZS</div>
            </div>
            <div class="row page-card__details px-3">
              <div class="col-5">Процентная ставка</div>
              <div class="col-7">9 %</div>
            </div>
            <div class="row page-card__details px-3">
              <div class="col-5">Статус наращивания/ненаращивания</div>
              <div class="col-7">Статус наращивания</div>
            </div>
            <div class="row page-card__details px-3">
              <div class="col-5">Остаток текущего долга</div>
              <div class="col-7">0,00</div>
            </div>
            <div class="row page-card__details px-3">
              <div class="col-5">Остаток просроченного основного долга</div>
              <div class="col-7">291 000,00</div>
            </div>
            <div class="row page-card__details px-3">
              <div class="col-5">Остаток начисленных %</div>
              <div class="col-7">0,00</div>
            </div>
            <div class="row page-card__details px-3">
              <div class="col-5">Остаток просроченных %</div>
              <div class="col-7">1 503,76</div>
            </div>
            <div class="row page-card__details px-3">
              <div class="col-5">
                Остаток начисленных % по просроченному  основному долгу
              </div>
              <div class="col-7">0,00</div>
            </div>
            <div class="row page-card__details px-3">
              <div class="col-5">ФИО заемщика</div>
              <div class="col-7">Yunushodjaeva Shakhnoza Faruh...</div>
            </div>
            <div class="row page-card__details px-3">
              <div class="col-5">ФИО поручителя</div>
              <div class="col-7">Yunushodjaeva Shakhnoza Faruh...</div>
            </div>
            <div class="row page-card__details px-3">
              <div class="col-5">Номер договора</div>
              <div class="col-7">45032</div>
            </div>
            <div class="row page-card__details px-3">
              <div class="col-5">Дата заключения договора</div>
              <div class="col-7">29.01.2017</div>
            </div>
            <div class="row page-card__details px-3">
              <div class="col-5">Вид залога</div>
              <div class="col-7">Недвижимость</div>
            </div>
            <div class="row page-card__details px-3">
              <div class="col-5">Наименование залога</div>
              <div class="col-7">Мой дом на мальдивах</div>
            </div>
          </div>
          <div class="page-card__footer py-1">
            <div class="row page-card__details px-3">
              <div class="col-5">ИТОГО задолженность</div>
              <div class="col-7 text-danger">292 503,76</div>
            </div>
            <div class="row page-card__details px-3">
              <div class="col-5">ИТОГО задолженность</div>
              <div class="col-7">292 503,76</div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-lg-8 col-md-7 bg-white">
        <app-stepper-wrapper class="page-stepper">
          <app-step
            [stepTitle]="'Отправка оповещения должнику'"
            [stepDoneText]="'Должник оповещен'"
            [step]="1"
          >
            <div step-content>
              <app-send-alert-step [step]="1"></app-send-alert-step>
            </div>
          </app-step>
          <app-step
            [stepTitle]="'Отправка заявки в палату'"
            [stepDoneText]="'Заявка отравлена в палату'"
            [step]="2"
            [status]=""
            #appSend
          >
            <div step-content>
              <app-send-application-step [step]="2" (status)="appSend.status = $event"></app-send-application-step>
            </div>
          </app-step>
          <app-step
            [stepTitle]="'Внесение решения палаты'"
            [stepDoneText]="'Принято решение о передаче дела в суд'"
            [step]="3"
          >
            <div step-content>
              <app-chambers-decision-step></app-chambers-decision-step>
            </div>
          </app-step>
          <app-step
            [stepTitle]="'Подготовка дела для отправки в суд'"
            [stepDoneText]="'Дело отправлено в суд'"
            [step]="4"
          >
            <div step-content>
              <app-sending-court-step></app-sending-court-step>
            </div>
          </app-step>
          <app-step
            [stepTitle]="'Получение и внесение ответа от суда'"
            [stepDoneText]="'Получено решение суда'"
            [step]="5"
          >
            <div step-content>
              <app-response-court-step></app-response-court-step>
            </div>
          </app-step>
          <app-step
            [stepTitle]="'Ответ суда первой инстанции'"
            [stepDoneText]="'Ответ получен'"
            [step]="6"
          >
            <div step-content>
              <app-first-instance-step></app-first-instance-step>
            </div>
          </app-step>
          <app-step
            [stepTitle]="'Апелляция / Кассация'"
            [stepDoneText]="'Шаг пройден'"
            [step]="6.1"
          >
            <div step-content>
              <app-appeal-step></app-appeal-step>
            </div>
          </app-step>
          <app-step
            [stepTitle]="'Надзор / Протест'"
            [stepDoneText]="'Шаг пройден'"
            [step]="6.2"
          >
            <div step-content>
              <app-protest-step></app-protest-step>
            </div>
          </app-step>
          <app-step
            [stepTitle]="'Подготовка дела для отправки в МИБ'"
            [stepDoneText]="'Дело подготовлено'"
            [step]="7"
          >
            <div step-content>
              <app-sending-mib-step></app-sending-mib-step>
            </div>
          </app-step>
          <app-step
            [stepTitle]="'Получение и внесение ответа от МИБ'"
            [stepDoneText]="'Ответ внесен'"
            [step]="8"
          >
            <div step-content>
              <app-response-mib-step></app-response-mib-step>
            </div>
          </app-step>
          <app-step
            [stepTitle]="
              'Внесение данных о выставленных залогов клиента в аукционах #1'
            "
            [stepDoneText]="'Данные внесены'"
            [step]="9"
          >
            <div step-content>
              <app-outstanding-auction-step></app-outstanding-auction-step>
            </div>
          </app-step>
          <app-step
            [stepTitle]="'Прекращение исполнительного производства'"
            [stepDoneText]="'Шаг пройден'"
            [step]="10"
          >
            <div step-content>
              <app-terminate-process-step></app-terminate-process-step>
            </div>
          </app-step>
          <app-step
            [stepTitle]="'Принятие имущества на баланс'"
            [stepDoneText]="'Шаг пройден'"
            [step]="11"
          >
            <div step-content>
              <app-accept-property-step></app-accept-property-step>
            </div>
          </app-step>
          <app-step
            [stepTitle]="'Итог дела'"
            [stepDoneText]="'Шаг пройден'"
            [step]="12"
          >
            <div step-content>
              <app-final-step></app-final-step>
            </div>
          </app-step>
        </app-stepper-wrapper>
      </div> -->
    </div>
  </div>
</div>
