<div class="h-100">
  <div
    class="page-header row no-gutters justify-content-between align-items-center"
  >
    <div class="page-title">
      <i class="uil-arrow-left" (click)="goToBack()"></i>
      Назад к списку кредитов
    </div>
    <div class="page-header__text">
      Шаг 1. Отправка оповещения должнику. Исполнитель
    </div>
    <div
      class="page-actions row no-gutters justify-content-between align-items-center"
    >
      <div class="page-action__item mr-2">
        <i class="far fa-clock"></i>
        История
      </div>
    </div>
  </div>

  <div class="page-content row no-gutters align-items-start">
    <div class="page-card">
      <div class="page-card__header px-3 pt-2">Проблемный кредит #45032</div>
      <div class="page-card__body">
        <div class="page-card__details px-3">
          <span>Сумма кредита по договору</span>
          <span>5 000 000,00</span>
        </div>
        <div class="page-card__details px-3">
          <span>Дата начала кредита</span>
          <span>29.01.2017</span>
        </div>
        <div class="page-card__details px-3">
          <span>Дата окончания кредита</span>
          <span>29.01.2017</span>
        </div>
        <div class="page-card__details px-3">
          <span>Валюта кредита</span>
          <span>UZS</span>
        </div>
        <div class="page-card__details px-3">
          <span>Процентная ставка</span>
          <span>9 %</span>
        </div>
        <div class="page-card__details px-3">
          <span>Статус наращивания/ненаращивания</span>
          <span>Статус наращивания</span>
        </div>
        <div class="page-card__details px-3">
          <span>Остаток текущего долга</span>
          <span>0,00</span>
        </div>
        <div class="page-card__details px-3">
          <span>Остаток просроченного основного долга</span>
          <span>291 000,00</span>
        </div>
        <div class="page-card__details px-3">
          <span>Остаток начисленных %</span>
          <span>0,00</span>
        </div>
        <div class="page-card__details px-3">
          <span>Остаток просроченных %</span>
          <span>1 503,76</span>
        </div>
        <div class="page-card__details px-3">
          <span>Остаток начисленных % по просроченному  основному долгу</span>
          <span>0,00</span>
        </div>
        <div class="page-card__details px-3">
          <span>ФИО заемщика</span>
          <span>Yunushodjaeva Shakhnoza Faruh...</span>
        </div>
        <div class="page-card__details px-3">
          <span>ФИО поручителя</span>
          <span>Yunushodjaeva Shakhnoza Faruh...</span>
        </div>
        <div class="page-card__details px-3">
          <span>Номер договора</span>
          <span>45032</span>
        </div>
        <div class="page-card__details px-3">
          <span>Дата заключения договора</span>
          <span>29.01.2017</span>
        </div>
        <div class="page-card__details px-3">
          <span>Вид залога</span>
          <span>Недвижимость</span>
        </div>
        <div class="page-card__details px-3">
          <span>Наименование залога</span>
          <span>Мой дом на мальдивах</span>
        </div>
      </div>
      <div class="page-card__footer py-1">
        <div class="page-card__details px-3">
          <span>ИТОГО задолженность</span>
          <span class="text-danger">292 503,76</span>
        </div>
        <div class="page-card__details px-3">
          <span>ИТОГО задолженность</span>
          <span>292 503,76</span>
        </div>
      </div>
    </div>

    <div class="page-stepper">
      <details class="step step-current" open>
<!--        <div class="divider divider-current"></div>-->
        <summary class="header">
          <div class="indicator mr-2 current-step">
              <div class="check">
                <i class="uil-check"></i>
              </div>
            1
          </div>
          <div class="title">
            Отправка оповещения должнику
          </div>
        </summary>
        <div class="content pl-5">
          <form action="" class="page-form">
            <div class="file_field">
              <div class="file-field__title mb-1">
                Прикрепить скан документа
              </div>
              <div class="file-field__list mb-2">
                <div *ngFor="let item of uploadFiles; index as i" class="file-field__list_item py-1">
                  <svg viewBox="0 0 36 36" class="circular-chart default" *ngIf="item.fileUploaded < 100">
                    <path
                      class="circle-bg"
                      d="M18 2.0845
                      a 15.9155 15.9155 0 0 1 0 31.831
                      a 15.9155 15.9155 0 0 1 0 -31.831"
                    ></path>
                    <path
                      class="circle"
                      attr.stroke-dasharray="{{item.fileUploaded}}, 100"
                      d="M18 2.0845
                      a 15.9155 15.9155 0 0 1 0 31.831
                      a 15.9155 15.9155 0 0 1 0 -31.831"
                    ></path>
                  </svg>
                  <i *ngIf="item.fileUploaded === 100" class="icon-attach mr-1"></i>
                  <div class="file-field__list_text ml-1">
                    {{ item.fileName }}
                  </div>
                  <div class="position-relative">
                    <i
                      class="icon-close_2 ml-1"
                      (click)="showTooltip($event)"
                    ></i>
                    <div class="tooltip tooltip-right">
                      <div class="tooltip-content">
                        Удалить файл?
                      </div>
                      <div class="tooltip-action">
                        <button
                          class="btn btn-outlined-white mx-1"
                          (click)="hideTooltip($event)"
                        >
                          Нет
                        </button>
                        <button class="btn btn-filled-white">Да</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <label class="file-field__uploadbtn mb-2">
                Добавить файл
                <input type="file" multiple (change)="fileUploadService.poster($event)"/>
              </label>
              <button
                class="page-form__actionbtn text-uppercase"
              >
                отправить оповещение
              </button>
            </div>
          </form>
        </div>
      </details>
      <details class="step" open>
<!--        <div class="divider divider-current"></div>-->
        <summary class="header">
          <div class="indicator mr-2 current-step">
              <div class="check">
                <i class="uil-check"></i>
              </div>
            2
          </div>
          <div class="title">
            Отправка заявки в палату
          </div>
        </summary>
        <div class="content pl-5">
          <form action="" class="page-form">
            <div class="row no-gutters justify-content-between mb-2">
              <div class="input-field mr-1">
                <div class="input-field__title">№ исходящего документа</div>
                <label class="input-field__label">
                  <input type="text" autocomplete="off" />
                </label>
              </div>
              <div class="input-field ml-1">
                <div class="input-field__title">Дата исх. документа</div>
                <label class="input-field__label">
                  <input type="text" class="outDocDate" readonly/>
                  <i class="icon-calendar"></i>
                </label>
              </div>
            </div>
            <div class="file_field">
              <div class="file-field__title mb-1">
                Прикрепить скан документа
              </div>
              <div class="file-field__list mb-2">
                <div *ngFor="let item of uploadFiles; index as i" class="file-field__list_item py-1">
                  <svg viewBox="0 0 36 36" class="circular-chart default" *ngIf="item.fileUploaded < 100">
                    <path
                      class="circle-bg"
                      d="M18 2.0845
                      a 15.9155 15.9155 0 0 1 0 31.831
                      a 15.9155 15.9155 0 0 1 0 -31.831"
                    ></path>
                    <path
                      class="circle"
                      attr.stroke-dasharray="{{item.fileUploaded}}, 100"
                      d="M18 2.0845
                      a 15.9155 15.9155 0 0 1 0 31.831
                      a 15.9155 15.9155 0 0 1 0 -31.831"
                    ></path>
                  </svg>
                  <i *ngIf="item.fileUploaded === 100" class="icon-attach mr-1"></i>
                  <div class="file-field__list_text ml-1">
                    {{ item.fileName }}
                  </div>
                  <div class="position-relative">
                    <i
                      class="icon-close_2 ml-1"
                      (click)="showTooltip($event)"
                    ></i>
                    <div class="tooltip tooltip-right">
                      <div class="tooltip-content">
                        Удалить файл?
                      </div>
                      <div class="tooltip-action">
                        <button
                          class="btn btn-outlined-white mx-1"
                          (click)="hideTooltip($event)"
                        >
                          Нет
                        </button>
                        <button class="btn btn-filled-white">Да</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <label class="file-field__uploadbtn mb-2">
                Добавить файл
                <input type="file" multiple (change)="fileUploadService.poster($event)"/>
              </label>
              <button
                class="page-form__actionbtn text-uppercase"
              >
                отправить оповещение
              </button>
            </div>
          </form>
        </div>
      </details>

    </div>
  </div>
</div>
