<div class="h-100">
  <div
    class="page-header row no-gutters justify-content-between align-items-center"
  >
    <div class="page-title">
      <i class="uil-arrow-left" (click)="goToBack()"></i>
      Назад к списку кредитов
    </div>
    <div class="page-header__text">
      Шаг 1. Отправка оповещения должнику. Исполнитель
    </div>
    <div
      class="page-actions row no-gutters justify-content-between align-items-center"
    >
      <div class="page-action__item mr-2">
        <i class="far fa-clock"></i>
        История
      </div>
    </div>
  </div>

  <div class="page-content row no-gutters align-items-start">
    <div class="page-card">
      <div class="page-card__header px-3 pt-2">Проблемный кредит #45032</div>
      <div class="page-card__body">
        <div class="page-card__details px-3">
          <span>Сумма кредита по договору</span>
          <span>5 000 000,00</span>
        </div>
        <div class="page-card__details px-3">
          <span>Дата начала кредита</span>
          <span>29.01.2017</span>
        </div>
        <div class="page-card__details px-3">
          <span>Дата окончания кредита</span>
          <span>29.01.2017</span>
        </div>
        <div class="page-card__details px-3">
          <span>Валюта кредита</span>
          <span>UZS</span>
        </div>
        <div class="page-card__details px-3">
          <span>Процентная ставка</span>
          <span>9 %</span>
        </div>
        <div class="page-card__details px-3">
          <span>Статус наращивания/ненаращивания</span>
          <span>Статус наращивания</span>
        </div>
        <div class="page-card__details px-3">
          <span>Остаток текущего долга</span>
          <span>0,00</span>
        </div>
        <div class="page-card__details px-3">
          <span>Остаток просроченного основного долга</span>
          <span>291 000,00</span>
        </div>
        <div class="page-card__details px-3">
          <span>Остаток начисленных %</span>
          <span>0,00</span>
        </div>
        <div class="page-card__details px-3">
          <span>Остаток просроченных %</span>
          <span>1 503,76</span>
        </div>
        <div class="page-card__details px-3">
          <span>Остаток начисленных % по просроченному  основному долгу</span>
          <span>0,00</span>
        </div>
        <div class="page-card__details px-3">
          <span>ФИО заемщика</span>
          <span>Yunushodjaeva Shakhnoza Faruh...</span>
        </div>
        <div class="page-card__details px-3">
          <span>ФИО поручителя</span>
          <span>Yunushodjaeva Shakhnoza Faruh...</span>
        </div>
        <div class="page-card__details px-3">
          <span>Номер договора</span>
          <span>45032</span>
        </div>
        <div class="page-card__details px-3">
          <span>Дата заключения договора</span>
          <span>29.01.2017</span>
        </div>
        <div class="page-card__details px-3">
          <span>Вид залога</span>
          <span>Недвижимость</span>
        </div>
        <div class="page-card__details px-3">
          <span>Наименование залога</span>
          <span>Мой дом на мальдивах</span>
        </div>
      </div>
      <div class="page-card__footer py-1">
        <div class="page-card__details px-3">
          <span>ИТОГО задолженность</span>
          <span class="text-danger">292 503,76</span>
        </div>
        <div class="page-card__details px-3">
          <span>ИТОГО задолженность</span>
          <span>292 503,76</span>
        </div>
      </div>
    </div>

    <div class="page-stepper" [ngSwitch]="clientService.currentStep">
      <div class="step step-current" #step>
        <div
          class="divider"
          [class.divider-current]="
            clientService.currentStep === step.getAttribute('stepnumber')
          "
        ></div>
        <div class="header">
          <div
            class="indicator mr-2"
            [class.current-step]="
              clientService.currentStep === step.getAttribute('stepnumber')
            "
          >
            <div class="check">
              <i class="uil-check"></i>
            </div>
            {{ step.getAttribute("stepnumber") }}
          </div>
          <div class="title">Отправка оповещения должнику</div>
        </div>
        <div class="content pl-5" *ngSwitchCase="1">
          <app-send-alert-step></app-send-alert-step>
        </div>
      </div>
      <div class="step step-current" #step2>
        <div
          class="divider"
          [class.divider-current]="
            clientService.currentStep === step2.getAttribute('stepnumber')
          "
        ></div>
        <div class="header">
          <div
            class="indicator mr-2"
            [class.current-step]="
              clientService.currentStep === step2.getAttribute('stepnumber')
            "
          >
            <div class="check">
              <i class="uil-check"></i>
            </div>
            {{ step2.getAttribute("stepnumber") }}
          </div>
          <div class="title">Отправка заявки в палату</div>
        </div>
        <div class="content pl-5" *ngSwitchCase="2">
          <app-send-application-step></app-send-application-step>
        </div>
      </div>
    </div>
  </div>
</div>
