<div class="lawsuitTitleWrap">
  <h2 class="lawsuitTitle">
    {{
      formTemplate
        ? formTemplate.lang[lawsuitService.translate.currentLang]
        : action?.actionNameLang[lawsuitService.translate.currentLang]
    }}
  </h2>
  <button
    *ngIf="!formTemplate"
    class="remove_action_form__btn"
    (click)="this.lawsuitService.removeActionForm(action.actionId)"
  >
    <i class="uil-times"></i>
  </button>
</div>
<form class="page-form" [formGroup]="form" (ngSubmit)="submit(action.actionId)">
  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-12">
      <div class="input-field">
        <div class="input-field__title">{{ "lotNumber" | translate }}</div>
        <label
          class="input-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <input type="text" autocomplete="off" formControlName="lotNumber" />
        </label>

        <div
          *ngIf="
            form.get('lotNumber')?.touched && form.get('lotNumber')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('lotNumber')?.errors?.required">
            {{ "enter_data" | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-12">
      <div class="input-field">
        <div class="input-field__title">{{ "beginDateLot" | translate }}</div>
        <label
          class="input-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <!--        <input type="text" class="datepicker-here" readonly />-->
          <input
            class="input-box"
            angular-mydatepicker
            name="reactiveFormsDate"
            formControlName="beginDateLot"
            [options]="myDpOptions"
            #dp="angular-mydatepicker"
            [locale]="lawsuitService.translate.currentLang"
          />
          <i class="icon-calendar" (click)="dp.toggleCalendar()"></i>
        </label>

        <div
          *ngIf="
            form.get('beginDateLot')?.touched &&
            form.get('beginDateLot')?.invalid
          "
          class="validation"
        >
          <small
            *ngIf="
              form.controls.beginDateLot.errors &&
              form.controls.beginDateLot.errors.required &&
              !form.controls.beginDateLot.errors.invalidDateFormat
            "
          >
            {{ "enter_data" | translate }}
          </small>
          <small
            *ngIf="
              form.controls.beginDateLot.errors &&
              form.controls.beginDateLot.errors.invalidDateFormat
            "
          >
            {{ "incorrect_data" | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-12">
      <div class="input-field">
        <div class="input-field__title">{{ "endDateLot" | translate }}</div>
        <label
          class="input-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <!--        <input type="text" class="datepicker-here" readonly />-->
          <input
            class="input-box"
            angular-mydatepicker
            name="reactiveFormsDate"
            formControlName="endDateLot"
            [options]="myDpOptions"
            #dp2="angular-mydatepicker"
            [locale]="lawsuitService.translate.currentLang"
          />
          <i class="icon-calendar" (click)="dp2.toggleCalendar()"></i>
        </label>

        <div
          *ngIf="
            form.get('endDateLot')?.touched && form.get('endDateLot')?.invalid
          "
          class="validation"
        >
          <small
            *ngIf="
              form.controls.endDateLot.errors &&
              form.controls.endDateLot.errors.required &&
              !form.controls.endDateLot.errors.invalidDateFormat
            "
          >
            {{ "enter_data" | translate }}
          </small>
          <small
            *ngIf="
              form.controls.endDateLot.errors &&
              form.controls.endDateLot.errors.invalidDateFormat
            "
          >
            {{ "incorrect_data" | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-12">
      <div class="input-field">
        <div class="input-field__title">{{ "lotSum" | translate }}</div>
        <label
          class="input-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <input type="text" autocomplete="off" formControlName="lotSum" />
        </label>

        <div
          *ngIf="form.get('lotSum')?.touched && form.get('lotSum')?.invalid"
          class="validation"
        >
          <small *ngIf="form.get('lotSum')?.errors?.required">
            {{ "enter_data" | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row justify-content-between align-items-end mb-2">
    <div class="col-12">
      <div class="input-field">
        <div class="input-field__title">Дата конец первого торга</div>
        <label
          class="input-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <input
            class="input-box"
            angular-mydatepicker
            name="reactiveFormsDate"
            formControlName="endDateLot"
            [options]="myDpOptions"
            #dp2="angular-mydatepicker"
            [locale]="lawsuitService.translate.currentLang"
          />
          <i class="icon-calendar" (click)="dp2.toggleCalendar()"></i>
        </label>

        <div
          *ngIf="
            form.get('endDateLot')?.touched && form.get('endDateLot')?.invalid
          "
          class="validation"
        >
          <small
            *ngIf="
              form.controls.endDateLot.errors &&
              form.controls.endDateLot.errors.required &&
              !form.controls.endDateLot.errors.invalidDateFormat
            "
          >
            {{'enter_data' | translate}}
          </small>
          <small
            *ngIf="
              form.controls.endDateLot.errors &&
              form.controls.endDateLot.errors.invalidDateFormat
            "
          >
            {{'incorrect_data' | translate}}
          </small>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="row justify-content-between align-items-end mb-2">
    <div class="col-12">
      <div class="select-field">
        <div class="select-field__title">Выбор результата Лота</div>
        <ng-select
          appearance="outline"
          [items]="dictionaries?.result"
          bindLabel="{{ 'lang.' + lawsuitService.translate.currentLang }}"
          bindValue="id"
          placeholder="Выбор"
          #agreeSelect
          labelForId="yesno"
          [searchable]="false"
          formControlName="result"
        ></ng-select>
        <div
          *ngIf="form.get('result')?.touched && form.get('result')?.invalid"
          class="validation"
        >
          <small *ngIf="form.get('result')?.errors?.required">
            {{'select_data' | translate}}
          </small>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-12">
      <app-file-uploader
        [formTemplate]="formTemplate"
        title="{{ 'attach_file' | translate }}"
      ></app-file-uploader>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-12">
      <div class="text-field">
        <div class="text-field__title">
          {{ "additional_information" | translate }}
        </div>
        <label
          class="text-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <textarea
            placeholder="{{ 'specify_details' | translate }}"
            formControlName="addInfo"
          ></textarea>
        </label>

        <div
          *ngIf="form.get('addInfo')?.touched && form.get('addInfo')?.invalid"
          class="validation"
        >
          <small *ngIf="form.get('addInfo')?.errors?.required">
            {{ "enter_data" | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <button
    *ngIf="!formTemplate"
    type="submit"
    class="page-form__actionbtn text-uppercase add"
    [disabled]="form.invalid || submitted"
  >
    {{ "send" | translate }}
  </button>
</form>
