<div
  class="app-navbar row no-gutters justify-content-between align-items-stretch"
>
  <!-- <pre> {{ keycloak.loadUserProfile }}</pre> -->

  <div class="app-navbar_menu">
    <div
      *ngIf="
        keycloak.isUserInRole('lawyer') || keycloak.isUserInRole('head-lawyer');
        else monitoring
      "
      class="app-navbar_wrapper row no-gutters justify-content-between"
    >
      <div
        class="app-navbar_item px-2"
        style="
          margin-left: 186px;
          border-left: 1px solid rgba(255, 255, 255, 0.1);
        "
        routerLink="/clients"
        routerLinkActive="active-link"
      >
        <i class="icon-group mr-1" style="font-size: 38px"></i>
        {{ "clients" | translate }}
      </div>

      <!-- <div class="app-navbar_item px-2" style="">
      <i class="icon-document_1 mr-1"></i>
      Документы
      <i class="uil-angle-down"></i>
    </div> -->
      <!-- <div class="app-navbar_item px-2">
      <i class="icon-pie_chart mr-1"></i>
      Статистика
    </div> -->
      <!-- <div class="app-navbar_item px-2" routerLink="/claims">
      <i class="icon-list mr-1"></i>
      Заявки по ущербам
    </div> -->
    </div>

    <ng-template #monitoring>
      <div
        class="app-navbar_item px-2"
        style="
          margin-left: 186px;
          border-left: 1px solid rgba(255, 255, 255, 0.1);
        "
        *ngIf="keycloak.isUserInRole('monitoring'); else adminMenu"
        class="app-navbar_item px-2"
        routerLink="/monitoring"
        routerLinkActive="active-link"
      >
        <i class="icon-group mr-1" style="font-size: 38px"></i>
        {{ "monitoring" | translate }}
      </div>
    </ng-template>

    <ng-template #adminMenu>
      <div
        class="app-navbar_item px-2"
        style="
          margin-left: 186px;
          border-left: 1px solid rgba(255, 255, 255, 0.1);
        "
        routerLink="/admin/listUser"
        routerLinkActive="active-link"
      >
        <i class="icon-group mr-1" style="font-size: 38px"></i>
        {{ "access" | translate }}
      </div>

      <div
        class="app-navbar_item px-2"
        style="border-left: 1px solid rgba(255, 255, 255, 0.1)"
        routerLink="/admin/stopProcessMfos"
        routerLinkActive="active-link"
      >
        <i class="uil-pause-circle" style="font-size: 30px"></i>
        {{ "cases_on_hold" | translate }}
      </div>
    </ng-template>
  </div>

  <div class="app-navbar_wrapper row no-gutters justify-content-between">
    <!-- <div
      *ngIf="keycloak.isUserInRole('lawyer')"
      class="app-navbar_item px-2"
      style="border-left: 1px solid rgba(255, 255, 255, 0.1)"
      routerLink="/search"
    >
      <i class="uil-search mr-1"></i>
      Поиск
    </div> -->
    <div class="langBlock">
      <button
        [class]="lawsuitService.translate.currentLang === 'ru' ? 'active' : ''"
        (click)="useLanguage('ru')"
      >
        Ру
      </button>
      <button
        [class]="lawsuitService.translate.currentLang === 'uz' ? 'active' : ''"
        (click)="useLanguage('uz')"
      >
        Uz
      </button>
    </div>

    <div
      class="app-navbar_item px-2"
      style="border-left: 1px solid rgba(255, 255, 255, 0.1)"
    >
      <i class="icon-user notification mr-1"></i>
      <!-- {{
        keycloak.isUserInRole("head-lawyer")
          ? "{{'head_lawyer' | translate}}"
          : keycloak.isUserInRole("lawyer")
          ? "{{'lawyer' | translate}}"
          : keycloak.isUserInRole("monitoring")
          ? "Мониторинг"
          : "Админ"
      }} -->

      {{ profile?.lastName }} {{ profile?.firstName }}
      {{ profile?.attributes?.middleName }}
    </div>
    <div
      *ngIf="!keycloak.isUserInRole('admin')"
      class="app-navbar_item px-2"
      style="border-left: 1px solid rgba(255, 255, 255, 0.1)"
      (click)="showNotifications()"
    >
      <i class="icon-notification notification"></i>
    </div>
    <!-- <div
      class="app-navbar_item px-2"
      style="border-left: 1px solid rgba(255, 255, 255, 0.1)"
    >
      <i class="icon-setting"></i>
    </div> -->
    <div
      class="app-navbar_item px-2"
      style="border-left: 1px solid rgba(255, 255, 255, 0.1)"
      (click)="keycloak.logout()"
    >
      <i class="icon-power"></i>
    </div>
  </div>
</div>
