<div
  class="app-navbar row no-gutters justify-content-between align-items-stretch"
>
  <div
    *ngIf="!auth.currentUser.roles.includes(2); else adminMenu"
    class="app-navbar_wrapper row no-gutters justify-content-between"
  >
    <div
      class="app-navbar_item px-2"
      style="
        margin-left: 186px;
        border-left: 1px solid rgba(255, 255, 255, 0.1);
      "
      routerLink="clients"
    >
      <i class="icon-group mr-1" style="font-size: 38px"></i>
      Клиенты
    </div>
    <div class="app-navbar_item px-2" style="">
      <i class="icon-document_1 mr-1"></i>
      Документы
      <i class="uil-angle-down"></i>
    </div>
    <div class="app-navbar_item px-2">
      <i class="icon-pie_chart mr-1"></i>
      Статистика
    </div>
    <div class="app-navbar_item px-2" routerLink="/claims">
      <i class="icon-list mr-1"></i>
      Заявки по ущербам
    </div>
  </div>

  <ng-template #adminMenu>
    <div
      class="app-navbar_item px-2"
      style="
        margin-left: 186px;
        border-left: 1px solid rgba(255, 255, 255, 0.1);
      "
      routerLink="/admin/listUser"
    >
      <i class="icon-group mr-1" style="font-size: 38px"></i>
      Доступы
    </div>
  </ng-template>

  <div class="app-navbar_wrapper row no-gutters justify-content-between">
    <div
      *ngIf="!auth.currentUser.roles.includes(2)"
      class="app-navbar_item px-2"
      style="border-left: 1px solid rgba(255, 255, 255, 0.1)"
      routerLink="/search"
    >
      <i class="uil-search mr-1"></i>
      Поиск
    </div>
    <div
      class="app-navbar_item px-2"
      style="border-left: 1px solid rgba(255, 255, 255, 0.1)"
    >
      <i class="icon-user notification mr-1"></i>
      <!-- Исполнитель юрист -->
      {{ auth.currentUser.username }}
    </div>
    <div
      class="app-navbar_item px-2"
      style="border-left: 1px solid rgba(255, 255, 255, 0.1)"
      (click)="showNotifications()"
    >
      <i class="icon-notification notification"></i>
    </div>
    <div
      class="app-navbar_item px-2"
      style="border-left: 1px solid rgba(255, 255, 255, 0.1)"
    >
      <i class="icon-setting"></i>
    </div>
    <div
      class="app-navbar_item px-2"
      style="border-left: 1px solid rgba(255, 255, 255, 0.1)"
      (click)="logout()"
    >
      <i class="icon-power"></i>
    </div>
  </div>
</div>
