.page-table__th:nth-last-child(1),
.page-table__td:nth-last-child(1) {
  flex: 0 1 80px;
}

.page-table__th:nth-child(1),
.page-table__td:nth-child(1) {
  justify-content: center;
}

.page-table__td {
  padding: 0;
  height: 50px;

  .disc {
    width: 8px;
    height: 8px;
    margin-right: 10px;
    border-radius: 50%;

    // &::before {
    //   content: "\2022";
    //   position: absolute;
    // }
  }
}

.active {
  color: #4cc015;

  .disc {
    background: #4cc015;
  }
}

.passive {
  color: rgb(224, 94, 94);
  .disc {
    background: rgb(224, 94, 94);
  }
}

.notUserss {
  height: calc(100% - 60px);
}
