<div class="h-100">
  <div class="page-header d-flex justify-content-between align-items-center">
    <div class="d-flex">
      <div class="back">
        <small>Список доступов</small>
      </div>
      <a
        [routerLink]="['/admin', 'addUser']"
        class="createApp d-flex align-items-center align-self-center ml-4"
      >
        <i class="uil-plus"></i><small>Добавить доступ</small>
      </a>
    </div>

    <div class="searchBlock ml-4">
      <i class="icon-search"></i>
      <input type="text" #search placeholder="Поиск" />
    </div>

    <div class="d-flex paginationBlock">
      <div class="d-flex align-items-center">
        <small class="paginationTitle">Строк на странице:</small>
        <ng-select
          class="my-select"
          [items]="pages"
          [(ngModel)]="itemsPerPage"
          (change)="pageChanged(1)"
          [clearable]="false"
          #agreeSelect
        ></ng-select>
      </div>

      <pagination-controls
        class="my-pagination"
        (pageChange)="pageChanged($event)"
        previousLabel=""
        nextLabel=""
        [autoHide]="true"
      ></pagination-controls>
    </div>
  </div>
  <div class="h-100" *ngIf="!loading; else loadingBlock">
    <div *ngIf="users.length; else notUsers" class="page-table">
      <div class="page-table__header">
        <div class="page-table__tr">
          <div
            class="page-table__tr__wrapper row no-gutters justify-content-between align-items-center w-100"
          >
            <div class="page-table__th">#</div>
            <div class="page-table__th">ФИО</div>
            <div class="page-table__th">Логин</div>
            <div class="page-table__th">Роль</div>
            <div class="page-table__th">Участок</div>
            <div class="page-table__th">Статус</div>
            <div class="page-table__th"></div>
          </div>
        </div>
      </div>
      <div class="page-table__body">
        <div
          *ngFor="
            let user of users
              | paginate
                : {
                    itemsPerPage: itemsPerPage,
                    currentPage: currentPage,
                    totalItems: totalItems
                  };
            let idx = index
          "
          class="page-table__tr"
        >
          <div
            class="page-table__tr__wrapper row no-gutters justify-content-between align-items-center w-100"
          >
            <div
              [routerLink]="['/admin', 'editUser', user.id]"
              class="page-table__td"
            >
              {{ idx + 1 }}
            </div>
            <div
              [routerLink]="['/admin', 'editUser', user.id]"
              class="page-table__td text-capitalize"
            >
              {{ user.last_name }} {{ user.first_name }} {{ user.middle_name }}
            </div>
            <div
              [routerLink]="['/admin', 'editUser', user.id]"
              class="page-table__td"
            >
              {{ user.username }}
            </div>
            <div
              [routerLink]="['/admin', 'editUser', user.id]"
              class="page-table__td"
            >
              {{ user.roles.join(", ") }}
            </div>
            <div
              [routerLink]="['/admin', 'editUser', user.id]"
              class="page-table__td"
            >
              {{ user.mfo.join(", ") }}
            </div>
            <div
              [routerLink]="['/admin', 'editUser', user.id]"
              class="page-table__td"
            >
              <p
                class="active row align-items-center m-0"
                *ngIf="user.status === 1; else notActive"
              >
                <small class="disc"></small>Активен
              </p>

              <ng-template #notActive>
                <p class="passive row align-items-center m-0">
                  <small class="disc"></small>Не активен
                </p>
              </ng-template>
            </div>

            <div class="page-table__td">
              <i
                (click)="confirmToggleActiveteUser(user)"
                [class]="
                  user.status === 1 ? 'iconly-boldLock' : 'iconly-boldUnlock'
                "
                class="btnIcon mr-1"
              >
                <small class="tooltipAdmin">Приостановить доступ</small> </i
              ><i
                (click)="confirmRemoveUser(user)"
                class="btnIcon iconly-boldDelete mr-1"
              >
                <small class="tooltipAdmin">Удалить пользователя</small>
              </i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #notUsers>
      <div
        class="notUserss d-flex align-items-center justify-content-center w-100"
      >
        <h2 class="">Нет пользователей. Добавьте пользователей.</h2>
      </div>
    </ng-template>
  </div>
  <ng-template #loadingBlock>
    <app-loader></app-loader>
  </ng-template>
</div>
