<div class="h-100">
  <div class="page-header d-flex justify-content-between align-items-center">
    <div class="d-flex">
      <div class="back">
        <small>{{ "accessList" | translate }}</small>
      </div>
      <a
        [routerLink]="['/admin', 'addUser']"
        class="createApp d-flex align-items-center align-self-center ml-4"
      >
        <i class="uil-plus"></i><small>{{ "addAccess" | translate }}</small>
      </a>
    </div>

    <div class="searchBlock ml-4">
      <i class="icon-search"></i>
      <input type="text" #search placeholder="{{ 'search' | translate }}" />
    </div>

    <div class="d-flex paginationBlock">
      <div class="d-flex align-items-center">
        <small class="paginationTitle">{{ "count_page" | translate }}:</small>
        <ng-select
          class="my-select"
          [items]="pages"
          [(ngModel)]="itemsPerPage"
          (change)="pageChanged(0)"
          bindLabel="label"
          bindValue="value"
          [clearable]="false"
          [searchable]="false"
          #agreeSelect
        >
          <ng-template ng-option-tmp let-item="item" ng-label-tmp>
            <div title="item">
              {{ item.label | translate }}
            </div>
          </ng-template>
        </ng-select>
      </div>

      <pagination-controls
        class="my-pagination"
        (pageChange)="pageChanged($event)"
        previousLabel=""
        nextLabel=""
        [autoHide]="true"
      ></pagination-controls>
    </div>
  </div>
  <div class="h-100" *ngIf="!loading; else loadingBlock">
    <div *ngIf="users.length; else notUsers" class="page-table">
      <div class="page-table__header">
        <div class="page-table__tr">
          <div
            class="page-table__tr__wrapper row no-gutters justify-content-between align-items-center w-100"
          >
            <div class="page-table__th">#</div>
            <div class="page-table__th">{{ "fio" | translate }}</div>
            <div class="page-table__th">{{ "login" | translate }}</div>
            <div class="page-table__th">{{ "role" | translate }}</div>
            <div class="page-table__th">{{ "plot" | translate }}</div>
            <div class="page-table__th">{{ "status" | translate }}</div>
            <div class="page-table__th"></div>
          </div>
        </div>
      </div>
      <div class="page-table__body">
        <div
          *ngFor="
            let user of users
              | paginate
                : {
                    itemsPerPage: itemsPerPage,
                    currentPage: currentPage,
                    totalItems: totalItems
                  };
            let idx = index
          "
          class="page-table__tr"
        >
          <div
            class="page-table__tr__wrapper row no-gutters justify-content-between align-items-center w-100"
          >
            <div
              [routerLink]="['/admin', 'editUser', user.id]"
              class="page-table__td"
            >
              {{ idx + 1 }}
            </div>
            <div
              [routerLink]="['/admin', 'editUser', user.id]"
              class="page-table__td text-capitalize"
            >
              {{ user.lastName }} {{ user.firstName }}
              {{ user?.attributes?.middleName }}
            </div>
            <div
              [routerLink]="['/admin', 'editUser', user.id]"
              class="page-table__td"
            >
              {{ user.username }}
            </div>
            <!-- <pre>{{ user.attributes | json }}</pre> -->
            <div
              [routerLink]="['/admin', 'editUser', user.id]"
              class="page-table__td"
            >
              {{
                user.attributes[
                  "roles_" + adminService.translate.currentLang
                ].join(", ")
              }}
            </div>
            <div
              [routerLink]="['/admin', 'editUser', user.id]"
              class="page-table__td"
            >
              {{ user.attributes?.filials?.join(", ") }}
            </div>
            <div
              [routerLink]="['/admin', 'editUser', user.id]"
              class="page-table__td"
            >
              <p
                class="active row align-items-center m-0"
                *ngIf="user.enabled; else notActive"
              >
                <small class="disc"></small>{{ "active" | translate }}
              </p>

              <ng-template #notActive>
                <p class="passive row align-items-center m-0">
                  <small class="disc"></small>{{ "notActive" | translate }}
                </p>
              </ng-template>
            </div>

            <div class="page-table__td">
              <i
                (click)="confirmToggleActiveteUser(user)"
                [class]="user.enabled ? 'iconly-boldLock' : 'iconly-boldUnlock'"
                class="btnIcon mr-1"
              >
                <small class="tooltipAdmin">{{
                  "suspendAccess" | translate
                }}</small> </i
              ><i
                (click)="confirmRemoveUser(user)"
                class="btnIcon iconly-boldDelete mr-1"
              >
                <small class="tooltipAdmin">{{
                  "deleteUser" | translate
                }}</small>
              </i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #notUsers>
      <div
        class="notUserss d-flex align-items-center justify-content-center w-100"
      >
        <h2 class="">{{ "noUsers" | translate }}.</h2>
      </div>
    </ng-template>
  </div>
  <ng-template #loadingBlock>
    <app-loader></app-loader>
  </ng-template>
</div>
