<form class="page-form" [formGroup]="form" (ngSubmit)="submit()">
  <div class="row justify-content-between mb-2">
    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">№ исходящего письма</div>
        <label class="input-field__label">
          <input
            type="text"
            autocomplete="off"
            formControlName="numberLetter"
          />
        </label>

        <div
          *ngIf="
            form.get('numberLetter').touched && form.get('numberLetter').invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('numberLetter').errors.required">
            Введите данные
          </small>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">Дата исходящего письма</div>
        <label class="input-field__label">
          <!--        <input type="text" class="datepicker-here" readonly />-->
          <input
            class="input-box"
            angular-mydatepicker
            name="reactiveFormsDate"
            name="mydate"
            (click)="dp.toggleCalendar()"
            formControlName="outDocDate"
            [options]="myDpOptions"
            #dp="angular-mydatepicker"
            [locale]="'ru'"
          />
          <i class="icon-calendar"></i>
        </label>

        <!-- <div
          *ngIf="
            form.get('outDocDate').touched && form.get('outDocDate').invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('outDocDate').errors.required">
            Введите данные
          </small>
        </div> -->
        {{ form.controls | json }}
        <!-- <p class="error" *ngIf="myForm.controls.myDate.errors && myForm.controls.myDate.errors.required">Date is required!</p>
          <p class="error" *ngIf="myForm.controls.myDate.errors && myForm.controls.myDate.errors.invalidDateFormat">Invalid date format!</p> -->
      </div>
    </div>
  </div>

  <div class="row justify-content-between mb-2">
    <div class="col-6">
      <app-file-uploader></app-file-uploader>
    </div>
  </div>

  <div class="row justify-content-between mb-2">
    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">№ уголовного дела</div>
        <label class="input-field__label">
          <input
            type="text"
            autocomplete="off"
            formControlName="numberCriminalCase"
          />
        </label>
      </div>
    </div>

    <div class="col-6">
      <app-datepicker
        [title]="'Дата возб. уголовного дела'"
        (onselect)="logger($event)"
      ></app-datepicker>
    </div>
  </div>

  <div class="row justify-content-between mb-2">
    <div class="col-6">
      <app-file-uploader></app-file-uploader>
    </div>
  </div>

  <button
    type="submit"
    class="page-form__actionbtn text-uppercase"
    [ngClass]="{ disableBtn: form.invalid || submitted }"
    [disabled]="form.invalid || submitted"
  >
    Подать заявку
  </button>
</form>
