<div class="lawsuit_form_content">
  <div class="row">
    <div class="col-4 page-sticky">
      <app-select-action></app-select-action>

      <app-sending-case-law
        [actionId]="4"
        *ngIf="this.lawsuitService.actionIds.includes(4)"
      ></app-sending-case-law>

      <app-setting-response-law
        [actionId]="5"
        *ngIf="this.lawsuitService.actionIds.includes(5)"
      ></app-setting-response-law>

      <app-first-instance-decision
        [actionId]="6"
        *ngIf="this.lawsuitService.actionIds.includes(6)"
      ></app-first-instance-decision>

      <app-referral-for-appeal
        [actionId]="7"
        *ngIf="this.lawsuitService.actionIds.includes(7)"
      ></app-referral-for-appeal>

      <app-appeal-law-response
        [actionId]="8"
        *ngIf="this.lawsuitService.actionIds.includes(8)"
      ></app-appeal-law-response>

      <app-referral-case-to-cassation
        [actionId]="9"
        *ngIf="this.lawsuitService.actionIds.includes(9)"
      >
      </app-referral-case-to-cassation>

      <app-response-law-of-cassation
        [actionId]="10"
        *ngIf="this.lawsuitService.actionIds.includes(10)"
      ></app-response-law-of-cassation>

      <app-next-step></app-next-step>
    </div>
    <div class="col-4 page-sticky">
      <app-history-actions></app-history-actions>
    </div>
    <div class="col-4 page-sticky">
      <app-history-step></app-history-step>
    </div>
  </div>
</div>
