<div class="lawsuitTitleWrap">
  <h2 class="lawsuitTitle">
    {{ formTemplate ? formTemplate.lang.ru : action?.actionNameLang?.ru }}
  </h2>
  <button
    *ngIf="!formData && !formTemplate"
    class="remove_action_form__btn"
    (click)="this.lawsuitService.removeActionForm(action.actionId)"
  >
    <i class="uil-times"></i>
  </button>
</div>

<form class="page-form" [formGroup]="form" (ngSubmit)="submit(action.actionId)">
  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">№ дела</div>
        <label class="input-field__label readonly">
          <input type="text" autocomplete="off" formControlName="caseNumber" />
        </label>
      </div>
    </div>

    <div class="col-6">
      <app-datepicker
        title="Дата решения"
        [form]="form"
        [formTemplate]="formTemplate"
        controlName="decisionDate"
      ></app-datepicker>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-6">
      <app-select
        title="Результат решения"
        placeholder="Результат решения"
        [form]="form"
        controlName="decisionResult"
        [options]="dictionaries?.courtDecision"
        [bindLabel]="'lang.ru'"
        [bindValue]="'id'"
      ></app-select>
    </div>

    <div class="col-6" *ngIf="form.get('decisionResult')?.value === 34">
      <app-datepicker
        title="Дата вступления решения в силу"
        [form]="form"
        [formTemplate]="formTemplate"
        controlName="forceDecisionDate"
      ></app-datepicker>
    </div>

    <div
      class="col-6"
      *ngIf="
        form.get('decisionResult')?.value === 35 ||
        form.get('decisionResult')?.value === 36
      "
    >
      <app-select
        title="Обжаловать решение суда"
        placeholder="Обжаловать решение суда"
        [form]="form"
        controlName="appealAgainstLawDesicion"
        [options]="dictionaries?.yesNo"
        [bindLabel]="'lang.ru'"
        [bindValue]="'value'"
      ></app-select>
    </div>
  </div>

  <div *ngIf="form.get('appealAgainstLawDesicion')?.value === true">
    <div class="row justify-content-between align-items-end mb-2">
      <div class="col-6">
        <app-select
          title="Вид обжалование"
          placeholder="Вид обжалование"
          [form]="form"
          controlName="typeAppeal"
          [options]="dictionaries?.appealType"
          [bindLabel]="'lang.ru'"
          [bindValue]="'id'"
        ></app-select>
      </div>
    </div>

    <div class="row justify-content-between align-items-end mb-2">
      <div class="col-6">
        <div class="input-field">
          <div class="input-field__title">Сумма основного долга</div>
          <label
            class="input-field__label"
            [class]="formTemplate ? 'readonly' : ''"
          >
            <input
              type="text"
              autocomplete="off"
              formControlName="appealPrincipalAmount"
            />
          </label>

          <div
            *ngIf="
              form.get('appealPrincipalAmount')?.touched &&
              form.get('appealPrincipalAmount')?.invalid
            "
            class="validation"
          >
            <small *ngIf="form.get('appealPrincipalAmount')?.errors?.required">
              Введите данные
            </small>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="input-field">
          <div class="input-field__title">Сумма процента</div>
          <label
            class="input-field__label"
            [class]="formTemplate ? 'readonly' : ''"
          >
            <input
              type="text"
              autocomplete="off"
              formControlName="appealInterestAmount"
            />
          </label>

          <div
            *ngIf="
              form.get('appealInterestAmount')?.touched &&
              form.get('appealInterestAmount')?.invalid
            "
            class="validation"
          >
            <small *ngIf="form.get('appealInterestAmount')?.errors?.required">
              Введите данные
            </small>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-between align-items-end mb-2">
      <div class="col-6">
        <div class="input-field">
          <div class="input-field__title">Сумма пени</div>
          <label
            class="input-field__label"
            [class]="formTemplate ? 'readonly' : ''"
          >
            <input
              type="text"
              autocomplete="off"
              formControlName="appealPenaltyAmount"
            />
          </label>

          <div
            *ngIf="
              form.get('appealPenaltyAmount')?.touched &&
              form.get('appealPenaltyAmount')?.invalid
            "
            class="validation"
          >
            <small *ngIf="form.get('appealPenaltyAmount')?.errors?.required">
              Введите данные
            </small>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="input-field">
          <div class="input-field__title">Сумма штрафа</div>
          <label
            class="input-field__label"
            [class]="formTemplate ? 'readonly' : ''"
          >
            <input
              type="text"
              autocomplete="off"
              formControlName="appealFineAmount"
            />
          </label>

          <div
            *ngIf="
              form.get('appealFineAmount')?.touched &&
              form.get('appealFineAmount')?.invalid
            "
            class="validation"
          >
            <small *ngIf="form.get('appealFineAmount')?.errors?.required">
              Введите данные
            </small>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-between align-items-end mb-2">
      <div class="col-6">
        <div class="input-field">
          <div class="input-field__title">
            Сумма госпошлины и судебных издержек
          </div>
          <label
            class="input-field__label"
            [class]="formTemplate ? 'readonly' : ''"
          >
            <input
              type="text"
              autocomplete="off"
              formControlName="appealStateDutyCourtCostsAmount"
            />
          </label>

          <div
            *ngIf="
              form.get('appealStateDutyCourtCostsAmount')?.touched &&
              form.get('appealStateDutyCourtCostsAmount')?.invalid
            "
            class="validation"
          >
            <small
              *ngIf="
                form.get('appealStateDutyCourtCostsAmount')?.errors?.required
              "
            >
              Введите данные
            </small>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="input-field">
          <div class="input-field__title">Общая сумма иска</div>
          <label
            class="input-field__label"
            [class]="formTemplate ? 'readonly' : ''"
          >
            <input
              type="text"
              autocomplete="off"
              formControlName="appealClaimAmount"
            />
          </label>

          <div
            *ngIf="
              form.get('appealClaimAmount')?.touched &&
              form.get('appealClaimAmount')?.invalid
            "
            class="validation"
          >
            <small *ngIf="form.get('appealClaimAmount')?.errors?.required">
              Введите данные
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="row justify-content-between align-items-end mb-2">
      <div
        class="col-6"
        *ngIf="form.get('appealAgainstLawDesicion')?.value === false"
      >
        <app-select
          title="Действия"
          placeholder="Действия"
          [form]="form"
          controlName="actionType"
          [options]="dictionaries?.notAppealAction"
          [bindLabel]="'lang.ru'"
          [bindValue]="'id'"
        ></app-select>
      </div>
      <div class="col-6" *ngIf="form.get('actionType')?.value === 49">
        <app-datepicker
          title="Отложить до"
          [form]="form"
          controlName="postponeUntil"
        ></app-datepicker>
      </div>
    </div>
  </div>

  <!-- <div *ngIf="form.get('appealAgainstLawDesicion')?.value === true">
    <div class="row justify-content-between mb-2">
      <div class="col-12">
        <app-file-uploader
          [formData]="formData"
          [formTemplate]="formTemplate"
          title="Прикрепить файл"
        ></app-file-uploader>
      </div>
    </div>

    <div class="row justify-content-between mb-2">
      <div class="col-12">
        <div class="text-field">
          <div class="text-field__title">Дополнительная информация</div>
          <label
            class="text-field__label"
            [class]="formTemplate ? 'readonly' : ''"
          >
            <textarea
              placeholder="Уточните детали"
              formControlName="appealAddInfo"
            ></textarea>
          </label>

          <div
            *ngIf="
              form.get('appealAddInfo')?.touched &&
              form.get('appealAddInfo')?.invalid
            "
            class="validation"
          >
            <small *ngIf="form.get('appealAddInfo')?.errors?.required">
              Введите данные
            </small>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div *ngIf="form.get('actionType')?.value === 3"> -->
  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-12">
      <app-file-uploader
        [formData]="formData"
        [formTemplate]="formTemplate"
        title="Прикрепить файл"
      ></app-file-uploader>
    </div>
  </div>
  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-12">
      <div class="text-field">
        <div class="text-field__title">Дополнительная информация</div>
        <label
          class="text-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <textarea
            placeholder="Уточните детали"
            formControlName="additionalInfo"
          ></textarea>
        </label>

        <div
          *ngIf="
            form.get('additionalInfo')?.touched &&
            form.get('additionalInfo')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('additionalInfo')?.errors?.required">
            Введите данные
          </small>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->

  <button
    *ngIf="!formData && !formTemplate"
    type="submit"
    class="page-form__actionbtn text-uppercase add"
    [ngClass]="{ disableBtn: form.invalid || submitted }"
    [disabled]="form.invalid || submitted"
  >
    <span
      *ngIf="
        this.form.get('appealAgainstLawDesicion')?.value === true;
        else second
      "
      >Продолжить дело</span
    >

    <ng-template #second>
      <span *ngIf="this.form.get('actionType')?.value === 49; else third"
        >Отложить на время</span
      >
    </ng-template>

    <ng-template #third>
      <span *ngIf="this.form.get('actionType')?.value === 50; else fourth"
        >Закрыть дело</span
      >
    </ng-template>

    <ng-template #fourth>
      <span>Отправить</span>
    </ng-template>
  </button>
</form>
