<div class="h-100">
  <div
    class="page-header row no-gutters justify-content-between align-items-center"
  >
    <div class="page-title">
      <i class="uil-arrow-left" (click)="goToBack()"></i>
      {{ "back_to_credit_list" | translate }}
    </div>
    <div
      class="page-header__text"
      *ngIf="lawsuitService.stepIndex; else stopProcess"
    >
      {{ "step1" | translate }} {{ lawsuitService.stepIndex }}.
      {{
        lawsuitService.currentStep?.lang[lawsuitService.translate.currentLang]
      }}
    </div>

    <div class="d-flex">
      <app-print-history [historyFileRef]="historyFile"></app-print-history>

      <app-make-decesions></app-make-decesions>
    </div>

    <ng-template #stopProcess>
      <div class="page-header__text">
        {{
          lawsuitService.stopProcessStep?.lang[
            lawsuitService.translate.currentLang
          ]
        }}
      </div>
    </ng-template>

    <!-- <div
      class="page-actions row no-gutters justify-content-between align-items-center"
    >
      <div class="page-action__item mr-2" (click)="showHistory()">
        <i class="far fa-clock"></i>
        {{'history' | translate}}
      </div>
    </div> -->
  </div>

  <app-tabs></app-tabs>
  <div class="page-content">
    <div class="row align-items-start">
      <div class="col-md-4 col-sm-6" [class]="resize ? 'col-lg-3' : 'col-lg-2'">
        <app-contract-info (toogleSize)="onAdd($event)"></app-contract-info>
      </div>
      <div
        class="col-md-8 col-sm-6"
        [class]="resize ? 'col-lg-9' : 'col-lg-10'"
      >
        <app-notification
          *ngIf="this.lawsuitService.currentStep?.stepid === 1"
        ></app-notification>

        <app-chamber-commerce-industry
          *ngIf="this.lawsuitService.currentStep?.stepid === 2"
        ></app-chamber-commerce-industry>

        <app-law
          *ngIf="this.lawsuitService.currentStep?.stepid === 3"
        ></app-law>

        <app-bureau-compulsory-enforcement
          *ngIf="this.lawsuitService.currentStep?.stepid === 4"
        ></app-bureau-compulsory-enforcement>

        <app-notary
          *ngIf="this.lawsuitService.currentStep?.stepid === 5"
        ></app-notary>

        <app-auction
          *ngIf="this.lawsuitService.currentStep?.stepid === 6"
        ></app-auction>

        <app-law-enforcement
          *ngIf="this.lawsuitService.currentStep?.stepid === 7"
        ></app-law-enforcement>

        <app-stop-process
          *ngIf="this.lawsuitService.currentStep?.stepid == 8"
        ></app-stop-process>

        <!-- для печати -->
        <app-history-file #historyFile hidden="true"></app-history-file>
      </div>
    </div>
  </div>
</div>
