<div class="h-100">
  <div
    class="page-header row no-gutters justify-content-between align-items-center"
  >
    <div class="page-title">
      <i class="uil-arrow-left" (click)="goToBack()"></i>
      Назад к списку кредитов
    </div>
    <div class="page-header__text" *ngIf="lawsuitService.stepIndex">
      Шаг {{ lawsuitService.stepIndex }}.
      {{ lawsuitService.stepName }}
    </div>
    <div
      class="page-actions row no-gutters justify-content-between align-items-center"
    >
      <!-- <div class="page-action__item mr-2" (click)="showHistory()">
        <i class="far fa-clock"></i>
        История
      </div> -->
    </div>
  </div>

  <app-tabs></app-tabs>

  <div class="page-content">
    <div class="row align-items-start">
      <div class="col-lg-3 col-md-5 page-sticky">
        <app-contract-info></app-contract-info>
      </div>
      <div class="col-lg-9 col-md-5 page-sticky">
        <app-notification
          *ngIf="this.lawsuitService.currentStep?.stepid === 1"
        ></app-notification>

        <app-chamber-commerce-industry
          *ngIf="this.lawsuitService.currentStep?.stepid === 2"
        ></app-chamber-commerce-industry>

        <app-law
          *ngIf="this.lawsuitService.currentStep?.stepid === 3"
        ></app-law>

        <app-bureau-compulsory-enforcement
          *ngIf="this.lawsuitService.currentStep?.stepid === 4"
        ></app-bureau-compulsory-enforcement>

        <app-notary
          *ngIf="this.lawsuitService.currentStep?.stepid === 5"
        ></app-notary>

        <app-auction
          *ngIf="this.lawsuitService.currentStep?.stepid === 6"
        ></app-auction>
      </div>
    </div>
  </div>
</div>
