<div class="row">
  <div class="col-lg-7">
    <div
      class="p-2 mb-2 bg-gray-primary"
      style="border-radius: 5px"
      *ngIf="lastAction"
    >
      <div class="row flex-nowrap mb-1">
        <div class="col-6">
          <div class="form-field__title mb-1">№ дело</div>
          <div class="form-field__disabled">
            {{ taskInfo?.body?.case_number }}
          </div>
        </div>
      </div>

      <div class="row flex-nowrap mb-1">
        <div class="col-6">
          <div class="form-field__title mb-1">Вид суда</div>
          <div class="form-field__disabled">
            {{ getCourtType(lastAction?.type_id) }}
          </div>
        </div>

        <div class="col-6">
          <div class="form-field__title mb-1">Тип суда</div>
          <div class="form-field__disabled">
            {{ getCourtPlace(lastAction?.type_id, lastAction?.place_id) }}
          </div>
        </div>
      </div>

      <div class="row flex-nowrap mb-1" *ngIf="lastAction?.place_id === 2 || lastAction?.place_id === 3">
        <div class="col-12">
          <div class="form-field__title mb-1">Регион суда</div>
          <div class="form-field__disabled">
            {{ getCourtRegion(lastAction?.type_id, lastAction?.place_id, lastAction?.region_id) }}
          </div>
        </div>
      </div>

      <div class="row flex-nowrap mb-1" *ngIf="lastAction?.place_id === 3">
        <div class="col-12">
          <div class="form-field__title mb-1">Районный суд</div>
          <div class="form-field__disabled">
            {{ getCourtDistrict(lastAction?.type_id, lastAction?.place_id, lastAction?.region_id, lastAction?.district_id) }}
          </div>
        </div>
      </div>

      <div class="row flex-nowrap mb-1">
        <div class="col-6">
          <div class="form-field__title mb-1">№ входящего документа</div>
          <div class="form-field__disabled">
            {{ lastAction?.in_doc_number }}
          </div>
        </div>

        <div class="col-6">
          <div class="form-field__title mb-1">Дата вх. документа</div>
          <div class="form-field__disabled">
            {{ lastAction?.in_doc_date }}
          </div>
        </div>
      </div>

      <div class="form-field__title mb-1">Скан документа</div>
      <div class="mb-2">
        <div
          *ngFor="let item of lastAction?.files; index as i"
          class="py-1 d-flex align-items-center"
        >
          <i class="icon-attach mr-1" style="font-size: 22px"></i>
          <div class="ml-1">
            {{ item.name }}
          </div>
        </div>
      </div>

      <div class="mb-2">
        <div class="form-field__title mb-2">Дополнительная информация</div>
        <div class="form-field__disabled">
          {{ lastAction?.add_info }}
        </div>
      </div>
    </div>

    <form
      action=""
      class="page-form pb-2 "
      [formGroup]="stepForm"
      (ngSubmit)="nextStep()"
      *ngIf="stepStatus === 0 && mainService.ROLE.includes(1)"
    >
      <div class="row flex-nowrap mb-2">
        <div class="col-6">
          <div class="form-field__title mb-1">№ дело</div>
          <div class="form-field__disabled">
            {{ taskInfo?.body?.case_number }}
          </div>
        </div>
      </div>

      <div class="row justify-content-between mb-2">
        <div class="col-6">
          <app-form-field
            formControlName="type_id"
            [type]="'select'"
            [title]="'Вид суда'"
            [selectOptions]="courtsType"
            [ph]="'Выберите вид суда'"
          ></app-form-field>
        </div>

        <div class="col-6">
          <app-form-field
            formControlName="place_id"
            [type]="'select'"
            [title]="'Тип суда'"
            [selectOptions]="courtsPlaces"
            [ph]="'Выберите тип суда'"
          ></app-form-field>
        </div>
      </div>

      <div class="row justify-content-between mb-2" *ngIf="stepForm.value.place_id === 2 || stepForm.value.place_id === 3">
        <div class="col-12">
          <app-form-field
            formControlName="region_id"
            [type]="'select'"
            [title]="'Регион'"
            [selectOptions]="courtsRegion"
            [ph]="'Выберите регион'"
          ></app-form-field>
        </div>
      </div>

      <div class="row justify-content-between mb-2" *ngIf="stepForm.value.place_id === 3">
        <div class="col-12">
          <app-form-field
            formControlName="district_id"
            [type]="'select'"
            [title]="'Районный суд'"
            [selectOptions]="courtsDistrict"
            [ph]="'Выберите районный суд'"
          ></app-form-field>
        </div>
      </div>

      <div class="row justify-content-between mb-2">
        <div class="col-6">
          <app-form-field
            formControlName="in_doc_number"
            [type]="'text'"
            [title]="'№ входящего документа'"
          ></app-form-field>
        </div>

        <div class="col-6">
          <app-form-field
            formControlName="in_doc_date"
            [type]="'datepicker'"
            [title]="'Дата вх. документа'"
          ></app-form-field>
        </div>
      </div>

      <div class="row justify-content-between mb-2">
        <div class="col-12">
          <app-form-field
            formControlName="files"
            [type]="'file'"
            [title]="'Скан документа'"
          ></app-form-field>
        </div>
      </div>

      <div class="row justify-content-between mb-2">
        <div class="col-12">
          <app-form-field
            formControlName="add_info"
            [type]="'textarea'"
            [title]="'Дополнительная информация'"
          ></app-form-field>
        </div>
      </div>

      <button type="submit" class="page-form__actionbtn text-uppercase" [disabled]="stepForm.invalid">
        следующий шаг
      </button>
    </form>
  </div>
</div>

<app-alert-info
  [text]="'Подождите, данные еще не внесены исполнительным юристом.'"
  [icon]="'uil-clock-three'"
  [iconColorClass]="'text-warning'"
  *ngIf="stepStatus === 0 && mainService.ROLE.includes(2)"
></app-alert-info>
