<div class="page-form stopProcessMessage">
  <label class="checkbox-field__label">
    <input type="checkbox" checked disabled />
    <span class="custom-checkbox mr-2">
      <i class="uil-check"></i>
    </span>
    <div>
      <span
        >Процесс приостановлен
        {{ lawsuitService.contract.stopDate | date: "dd.MM.yyyy HH:mm" }}
        <ng-container *ngIf="lawsuitService.contract.renewalDate">
          до
          {{ lawsuitService.contract.renewalDate }}.
        </ng-container>
      </span>
      <span *ngIf="lawsuitService.contract.renewalDate"
        >До возобновления осталось: {{ leftDays }} д.</span
      >
    </div>
  </label>
</div>
