<div class="lawsuitTitleWrap">
  <h2 class="lawsuitTitle">
    {{
      formTemplate
        ? formTemplate.lang[lawsuitService.translate.currentLang]
        : action?.actionNameLang[lawsuitService.translate.currentLang]
    }}
  </h2>
  <button
    *ngIf="!formData && !formTemplate"
    class="remove_action_form__btn"
    (click)="this.lawsuitService.removeActionForm(action.actionId)"
  >
    <i class="uil-times"></i>
  </button>
</div>

<form class="page-form" [formGroup]="form" (ngSubmit)="submit(action.actionId)">
  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-6">
      <div class="select-field">
        <div class="select-field__title">
          {{ "jurisdiction_court" | translate }}
        </div>
        <ng-select
          appearance="outline"
          [items]="dictionaries?.courtKind"
          bindLabel="{{ 'lang.' + lawsuitService.translate.currentLang }}"
          bindValue="id"
          placeholder="{{ 'courts' | translate }}"
          #agreeSelect
          labelForId="yesno"
          [searchable]="false"
          formControlName="kindLaw"
        ></ng-select>
        <div
          *ngIf="form.get('kindLaw')?.touched && form.get('kindLaw')?.invalid"
          class="validation"
        >
          <small *ngIf="form.get('kindLaw')?.errors?.required">
            {{ "select_data" | translate }}
          </small>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="select-field">
        <div class="select-field__title">
          {{ "jurisdiction_cases" | translate }}
        </div>
        <ng-select
          appearance="outline"
          [items]="dictionaries?.courtType"
          bindLabel="{{ 'lang.' + lawsuitService.translate.currentLang }}"
          bindValue="id"
          placeholder="{{ 'jurisdiction_cases' | translate }}"
          #agreeSelect
          labelForId="yesno"
          [searchable]="false"
          formControlName="typeLaw"
        ></ng-select>
        <div
          *ngIf="form.get('typeLaw')?.touched && form.get('typeLaw')?.invalid"
          class="validation"
        >
          <small *ngIf="form.get('typeLaw')?.errors?.required">
            {{ "select_data" | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <!-- <div class="col-6">
      <div class="select-field">
        <div class="select-field__title">Регион суда</div>
        <ng-select
          appearance="outline"
          [items]="regionLawDic"
          bindLabel="label"
          bindValue="id"
          placeholder="Регион суда"
          #agreeSelect
          labelForId="yesno"
          [searchable]="false"
          formControlName="regionLaw"
        ></ng-select>
        <div
          *ngIf="
            form.get('regionLaw')?.touched && form.get('regionLaw')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('regionLaw')?.errors?.required">
            {{'select_data' | translate}}
          </small>
        </div>
      </div>
    </div> -->
    <div class="col-6">
      <div class="select-field">
        <div class="select-field__title">{{ "region" | translate }}</div>
        <ng-select
          appearance="outline"
          [items]="dictionaries?.regionDistrict"
          bindLabel="{{ 'lang.' + lawsuitService.translate.currentLang }}"
          bindValue="id"
          placeholder="{{ 'region' | translate }}"
          #agreeSelect
          labelForId="yesno"
          [searchable]="false"
          formControlName="region"
        ></ng-select>
        <div
          *ngIf="form.get('region')?.touched && form.get('region')?.invalid"
          class="validation"
        >
          <small *ngIf="form.get('region')?.errors?.required">
            {{ "select_data" | translate }}
          </small>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="select-field">
        <div class="select-field__title">{{ "district" | translate }}</div>
        <ng-select
          appearance="outline"
          [items]="districtDic"
          bindLabel="{{ 'lang.' + lawsuitService.translate.currentLang }}"
          bindValue="id"
          placeholder="{{ 'district' | translate }}"
          #agreeSelect
          labelForId="yesno"
          [searchable]="false"
          formControlName="district"
        ></ng-select>
        <div
          *ngIf="form.get('district')?.touched && form.get('district')?.invalid"
          class="validation"
        >
          <small *ngIf="form.get('district')?.errors?.required">
            {{ "select_data" | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <div
    formArrayName="defendantArray"
    *ngFor="let defendant of defendantArray.controls; let idx = index"
    class="row justify-content-between align-items-end mb-2"
  >
    <div class="col-12">
      <div class="input-field">
        <div class="input-field__title">
          {{ "defendant" | translate }} {{ idx + 1 }}
        </div>
        <div class="input-field__custome">
          <label
            class="input-field__label"
            [class]="formTemplate ? 'readonly' : ''"
          >
            <input type="text" autocomplete="off" [formControlName]="idx" />
          </label>

          <button
            *ngIf="idx > 0"
            class="removeItem"
            (click)="removeDefendant(idx)"
          >
            <i class="uil-trash"></i>
          </button>
        </div>

        <div
          *ngIf="defendant?.touched && defendant?.invalid"
          class="validation"
        >
          <small *ngIf="defendant?.errors?.required">
            {{ "enter_data" | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-6">
      <button
        [disabled]="formTemplate"
        type="button"
        class="btn btn-dashed add"
        (click)="addDefendant()"
      >
        {{ "add" | translate }}
      </button>
    </div>
  </div>

  <div
    formArrayName="thirdPartiesArray"
    *ngFor="let thirdParties of thirdPartiesArray.controls; let idx = index"
    class="row justify-content-between align-items-end mb-2"
  >
    <div class="col-12">
      <div class="input-field">
        <div class="input-field__title">
          {{ "3rd_person" | translate }} {{ idx + 1 }}
        </div>
        <div class="input-field__custome">
          <label
            class="input-field__label"
            [class]="formTemplate ? 'readonly' : ''"
          >
            <input type="text" autocomplete="off" [formControlName]="idx" />
          </label>

          <button
            *ngIf="idx > 0"
            class="removeItem"
            (click)="removeThirdParties(idx)"
          >
            <i class="uil-trash"></i>
          </button>
        </div>

        <div
          *ngIf="thirdParties?.touched && thirdParties?.invalid"
          class="validation"
        >
          <small *ngIf="thirdParties?.errors?.required">
            {{ "enter_data" | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-6">
      <button
        [disabled]="formTemplate"
        type="button"
        class="btn btn-dashed add"
        (click)="addThirdParties()"
      >
        {{ "add" | translate }}
      </button>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">
          {{ "principal_amount" | translate }}
        </div>
        <label
          [class]="formTemplate ? 'readonly' : ''"
          class="input-field__label"
        >
          <input
            type="text"
            autocomplete="off"
            formControlName="principalAmount"
          />
        </label>

        <div
          *ngIf="
            form.get('principalAmount')?.touched &&
            form.get('principalAmount')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('principalAmount')?.errors?.required">
            {{ "enter_data" | translate }}
          </small>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">{{ "percent_amount" | translate }}</div>
        <label
          class="input-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <input
            type="text"
            autocomplete="off"
            formControlName="percentAmount"
          />
        </label>

        <div
          *ngIf="
            form.get('percentAmount')?.touched &&
            form.get('percentAmount')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('percentAmount')?.errors?.required">
            {{ "enter_data" | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">{{ "penalty_amount" | translate }}</div>
        <label
          class="input-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <input
            type="text"
            autocomplete="off"
            formControlName="penaltyAmount"
          />
        </label>

        <div
          *ngIf="
            form.get('penaltyAmount')?.touched &&
            form.get('penaltyAmount')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('penaltyAmount')?.errors?.required">
            {{ "enter_data" | translate }}
          </small>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">{{ "fine_amount" | translate }}</div>
        <label
          class="input-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <input type="text" autocomplete="off" formControlName="fineAmount" />
        </label>

        <div
          *ngIf="
            form.get('fineAmount')?.touched && form.get('fineAmount')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('fineAmount')?.errors?.required">
            {{ "enter_data" | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">
          {{ "total_claim_amount" | translate }}
        </div>
        <label
          class="input-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <input
            type="text"
            autocomplete="off"
            formControlName="totalClaimAmount"
          />
        </label>

        <div
          *ngIf="
            form.get('totalClaimAmount')?.touched &&
            form.get('totalClaimAmount')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('totalClaimAmount')?.errors?.required">
            {{ "enter_data" | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">{{ "outDocNumber" | translate }}</div>
        <label
          class="input-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <input
            type="text"
            autocomplete="off"
            formControlName="outDocNumber"
          />
        </label>

        <div
          *ngIf="
            form.get('outDocNumber')?.touched &&
            form.get('outDocNumber')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('outDocNumber')?.errors?.required">
            {{ "enter_data" | translate }}
          </small>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">{{ "outDocDate" | translate }}</div>
        <label
          class="input-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <!--        <input type="text" class="datepicker-here" readonly />-->
          <input
            class="input-box"
            angular-mydatepicker
            name="reactiveFormsDate"
            formControlName="outDocDate"
            [options]="myDpOptions"
            #dp="angular-mydatepicker"
            [locale]="lawsuitService.translate.currentLang"
          />
          <i class="icon-calendar" (click)="dp.toggleCalendar()"></i>
        </label>

        <div
          *ngIf="
            form.get('outDocDate')?.touched && form.get('outDocDate')?.invalid
          "
          class="validation"
        >
          <small
            *ngIf="
              form.controls.outDocDate.errors &&
              form.controls.outDocDate.errors.required &&
              !form.controls.outDocDate.errors.invalidDateFormat
            "
          >
            {{ "enter_data" | translate }}
          </small>
          <small
            *ngIf="
              form.controls.outDocDate.errors &&
              form.controls.outDocDate.errors.invalidDateFormat
            "
          >
            {{ "incorrect_data" | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <!-- <div *ngIf="!formData" class="row justify-content-between mb-2">
    <div class="col-12">
      <button type="button" class="btn btn-dashed add">Получить из ИАБС</button>
    </div>
  </div> -->

  <div class="row justify-content-between align-items-end">
    <div class="col-12">
      <app-file-uploader
        [formData]="formData"
        [formTemplate]="formTemplate"
        title="{{ 'attach_file' | translate }}"
      ></app-file-uploader>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <!-- <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">Дата внесение в суд</div>
        <label
          class="input-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <input
            class="input-box"
            angular-mydatepicker
            name="reactiveFormsDate"
            formControlName="dateLaw"
            [options]="myDpOptions"
            #dp="angular-mydatepicker"
            [locale]="lawsuitService.translate.currentLang"
          />
          <i class="icon-calendar" (click)="dp.toggleCalendar()"></i>
        </label>

        <div
          *ngIf="form.get('dateLaw')?.touched && form.get('dateLaw')?.invalid"
          class="validation"
        >
          <small
            *ngIf="
              form.controls.dateLaw.errors &&
              form.controls.dateLaw.errors.required &&
              !form.controls.dateLaw.errors.invalidDateFormat
            "
          >
            {{'enter_data' | translate}}
          </small>
          <small
            *ngIf="
              form.controls.dateLaw.errors &&
              form.controls.dateLaw.errors.invalidDateFormat
            "
          >
            {{'incorrect_data' | translate}}
          </small>
        </div>
      </div>
    </div> -->
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-12">
      <div class="text-field">
        <div class="text-field__title">
          {{ "additional_information" | translate }}
        </div>
        <label
          class="text-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <textarea
            placeholder="{{ 'specify_details' | translate }}"
            formControlName="additionalInfo"
          ></textarea>
        </label>

        <div
          *ngIf="
            form.get('additionalInfo')?.touched &&
            form.get('additionalInfo')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('additionalInfo')?.errors?.required">
            {{ "enter_data" | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <button
    *ngIf="!formData && !formTemplate"
    type="submit"
    class="page-form__actionbtn text-uppercase add"
    [ngClass]="{ disableBtn: form.invalid || submitted }"
    [disabled]="form.invalid || submitted"
  >
    {{ "send" | translate }}
  </button>
</form>
