<div class="row">
  <form class="page-form" [formGroup]="form" (ngSubmit)="submit()">
    <h2 class="title_form">Если отказано в возбуждении дела</h2>
    <div class="row justify-content-between mb-2">
      <div class="col-6">
        <div class="select-field">
          <div class="select-field__title">Ваше решение</div>
          <ng-select
            appearance="outline"
            [items]="options"
            bindLabel="label"
            bindValue="id"
            placeholder="Ваше решение"
            #agreeSelect
            labelForId="yesno"
            [searchable]="false"
            formControlName="decision"
          ></ng-select>
          <div
            *ngIf="
              form.get('decision')?.touched && form.get('decision')?.invalid
            "
            class="validation"
          >
            <small *ngIf="form.get('decision')?.errors?.required">
              Выберите данные
            </small>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-between mb-2">
      <div class="col-12">
        <div class="text-field mb-2">
          <div class="text-field__title">Дополнительная информация</div>
          <label class="text-field__label">
            <textarea
              placeholder="Уточните детали"
              formControlName="additionalInfo"
            ></textarea>
          </label>

          <div
            *ngIf="
              form.get('additionalInfo')?.touched &&
              form.get('additionalInfo')?.invalid
            "
            class="validation"
          >
            <small *ngIf="form.get('additionalInfo')?.errors?.required">
              Введите данные
            </small>
          </div>
        </div>
      </div>
    </div>

    <button
      type="submit"
      class="page-form__actionbtn text-uppercase"
      [ngClass]="{ disableBtn: form.invalid || submitted }"
      [disabled]="form.invalid || submitted"
    >
      Следующий шаг
    </button>
  </form>

  <div class="info-card ml-4">
    <div class="info-card__title mb-2">Данные полученные от исполнителя</div>
    <div class="info-card__data">
      <span>№ исходящего документа</span>
      <span>123123</span>
    </div>
    <div class="info-card__data">
      <span>Дата исх. документа</span>
      <span>28.12.2019</span>
    </div>
    <div class="info-card__data">
      <span>Дополнительная информация</span>
    </div>

    <div class="info-card__docs mt-2">
      <div class="info-card__docs_title mb-1">Прикрепленные документы</div>
      <div class="info-card__docs_list">
        <div class="info-card__docs_list_item">
          <i class="icon-image"></i>
          <a href="">
            <i class="icon-attach"></i>
            скачать
          </a>
        </div>
        <div class="info-card__docs_list_item">
          <i class="icon-document_alt"></i>
          <a href="">
            <i class="icon-attach"></i>
            скачать
          </a>
        </div>
        <div class="info-card__docs_list_item">
          <i class="icon-table"></i>
          <a href="">
            <i class="icon-attach"></i>
            скачать
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
