<app-step-wrapper>
  <ng-container class="action-form">
    <app-stop-process-wrap>
      <app-select-action></app-select-action>

      <app-making-response-notary
        [action]="this.lawsuitService.isActionForm(13)"
        *ngIf="this.lawsuitService.isActionForm(13)"
      ></app-making-response-notary>

      <app-sending-application-notary
        [action]="this.lawsuitService.isActionForm(12)"
        *ngIf="this.lawsuitService.isActionForm(12)"
      ></app-sending-application-notary>
    </app-stop-process-wrap>
  </ng-container>
</app-step-wrapper>
