<div class="lawsuit_form_content">
  <div class="row">
    <div class="col-4 page-sticky">
      <app-select-action></app-select-action>

      <app-making-response-notary
        [action]="this.lawsuitService.isActionForm(13)"
        *ngIf="this.lawsuitService.isActionForm(13)"
      ></app-making-response-notary>

      <app-sending-application-notary
        [action]="this.lawsuitService.isActionForm(12)"
        *ngIf="this.lawsuitService.isActionForm(12)"
      ></app-sending-application-notary>

      <app-next-step></app-next-step>
    </div>
    <div class="col-4 page-sticky">
      <app-history-actions></app-history-actions>
    </div>
    <div class="col-4 page-sticky">
      <app-history-step></app-history-step>
    </div>
  </div>
</div>
