<div class="lawsuitTitleWrap">
  <h2 class="lawsuitTitle">
    {{ formTemplate ? formTemplate.lang.ru : action?.actionNameLang?.ru }}
  </h2>
  <button
    *ngIf="!formData && !formTemplate"
    class="remove_action_form__btn"
    (click)="this.lawsuitService.removeActionForm(action.actionId)"
  >
    <i class="uil-times"></i>
  </button>
</div>

<form class="page-form" [formGroup]="form" (ngSubmit)="submit(action.actionId)">
  <div class="row justify-content-between mb-2">
    <div class="col-6">
      <div class="select-field">
        <div class="select-field__title">Проведение суда</div>
        <ng-select
          appearance="outline"
          [items]="conductLawDic"
          bindLabel="label"
          bindValue="id"
          placeholder="Проведение суда"
          #agreeSelect
          labelForId="yesno"
          [searchable]="false"
          formControlName="conductLaw"
        ></ng-select>
        <div
          *ngIf="
            form.get('conductLaw')?.touched && form.get('conductLaw')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('conductLaw')?.errors?.required">
            Выберите данные
          </small>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div
        *ngIf="this.form.get('conductLaw')?.value === 2"
        class="select-field"
      >
        <div class="select-field__title">Действие</div>
        <ng-select
          appearance="outline"
          [items]="actionDic"
          bindLabel="label"
          bindValue="id"
          placeholder="Действие"
          #agreeSelect
          labelForId="yesno"
          [searchable]="false"
          formControlName="action"
        ></ng-select>
        <div
          *ngIf="form.get('action')?.touched && form.get('action')?.invalid"
          class="validation"
        >
          <small *ngIf="form.get('action')?.errors?.required">
            Выберите данные
          </small>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="this.form.get('conductLaw')?.value === 1"
    class="row justify-content-between mb-2"
  >
    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">№ дела</div>
        <label
          class="input-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <input type="text" autocomplete="off" formControlName="caseNumber" />
        </label>

        <div
          *ngIf="
            form.get('caseNumber')?.touched && form.get('caseNumber')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('caseNumber')?.errors?.required">
            Введите данные
          </small>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="this.form.get('action')?.value === 1"
    class="row justify-content-between mb-2"
  >
    <div class="col-6">
      <!-- <div class="input-field">
        <div class="input-field__title">Отложить до</div>

        <label class="input-field__label">
          <input
            class="input-box"
            angular-mydatepicker
            name="reactiveFormsDate"
            formControlName="deferTo"
            [options]="myDpOptions"
            #dp="angular-mydatepicker"
            [locale]="'ru'"
          />
          <i class="icon-calendar" (click)="dp.toggleCalendar()"></i>
        </label>

        <div
          *ngIf="form.get('deferTo')?.touched && form.get('deferTo')?.invalid"
          class="validation"
        >
          <small
            *ngIf="
              form.get('deferTo')?.errors &&
              form.get('deferTo')?.errors?.required &&
              !form.get('deferTo')?.errors?.invalidDateFormat
            "
          >
            Введите данные
          </small>
          <small
            *ngIf="
              form.get('deferTo')?.errors &&
              form.get('deferTo')?.errors?.invalidDateFormat
            "
          >
            Неккоректные данные
          </small>
        </div>
      </div> -->

      <app-datepicker
        title="Отложить до"
        [form]="form"
        [formTemplate]="formTemplate"
        controlName="deferTo"
      ></app-datepicker>
    </div>
  </div>

  <div *ngIf="this.form.get('conductLaw')?.value === 1">
    <div
      class="row justify-content-between align-items-end mb-2"
      formArrayName="datesLaw"
      *ngFor="let dateLaw of datesLaw.controls; let idx = index"
    >
      <div class="col-6">
        <div class="input-field">
          <div class="input-field__title">Дата и время проведения суда</div>

          <label
            class="input-field__label"
            [class]="formTemplate ? 'readonly' : ''"
          >
            <input
              class="input-box"
              angular-mydatepicker
              name="reactiveFormsDate"
              [formControlName]="idx"
              [options]="myDpOptions"
              #dp="angular-mydatepicker"
              [locale]="'ru'"
            />
            <i class="icon-calendar" (click)="dp.toggleCalendar()"></i>
          </label>

          <div *ngIf="dateLaw.touched && dateLaw.invalid" class="validation">
            <small
              *ngIf="
                dateLaw.errors &&
                dateLaw.errors.required &&
                !dateLaw.errors.invalidDateFormat
              "
            >
              Введите данные
            </small>
            <small *ngIf="dateLaw.errors && dateLaw.errors.invalidDateFormat">
              Неккоректные данные
            </small>
          </div>
        </div>
      </div>

      <div class="col-6">
        <button
          *ngIf="idx > 0 && !formData"
          class="removeItem"
          (click)="removeDateLaw(idx)"
        >
          <i class="uil-trash"></i>
        </button>
        <button
          *ngIf="idx === 0 && !formData"
          class="btn btn-dashed add"
          (click)="addDateLaw()"
          [disabled]="formTemplate"
        >
          Добавить дату
        </button>

        <div *ngIf="dateLaw.touched && dateLaw.invalid" class="validation">
          &nbsp;
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="this.form.get('conductLaw')?.value"
    class="row justify-content-between mb-2"
  >
    <div class="col-12">
      <app-file-uploader
        [formData]="formData"
        [formTemplate]="formTemplate"
        title="Прикрепить файл"
      ></app-file-uploader>
    </div>
  </div>

  <div
    *ngIf="
      this.form.get('action')?.value === 1 ||
      this.form.get('action')?.value === 2 ||
      this.form.get('action')?.value === 3
    "
    class="row justify-content-between mb-2"
  >
    <div class="col-12">
      <div class="text-field">
        <div class="text-field__title">Дополнительная информация</div>
        <label
          class="text-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <textarea
            placeholder="Уточните детали"
            formControlName="additionalInfo"
          ></textarea>
        </label>

        <div
          *ngIf="
            form.get('additionalInfo')?.touched &&
            form.get('additionalInfo')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('additionalInfo')?.errors?.required">
            Введите данные
          </small>
        </div>
      </div>
    </div>
  </div>

  <button
    *ngIf="!formData && !formTemplate"
    type="submit"
    class="page-form__actionbtn text-uppercase add"
    [ngClass]="{ disableBtn: form.invalid || submitted }"
    [disabled]="form.invalid || submitted"
  >
    <span *ngIf="this.form.get('action')?.value === 1; else third"
      >Отложить на время</span
    >
    <ng-template #third>
      <span *ngIf="this.form.get('action')?.value === 2; else fourth"
        >Закрыть дело</span
      >
    </ng-template>
    <ng-template #fourth>
      <span *ngIf="this.form.get('action')?.value === 3; else fifth"
        >Вернуться в предыдущий шаг</span
      >
    </ng-template>

    <ng-template #fifth> <span> Отправить</span></ng-template>
  </button>
</form>
