<form
  *ngIf="allStepLength !== lawsuitService.steps.length"
  class="page-form"
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <div class="select-field add">
    <div class="select-field__title">Выбор следующего шага</div>
    <ng-select
      appearance="outline"
      [items]="restSteps"
      bindLabel="{{ 'lang.' + lawsuitService.translate.currentLang }}"
      bindValue="id"
      placeholder="Следующий шаг"
      #agreeSelect
      labelForId="yesno"
      [searchable]="false"
      formControlName="nextStep"
      (change)="setActionStep($event)"
    ></ng-select>
    <div
      *ngIf="form.get('nextStep')?.touched && form.get('nextStep')?.invalid"
      class="validation"
    >
      <small *ngIf="form.get('nextStep')?.errors?.required">
        {{ "select_data" | translate }}
      </small>
    </div>
  </div>

  <div *ngIf="actions.length" class="radio_field">
    <div class="radio_field__title">
      Действия для выбранного следующего шага
    </div>

    <div *ngFor="let action of actions" class="radio__wrap add">
      <label class="radio">
        <input
          class="radio__input"
          type="radio"
          [value]="action.id"
          formControlName="nextAction"
          name="nextAction"
        />
        <span class="radio__box"><i class="point"></i></span>
        <span class="radio__text">{{
          action.lang[lawsuitService.translate.currentLang]
        }}</span>
      </label>
      <i class="uil-eye" (click)="popUpTemplateForm(action)"></i>
    </div>
  </div>

  <button
    type="submit"
    class="page-form__actionbtn text-uppercase add"
    [ngClass]="{ disableBtn: form.invalid || submitted }"
    [disabled]="form.invalid || submitted"
  >
    Перейти к следующему действию
  </button>
</form>
