<app-step-wrapper>
  <ng-container class="action-form">
    <app-stop-process-wrap>
      <app-select-action></app-select-action>

      <app-sending-application
        [action]="this.lawsuitService.isActionForm(2)"
        *ngIf="this.lawsuitService.isActionForm(2)"
      ></app-sending-application>
      <app-making-response
        [action]="this.lawsuitService.isActionForm(3)"
        *ngIf="this.lawsuitService.isActionForm(3)"
      ></app-making-response>

      <app-next-step
        *ngIf="
          lawsuitService.stepIndex === lawsuitService.steps.length &&
          lawsuitService.historyActions.length &&
          (lawsuitService.isDeniedStep || !lawsuitService.historySteps.length)
        "
      ></app-next-step>
    </app-stop-process-wrap>
  </ng-container>
</app-step-wrapper>
