<app-step-wrapper>
  <ng-container class="action-form">
    <app-stop-process-wrap>
      <app-select-action></app-select-action>

      <app-enforcement-request
        [action]="this.lawsuitService.isActionForm(19)"
        *ngIf="this.lawsuitService.isActionForm(19)"
      ></app-enforcement-request>

      <app-enforcement-response
        [action]="this.lawsuitService.isActionForm(20)"
        *ngIf="this.lawsuitService.isActionForm(20)"
      ></app-enforcement-response>

      <app-main-appeal
        [action]="this.lawsuitService.isActionForm(23)"
        *ngIf="this.lawsuitService.isActionForm(23)"
      ></app-main-appeal>
    </app-stop-process-wrap>
  </ng-container>
</app-step-wrapper>
