<div class="row">
  <div class="col-lg-7">
    <div
      class="p-2 mb-2 bg-gray-primary"
      style="border-radius: 5px"
      *ngIf="lastAction"
    >
      <div class="row flex-nowrap align-items-end mb-1">
        <div class="col-6">
          <div class="form-field__title mb-1">№ входящего документа</div>
          <div class="p-2 bg-gray-secondary" style="border-radius: 5px">
            {{ lastAction?.in_doc_number }}
          </div>
        </div>

        <div class="col-6">
          <div class="form-field__title mb-1">Дата вх. документа</div>
          <div class="p-2 bg-gray-secondary" style="border-radius: 5px">
            {{ lastAction?.in_doc_date }}
          </div>
        </div>
      </div>

      <div class="form-field__title mb-1">Прикрепленные файлы</div>
      <div class="mb-2">
        <div
          *ngFor="let item of lastAction?.files; index as i"
          class="py-1 d-flex align-items-center"
        >
          <i class="icon-attach mr-1" style="font-size: 22px"></i>
          <div class="ml-1">
            {{ item.name }}
          </div>
        </div>
      </div>

      <div class="d-flex align-items-center flex-nowrap mb-1">
        <div class="custom-toggle-track  mr-1" [class.custom-toggle-disabled]="!lastAction?.to_court">
          <div class="custom-toggle-thumb" [class.custom-toggle-thumb_active]="lastAction?.to_court"></div>
        </div>
        <div class="form-field__title m-0">Передача дела в суд</div>
      </div>

      <div class="row flex-nowrap mb-1" *ngIf="!lastAction?.to_court">
        <div class="col-6">
          <div class="form-field__title mb-1">Причина отсрочки</div>
          <div class="p-2 bg-gray-secondary" style="border-radius: 5px">
            <ng-container [ngSwitch]="lastAction?.reason">
              <ng-template ngSwitchCase="1">Дело закрыто</ng-template>
              <ng-template ngSwitchCase="2">Временно</ng-template>
              <ng-template ngSwitchCase="3">Отложить на</ng-template>
            </ng-container>
          </div>
        </div>

        <div class="col-6" *ngIf="lastAction?.reason === 3">
          <div class="form-field__title mb-1">Выбранный день</div>
          <div class="p-2 bg-gray-secondary" style="border-radius: 5px">
            {{ lastAction?.activation_date }}
          </div>
        </div>
      </div>

      <div class="mb-2">
        <div class="form-field__title mb-1">Дополнительная информация</div>
        <div class="p-2 bg-gray-secondary" style="border-radius: 5px">
          {{ lastAction?.add_info }}
        </div>
      </div>
    </div>

    <form
      action=""
      class="page-form mb-2"
      [formGroup]="stepForm"
      (ngSubmit)="nextStep()"
      *ngIf="stepStatus === 0 && mainService.ROLE?.includes(1)"
    >
<!--      [ngClass]="{ 'disabled-form p-2': stepStatus }"-->
      <div class="row justify-content-between align-items-end mb-2">
        <div class="col-6">
          <app-form-field
            formControlName="in_doc_number"
            [type]="'text'"
            [title]="'№ входящего документа'"
          ></app-form-field>
        </div>

        <div class="col-6">
          <app-form-field
            formControlName="in_doc_date"
            [type]="'datepicker'"
            [title]="'Дата вх. документа'"
          ></app-form-field>
        </div>
      </div>
      <div class="row justify-content-between mb-2">
        <div class="col-12">
          <app-form-field
            formControlName="files"
            [type]="'file'"
            [title]="'Скан документа'"
          ></app-form-field>
        </div>
      </div>
      <div class="row justify-content-between mb-2">
        <div class="col-12">
          <app-form-field
            formControlName="to_court"
            [type]="'checkbox'"
            [checkboxType]="'toggle'"
            [title]="'Передача дела в суд'"
          ></app-form-field>
        </div>
      </div>
      <div class="row justify-content-between mb-2" *ngIf="!toCourt">
        <div class="col-6">
          <app-form-field
            formControlName="reason"
            [type]="'select'"
            [title]="'Причина отсрочки'"
            [selectOptions]="taskInfo?.sp.chamber_reason"
          ></app-form-field>
        </div>

        <div class="col-6" *ngIf="stepForm.value.reason === 3">
          <app-form-field
            formControlName="activation_date"
            [type]="'datepicker'"
            [title]="'Выберите день'"
          ></app-form-field>
        </div>
      </div>

      <div class="row justify-content-between mb-2" *ngIf="!toCourt">
        <div class="col-12">
          <app-form-field
            formControlName="add_info"
            [type]="'textarea'"
            [title]="'Дополнительная информация'"
          ></app-form-field>
        </div>
      </div>

      <div class="d-flex justify-content-center align-items-center p-2" *ngIf="stepForm.value.reason === 2">
        <i class="uil-info-circle mr-1" style="font-size: 20px"></i>
        <span style="font-size: 14px">После нажатие кнопки “временно приостановить” шаг блокируется  на 15 рабочих дней и после окончание срока шаг будет активным.</span>
      </div>

      <button
        type="submit"
        class="page-form__actionbtn text-uppercase"
      >
<!--        *ngIf="!stepStatus"-->
<!--        [disabled]="stepForm.invalid"-->
        {{ formBtnText }}
      </button>
    </form>

    <div
      class="p-2 mb-2 d-flex justify-content-center align-items-center bg-gray-secondary"
      style="border-radius: 5px"
      *ngIf="stepStatus === 2"
    >
      <i class="uil-info-circle text-danger mr-2" style="font-size: 20px"></i>
      <div style="text-align: left">
        <div>Шаг заблокирован до {{ taskInfo?.body?.activation_date }}  </div>
        <div>До разблокировки осталось {{ getRelativeTime() }}</div>
      </div>
    </div>
  </div>
</div>

<app-alert-info
  [text]="'Подождите, данные еще не внесены исполнительным юристом.'"
  [icon]="'uil-clock-three'"
  [iconColorClass]="'text-warning'"
  *ngIf="stepStatus === 0 && mainService.ROLE?.includes(2)"
></app-alert-info>

