<form
  action=""
  class="page-form"
>
  <div class="row no-gutters justify-content-between mb-2">
    <div class="input-field mr-1">
      <div class="input-field__title">№ исходящего документа</div>
      <label class="input-field__label">
        <input type="text" autocomplete="off" />
      </label>
    </div>

    <app-datepicker [title]="'Дата вх. документа'" (onselect)="logger($event, 'first')"></app-datepicker>

<!--    <div class="input-field ml-1">-->
<!--      <div class="input-field__title">Дата исх. документа</div>-->
<!--      <label class="input-field__label">-->
<!--        <input type="text" class="datepicker-here" readonly />-->
<!--        <i class="icon-calendar"></i>-->
<!--      </label>-->
<!--    </div>-->
  </div>


  <div class="checkbox-field mb-2">
    <label class="checkbox-field__label">
      <input type="checkbox">
      <span class="custom-checkbox mr-2">
        <i class="uil-check"></i>
      </span>
      <span>Передача дела в суд</span>
    </label>
  </div>

  <div class="page-form__actionbtn text-uppercase">
    <!--    (click)="clientDetail.nextStep()"-->
    следующий шаг
  </div>
</form>
