<div class="h-100">
  <div
    class="page-header row no-gutters justify-content-between align-items-center"
  >
    <div class="page-title cursor-pointer" (click)="goToBack()">
      <i class="uil-arrow-left"></i>
      {{ params.step ? "Назад к кредиту" : "Назад к списку кредитов" }}
    </div>
  </div>

  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-1">
          <div class="page-content__title">История дела</div>
          <app-accordion-wrapper>
            <app-accordion-item
              [accordionTitle]="'Отправка оповещения должнику'"
              [accordionDoneText]="'Должник оповещен'"
              [step]="1"
            >
              <div accordion-content>
                <app-alert-step-history
                  [step]="1"
                  [accordionDoneText]="'Должник оповещен'"
                ></app-alert-step-history>
              </div>
            </app-accordion-item>
            <app-accordion-item
              [accordionTitle]="'Отправка заявки в палату'"
              [accordionDoneText]="'Заявка отравлена в палату'"
              [step]="2"
            >
              <div accordion-content>
                <app-alert-application-history
                  [step]="2"
                  [accordionDoneText]="'Заявка отравлена в палату'"
                ></app-alert-application-history>
              </div>
            </app-accordion-item>
            <app-accordion-item
              [accordionTitle]="'Внесение решения палаты'"
              [accordionDoneText]="'Принято решение о передаче дела в суд'"
              [step]="3"
            >
              <div accordion-content>
                <app-chamber-decision-history
                  [step]="3"
                  [accordionDoneText]="'Принято решение о передаче дела в суд'"
                ></app-chamber-decision-history>
              </div>
            </app-accordion-item>
            <app-accordion-item
              [accordionTitle]="'Подготовка дела для отправки в суд'"
              [accordionDoneText]="'Дело отправлено в суд'"
              [step]="4"
            >
              <div accordion-content>
                <app-sending-court-history
                  [step]="4"
                  [accordionDoneText]="'Дело отправлено в суд'"
                ></app-sending-court-history>
              </div>
            </app-accordion-item>
            <app-accordion-item
              [accordionTitle]="'Получение и внесение ответа от суда'"
              [accordionDoneText]="'Получено решение суда'"
              [step]="5"
            >
              <div accordion-content>
                <app-response-court-history
                  [step]="5"
                  [accordionDoneText]="'Получено решение суда'"
                ></app-response-court-history>
              </div>
            </app-accordion-item>
            <app-accordion-item
              [accordionTitle]="'Ответ суда первой инстанции'"
              [accordionDoneText]="'Ответ получен'"
              [step]="5.1"
            >
              <div accordion-content>
                <app-first-instance-history
                  [step]="5.1"
                  [accordionDoneText]="'Ответ получен'"
                ></app-first-instance-history>
              </div>
            </app-accordion-item>
            <app-accordion-item
              [accordionTitle]="'Передача дело в апелляцию'"
              [accordionDoneText]="'Дело передано в аппеляцию'"
              [step]="5.2"
              *ngIf="isActive(5.2)"
            >
              <div accordion-content>
                <app-appeal-history
                  [step]="5.2"
                  [accordionDoneText]="'Дело передано в аппеляцию'"
                ></app-appeal-history>
              </div>
            </app-accordion-item>
            <app-accordion-item
              [accordionTitle]="'Ответ суда апелляционный инстанции'"
              [accordionDoneText]="'Ответ получен'"
              [step]="5.3"
              *ngIf="isActive(5.3)"
            >
              <div accordion-content>
                <app-first-instance-history
                  [step]="5.3"
                  [accordionDoneText]="'Ответ получен'"
                ></app-first-instance-history>
              </div>
            </app-accordion-item>
            <app-accordion-item
              [accordionTitle]="'Передача дело в кассацию'"
              [accordionDoneText]="'Дело передано в кассацию'"
              [step]="5.4"
              *ngIf="isActive(5.4)"
            >
              <div accordion-content>
                <app-appeal-history
                  [step]="5.4"
                  [accordionDoneText]="'Дело передано в кассацию'"
                ></app-appeal-history>
              </div>
            </app-accordion-item>
            <app-accordion-item
              [accordionTitle]="'Ответ суда кассационный инстанции '"
              [accordionDoneText]="'Ответ получен'"
              [step]="5.5"
              *ngIf="isActive(5.5)"
            >
              <div accordion-content>
                <app-first-instance-history
                  [step]="5.5"
                  [accordionDoneText]="'Ответ получен'"
                ></app-first-instance-history>
              </div>
            </app-accordion-item>
            <app-accordion-item
              [accordionTitle]="'Передача дело в надзор или прокуратуру'"
              [accordionDoneText]="'Дело передано в надзор или прокуратуру'"
              [step]="5.6"
              *ngIf="isActive(5.6)"
            >
              <div accordion-content>
                <app-supervision-history
                  [step]="5.6"
                  [accordionDoneText]="'Дело передано в надзор или прокуратуру'"
                ></app-supervision-history>
              </div>
            </app-accordion-item>
            <app-accordion-item
              [accordionTitle]="'Ответ суда надзорной инстанции'"
              [accordionDoneText]="'Ответ получен'"
              [step]="5.7"
              *ngIf="isActive(5.7)"
            >
              <div accordion-content>
                <app-supervision-response-history
                  [step]="5.7"
                  [accordionDoneText]="'Ответ получен'"
                ></app-supervision-response-history>
              </div>
            </app-accordion-item>
            <app-accordion-item
              [accordionTitle]="'Передача дело в МИБ'"
              [accordionDoneText]="'Дело передано в МИБ'"
              [step]="6"
            >
              <div accordion-content>
                <app-sending-mib-history
                  [step]="6"
                  [accordionDoneText]="'Дело передано в МИБ'"
                ></app-sending-mib-history>
              </div>
            </app-accordion-item>
            <app-accordion-item
              [accordionTitle]="'Получение и внесение ответа от МИБ'"
              [accordionDoneText]="'Ответ получен'"
              [step]="7"
            >
              <div accordion-content>
                <app-response-mib-history
                  [step]="7"
                  [accordionDoneText]="'Ответ получен'"
                ></app-response-mib-history>
              </div>
            </app-accordion-item>
            <app-accordion-item
              [accordionTitle]="
                'Внесение данных о выставленных залогов клиента в аукционах #1'
              "
              [accordionDoneText]="'Ответ внесен'"
              [step]="8"
            >
              <div accordion-content>
                <app-outstanding-auction-history
                  [step]="8"
                  [accordionDoneText]="'Ответ внесен'"
                ></app-outstanding-auction-history>
              </div>
            </app-accordion-item>
          </app-accordion-wrapper>
        </div>
        <!--      <div class="col-xl-4 col-lg-3">-->
        <!--        <div class="page-content__title">Документы дела</div>-->

        <!--        <div class="info-card__docs">-->
        <!--          <div class="info-card__docs_list">-->
        <!--            <div class="info-card__docs_list_item">-->
        <!--              <i class="icon-image"></i>-->
        <!--              <span>Скан письма #3</span>-->
        <!--              <a href="">-->
        <!--                <i class="icon-attach"></i>-->
        <!--                скачать-->
        <!--              </a>-->
        <!--            </div>-->
        <!--            <div class="info-card__docs_list_item">-->
        <!--              <i class="icon-document_alt"></i>-->
        <!--              <span>Копия договора от 28.10.2019</span>-->
        <!--              <a href="">-->
        <!--                <i class="icon-attach"></i>-->
        <!--                скачать-->
        <!--              </a>-->
        <!--            </div>-->
        <!--            <div class="info-card__docs_list_item">-->
        <!--              <i class="icon-table"></i>-->
        <!--              <span>Вторая копия договора от 12.12.2019</span>-->
        <!--              <a href="">-->
        <!--                <i class="icon-attach"></i>-->
        <!--                скачать-->
        <!--              </a>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--      </div>-->
      </div>
    </div>
  </div>
</div>
