<div class="h-100">
  <div
    class="page-header row no-gutters justify-content-between align-items-center"
  >
    <div class="page-title">
      Список должников по Шахриханскому филиалу на 19 ноября 2019
    </div>
    <div
      class="page-actions row no-gutters justify-content-between align-items-center"
      [@showAction]="stateName"
    >
      <div
        *ngIf="keycloak.isUserInRole('head-lawyer')"
        class="page-action__item mr-2 listDecision"
        (click)="showListDecision()"
      >
        <i class="uil-question-circle"></i>
        Принять решения
      </div>

      <div class="page-action__item mr-2" (click)="showDetails()">
        <i class="far fa-eye"></i>
        Детали
      </div>
      <!-- <div class="page-action__item mr-2" (click)="showHistory()">
        <i class="far fa-clock"></i>
        История
      </div>
      <div class="page-action__item">
        <i class="fas fa-sliders-h"></i>
        Редактировать
      </div> -->
    </div>
  </div>
  <div class="page-table">
    <div class="page-table__header">
      <div class="page-table__tr">
        <div
          class="page-table__tr__wrapper row no-gutters justify-content-between align-items-center w-100"
        >
          <div class="page-table__th">#</div>
          <div class="page-table__th">Имя</div>
          <div class="page-table__th">ИНН</div>
          <div class="page-table__th">
            Тип клиента <i class="uil-angle-down"></i>
          </div>
          <div class="page-table__th">ID договора</div>
          <div class="page-table__th">
            Сумма кредита <i class="uil-angle-down"></i>
          </div>
          <!-- <div class="page-table__th">Валюта</div> -->
          <div class="page-table__th">Начало</div>
          <div class="page-table__th">Завершение</div>
          <div class="page-table__th">Итого долг</div>
          <div class="page-table__th">
            Просрочка <i class="uil-angle-down"></i>
          </div>
          <div class="page-table__th">
            В ожидании решения <i class="uil-angle-down"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="page-table__body">
      <div
        class="page-table__tr"
        *ngFor="let contract of contractList; index as i"
        [class.page-table__tr__active]="selectedItem === i"
        (click)="selectItem(contract, i)"
        (dblclick)="showDetails()"
      >
        <div
          class="page-table__tr__wrapper row no-gutters justify-content-between align-items-center w-100"
        >
          <div class="page-table__td">{{ contract.clientId }}</div>
          <div class="page-table__td text-capitalize">
            {{ contract.clientFio }}
          </div>
          <div class="page-table__td">{{ contract.clientInn }}</div>
          <div class="page-table__td" [ngSwitch]="contract.clientType">
            <span *ngSwitchCase="'F'"> Физическое лицо </span>
            <span *ngSwitchCase="'Y'"> Юридическое лицо </span>
          </div>
          <div class="page-table__td">{{ contract.contractId }}</div>
          <div class="page-table__td">{{ contract.creditSumm }}</div>
          <!-- <div class="page-table__td">{{ contract.creditCurrency }}</div> -->
          <div class="page-table__td">{{ contract.creditStart }}</div>
          <div class="page-table__td">{{ contract.creditEnd }}</div>
          <div class="page-table__td">{{ contract.totalDebt }}</div>
          <div class="page-table__td text-danger fw-bold">
            {{ contract.delayDate }}
          </div>
          <div class="page-table__td">
            {{ contract.stepsCount }}
            {{
              contract.stepsCount | declensionOfWords: ["Шаг", "Шага", "Шагов"]
            }}| {{ contract.actionsCount }}
            {{
              contract.actionsCount
                | declensionOfWords: ["действие", "действия", "действий"]
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
