<div class="h-100">
  <div
    class="page-header row no-gutters justify-content-between align-items-center"
  >
    <div class="page-title">
      {{
        "list_debtors"
          | translate
            : {
                filial_name: filialName,
                date: currentDate | date: "dd.MM.yyyy"
              }
      }}
      <!-- Список должников по {{ filialName }} филиалу на
      {{ currentDate | date: "dd.MM.yyyy" }} -->
    </div>

    <div class="searchBlock ml-4">
      <i class="icon-search"></i>
      <input type="text" #search placeholder="{{ 'search' | translate }}" />
    </div>

    <div
      class="page-actions row no-gutters justify-content-between align-items-center"
      [@showAction]="stateName"
    >
      <!-- <div
        *ngIf="keycloak.isUserInRole('head-lawyer')"
        class="page-action__item mr-2 listDecision"
        (click)="showListDecision()"
      >
        <i class="uil-question-circle"></i>
        Принять решения
      </div> -->

      <app-make-decesions></app-make-decesions>

      <div class="page-action__item mr-2" (click)="showDetails()">
        <i class="far fa-eye"></i>
        {{ "details" | translate }}
      </div>
      <!-- <div class="page-action__item mr-2" (click)="showHistory()">
        <i class="far fa-clock"></i>
        {{'history' | translate}}
      </div>
      <div class="page-action__item">
        <i class="fas fa-sliders-h"></i>
        Редактировать
      </div> -->
    </div>
  </div>
  <div class="page-table">
    <div class="page-table__header">
      <div class="page-table__tr">
        <div
          class="page-table__tr__wrapper row no-gutters justify-content-between align-items-center w-100"
        >
          <div class="page-table__th">#</div>
          <div class="page-table__th">
            {{ "name" | translate }}
            <i
              #sorting
              class="uil-angle-down sorting"
              (click)="sort('clientFio', $event)"
            ></i>
          </div>
          <div class="page-table__th">
            {{ "inn" | translate }}
            <i
              #sorting
              class="uil-angle-down sorting"
              (click)="sort('clientInn', $event)"
            ></i>
          </div>
          <div class="page-table__th">
            {{ "client_type" | translate }}
            <i
              #sorting
              class="uil-angle-down sorting"
              (click)="sort('clientType', $event)"
            ></i>
          </div>
          <div class="page-table__th">
            {{ "contract_id" | translate }}
            <i
              #sorting
              class="uil-angle-down sorting"
              (click)="sort('contractId', $event)"
            ></i>
          </div>
          <div class="page-table__th">
            {{ "credit_amount" | translate }}
            <i
              #sorting
              class="uil-angle-down sorting"
              (click)="sort('creditSumm', $event)"
            ></i>
          </div>
          <!-- <div class="page-table__th">Валюта</div> -->
          <div class="page-table__th">
            {{ "start" | translate }}
            <i
              #sorting
              class="uil-angle-down sorting"
              (click)="sort('creditStart', $event)"
            ></i>
          </div>
          <div class="page-table__th">
            {{ "completion" | translate }}
            <i
              #sorting
              class="uil-angle-down sorting"
              (click)="sort('creditEnd', $event)"
            ></i>
          </div>
          <div class="page-table__th">
            {{ "total_debt" | translate }}
            <i
              #sorting
              class="uil-angle-down sorting"
              (click)="sort('totalDebt', $event)"
            ></i>
          </div>
          <div class="page-table__th">
            {{ "delay" | translate }}
            <i
              #sorting
              class="uil-angle-down sorting"
              (click)="sort('delayDate', $event)"
            ></i>
          </div>

          <div class="page-table__th">
            {{ "delayDays" | translate }}
            <i
              #sorting
              class="uil-angle-down sorting"
              (click)="sort('delayDays', $event)"
            ></i>
          </div>

          <div class="page-table__th">
            {{ "waiting_decision" | translate }}
            <i
              #sorting
              class="uil-angle-down sorting"
              (click)="sort('actionsCount', $event)"
            ></i>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!loader; else loaderBlock" class="page-table__body">
      <div
        class="page-table__tr"
        *ngFor="
          let contract of contractList
            | paginate
              : {
                  itemsPerPage: itemsPerPage,
                  currentPage: currentPage,
                  totalItems: totalItems
                };
          index as i
        "
        [class.page-table__tr__active]="selectedItem === i"
        (click)="selectItem(contract, i)"
        (dblclick)="showDetails()"
      >
        <div
          class="page-table__tr__wrapper row no-gutters justify-content-between align-items-center w-100"
        >
          <div class="page-table__td">
            <!-- {{ contract.clientId }} -->
            {{ contract.contractId }}
          </div>
          <div class="page-table__td text-capitalize">
            {{ contract.clientFio }}
          </div>
          <div class="page-table__td">{{ contract.clientInn }}</div>
          <!-- <div class="page-table__td" [ngSwitch]="contract.clientType">
            <span *ngSwitchCase="'F'"> Физическое лицо </span>
            <span *ngSwitchCase="'Y'"> Юридическое лицо </span>
          </div> -->

          <div class="page-table__td">
            {{ contract.clientTypeName[lawsuitService.translate.currentLang] }}
          </div>
          <div class="page-table__td">{{ contract.creditId }}</div>
          <div class="page-table__td">
            {{ contract.creditSumm | numberTransform }}
          </div>
          <!-- <div class="page-table__td">{{ contract.creditCurrency }}</div> -->
          <div class="page-table__td">{{ contract.creditStart }}</div>
          <div class="page-table__td">{{ contract.creditEnd }}</div>
          <div class="page-table__td">
            {{ contract.totalDebt | numberTransform }}
          </div>
          <div class="page-table__td text-danger fw-bold">
            {{ contract.delayDate }}
          </div>
          <div class="page-table__td text-danger fw-bold">
            {{ contract.delayDays }}
          </div>
          <div class="page-table__td">
            <div class="count_value">
              <span class="count_item"
                >{{ contract.stepsCount }}
                {{
                  contract.stepsCount
                    | declensionOfWords
                      : [
                          "step1" | translate,
                          "step2" | translate,
                          "step3" | translate
                        ]
                }}</span
              >

              <div class="verSepareter"></div>

              <span class="count_item">
                {{ contract.actionsCount }}
                {{
                  contract.actionsCount
                    | declensionOfWords
                      : [
                          "action1" | translate,
                          "action2" | translate,
                          "action3" | translate
                        ]
                }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #loaderBlock>
      <div class="loader d-flex justify-content-center align-items-center">
        <app-loader></app-loader>
      </div>
    </ng-template>

    <div
      *ngIf="!loader && !contractList.length"
      class="emptyList d-flex justify-content-center align-items-center"
    >
      <h2 class="title">{{ "emptyList" | translate }}</h2>
    </div>
  </div>

  <!-- pagination -->
  <div *ngIf="itemsPerPage < totalItems" class="d-flex paginationBlock add">
    <div class="d-flex align-items-center">
      <small class="paginationTitle">{{ "count_page" | translate }}:</small>
      <ng-select
        class="my-select"
        [items]="pages"
        [(ngModel)]="itemsPerPage"
        (change)="pageChanged(1)"
        bindLabel="label"
        bindValue="value"
        [clearable]="false"
        [searchable]="false"
        #agreeSelect
      >
        <ng-template ng-option-tmp let-item="item" ng-label-tmp>
          <div title="item">
            {{ item.label | translate }}
          </div>
        </ng-template>
      </ng-select>
    </div>

    <pagination-controls
      class="my-pagination"
      (pageChange)="pageChanged($event)"
      previousLabel=""
      nextLabel=""
      [autoHide]="true"
    ></pagination-controls>
  </div>
</div>
