<div class="h-100">
  <div
    class="page-header row no-gutters justify-content-between align-items-center"
  >
    <div class="page-title">
      Список должников по Шахриханскому филиалу на 19 ноября 2019
    </div>
    <div
      class="page-actions row no-gutters justify-content-between align-items-center"
      [@showAction]="stateName"
    >
      <div class="page-action__item mr-2" (click)="showDetails()">
        <i class="far fa-eye"></i>
        Детали
      </div>
      <div class="page-action__item mr-2">
        <i class="far fa-clock"></i>
        История
      </div>
      <div class="page-action__item">
        <i class="fas fa-sliders-h"></i>
        Редактировать
      </div>
    </div>
  </div>
  <div class="page-table">
    <div class="page-table__header">
      <div class="page-table__tr">
        <div class="page-table__tr__wrapper row no-gutters justify-content-between align-items-center w-100">
          <div class="page-table__th">#</div>
          <div class="page-table__th">Имя</div>
          <div class="page-table__th">ИНН</div>
          <div class="page-table__th">
            Тип клиента <i class="uil-angle-down"></i>
          </div>
          <div class="page-table__th">ID договора</div>
          <div class="page-table__th">
            Сумма кредита <i class="uil-angle-down"></i>
          </div>
          <div class="page-table__th">Валюта</div>
          <div class="page-table__th">Начало</div>
          <div class="page-table__th">Завершение</div>
          <div class="page-table__th">Итого долг</div>
          <div class="page-table__th">
            Просрочка <i class="uil-angle-down"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="page-table__body">
      <div
        class="page-table__tr"
        *ngFor="let el of range; index as i"
        [class.page-table__tr__active]="selectedItem === i"
        (click)="selectItem(i)"
      >
        <div class="page-table__tr__wrapper row no-gutters justify-content-between align-items-center w-100">
          <div class="page-table__td">{{ i + 1 }}</div>
          <div class="page-table__td text-capitalize">yunushodjaeva shakhnoza farruho…</div>
          <div class="page-table__td">490300203</div>
          <div class="page-table__td">Физическое лицо</div>
          <div class="page-table__td">200331</div>
          <div class="page-table__td">150 000 000,00</div>
          <div class="page-table__td">UZS</div>
          <div class="page-table__td">29.01.2017</div>
          <div class="page-table__td">29.01.2019</div>
          <div class="page-table__td">154 931 506,85</div>
          <div class="page-table__td text-danger fw-bold">-302 дня</div>
        </div>
      </div>
    </div>
  </div>
</div>
