<h2 class="title_lawsuit">История решений Г.Ю. по шагам</h2>

<div class="history_step__field">
  <div class="row history_step__field__title no-gutters">
    <div class="col-4 add">Дата</div>
    <div class="col-4">Выбранный шаг</div>
    <div class="col-4">Решение Г.Ю.</div>
  </div>

  <div class="wrap_history__step">
    <button class="next_step_btn"></button>
    <span class="next_step_title">Перейти на следующий шаг</span>
    <div class="row no-gutters history_step__field__data">
      <div class="col-4 add">15.11.2021</div>
      <div class="col-4 history_step__field__data__step">
        <span>Суд</span>
      </div>
      <div class="col-4 history_step__field__data__status approved">
        <span>Одобрено</span><i class="icon-eye"></i>
      </div>
    </div>
  </div>
</div>
