<div class="lawsuitTitleWrap">
  <h2 class="lawsuitTitle">Передача дела на исполнение в МИБ</h2>
  <button
    class="remove_action_form__btn"
    (click)="this.lawsuitService.removeActionForm(actionId)"
  >
    <i class="uil-times"></i>
  </button>
</div>
<form class="page-form" [formGroup]="form" (ngSubmit)="submit()">
  <div class="row justify-content-between mb-2">
    <div class="col-6">
      <div class="select-field">
        <div class="select-field__title">Вид суда</div>
        <ng-select
          appearance="outline"
          [items]="options"
          bindLabel="label"
          bindValue="id"
          placeholder="Вид суда"
          #agreeSelect
          labelForId="yesno"
          [searchable]="false"
          formControlName="typeApplication"
        ></ng-select>
        <div
          *ngIf="
            form.get('typeApplication')?.touched &&
            form.get('typeApplication')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('typeApplication')?.errors?.required">
            Выберите данные
          </small>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-between mb-2">
    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">№ исх. документа</div>
        <label class="input-field__label">
          <input type="text" autocomplete="off" formControlName="numberDoc" />
        </label>

        <div
          *ngIf="
            form.get('numberDoc')?.touched && form.get('numberDoc')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('numberDoc')?.errors?.required">
            Введите данные
          </small>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">Дата исх. документа</div>
        <label class="input-field__label">
          <!--        <input type="text" class="datepicker-here" readonly />-->
          <input
            class="input-box"
            angular-mydatepicker
            name="reactiveFormsDate"
            formControlName="dateDoc"
            [options]="myDpOptions"
            #dp="angular-mydatepicker"
            [locale]="'ru'"
          />
          <i class="icon-calendar" (click)="dp.toggleCalendar()"></i>
        </label>

        <div
          *ngIf="form.get('dateDoc')?.touched && form.get('dateDoc')?.invalid"
          class="validation"
        >
          <small
            *ngIf="
              form.controls.dateDoc.errors &&
              form.controls.dateDoc.errors.required &&
              !form.controls.dateDoc.errors.invalidDateFormat
            "
          >
            Введите данные
          </small>
          <small
            *ngIf="
              form.controls.dateDoc.errors &&
              form.controls.dateDoc.errors.invalidDateFormat
            "
          >
            Неккоректные данные
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between mb-2">
    <div class="col-12">
      <div class="text-field">
        <div class="text-field__title">Дополнительная информация</div>
        <label class="text-field__label">
          <textarea
            placeholder="Уточните детали"
            formControlName="additionalInfo"
          ></textarea>
        </label>

        <div
          *ngIf="
            form.get('additionalInfo')?.touched &&
            form.get('additionalInfo')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('additionalInfo')?.errors?.required">
            Введите данные
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between mb-2">
    <div class="col-12">
      <app-file-uploader
        [formData]="formData"
        title="Прикрепить файл"
      ></app-file-uploader>
    </div>
  </div>

  <button
    *ngIf="!formData"
    type="submit"
    class="page-form__actionbtn text-uppercase add"
    [ngClass]="{ disableBtn: form.invalid || submitted }"
    [disabled]="form.invalid || submitted"
  >
    Отправить
  </button>
</form>
