<div class="h-100">
  <div class="page-header row justify-content-between align-items-center">
    <a routerLink="/claims" class="back">
      <i class="icon-back"></i><small>Создание новой заявки</small>
    </a>
    <h4 class="stepNum">Шаг 1. Подача заявления в прокуратуру</h4>
    <div class="moc"></div>
  </div>

  <div class="page-content row justify-content-center">
    <app-stepper-wrapper>
      <app-step
        [stepTitle]="'Подача заявления в прокуратуру '"
        [stepDoneText]="'Заявка подана'"
      >
        <div step-content>
          <app-step1></app-step1>
        </div>
      </app-step>

      <app-step
        [stepTitle]="'Подача заявления в прокуратуру '"
        [stepDoneText]="'Заявка подана'"
      >
        <div step-content>
          <app-step2></app-step2>
        </div>
      </app-step>
    </app-stepper-wrapper>
  </div>
</div>
