.back {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  i {
    font-size: 18px;
    margin-right: 15px;
  }
}

.stepNum {
  margin: 0;
  font-weight: normal;
}

.history {
  // width: 231px;
}
