<form action="" class="page-form pb-2" *ngIf="mainService.role === 'lawyer'">

  <div class="row mb-2">
    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">№ постановления о прекращении исполнительного производства</div>
        <label class="input-field__label">
          <input type="text" autocomplete="off" />
        </label>
      </div>
    </div>
  </div>

  <div class="row justify-content-between mb-2">
    <div class="col-6">
      <app-datepicker [title]="'Выберите дату'"></app-datepicker>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-12">
      <div class="input-field">
        <div class="input-field__title">С какой статьей прекращено исполнительное производство</div>
        <label class="input-field__label">
          <input type="text" autocomplete="off" />
        </label>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-12">
      <div class="input-field">
        <div class="input-field__title">Предложения залоговое имущество  принятия на баланс банка от % заниженной суммы</div>
        <label class="input-field__label">
          <input type="text" autocomplete="off" />
        </label>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-12">
      <div class="input-field">
        <div class="input-field__title">Решение банка</div>
        <label class="input-field__label">
          <input type="text" autocomplete="off" />
        </label>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-12">
      <div class="input-field">
        <div class="input-field__title">Указано от стоимости залоговое сумма</div>
        <label class="input-field__label">
          <input type="text" autocomplete="off" />
        </label>
      </div>
    </div>
  </div>

  <app-file-uploader [title]="'Прикрепить файл'"></app-file-uploader>

  <div class="page-form__actionbtn text-uppercase">
    <!--    (click)="clientDetail.nextStep()"-->
    следующий шаг
  </div>
</form>
