<div class="row flex-nowrap" *ngIf="mainService.ROLE?.includes(1)">
  <div class="col-7">
    <div
      class="p-2 mb-2 bg-gray-primary"
      style="border-radius: 5px"
      *ngIf="lastAction"
    >

      <div class="mb-1">Прикрепленные файлы</div>
      <div class="mb-2">
        <div
          *ngFor="let item of lastAction?.files; index as i"
          class="py-1 d-flex align-items-center"
          (click)="clientsService.downloadFile(item?.id)"
        >
          <i class="icon-attach mr-1" style="font-size: 22px"></i>
          <div class="ml-1 cursor-pointer">
            {{ item.name }}
          </div>
        </div>
      </div>

      <div class="row flex-nowrap align-items-end mb-1" *ngIf="stepStatus === 1">
        <div class="col-6">
          <div class="mb-1">№ исходящего документа</div>
          <div class="p-2 bg-gray-secondary" style="border-radius: 5px">
            {{ lastAction?.out_doc_number }}
          </div>
        </div>

        <div class="col-6">
          <div class="mb-1">Дата исх. документа</div>
          <div class="p-2 bg-gray-secondary" style="border-radius: 5px">
            {{ lastAction?.out_doc_date }}
          </div>
        </div>
      </div>

      <div class="mb-2">
        <div class="mb-1">Дополнительная информация</div>
        <div class="p-2 bg-gray-secondary" style="border-radius: 5px">
          {{ lastAction?.add_info }}
        </div>
      </div>
    </div>

    <form
      action=""
      class="page-form mb-2"
      *ngIf="stepStatus === 0 || stepStatus === -1"
      [formGroup]="sendFilesForm"
      (ngSubmit)="nextStep()"
    >
      <div class="mb-2">
        <app-form-field
          formControlName="files"
          [type]="'file'"
          [title]="'Скан документа'"
        ></app-form-field>
      </div>
      <div class="mb-2">
        <app-form-field
          formControlName="add_info"
          [type]="'textarea'"
          [title]="'Дополнительная информация'"
        ></app-form-field>
      </div>

      <button
        type="submit"
        class="page-form__actionbtn text-uppercase"
        [disabled]="!sendFilesForm.value.files?.length"
      >
        <!--    (click)="clientDetail.nextStep()"-->
        отправить заявку
      </button>
    </form>

    <form
      action=""
      class="page-form"
      *ngIf="stepStatus === 3"
      [formGroup]="completeAppForm"
      (ngSubmit)="nextStep()"
    >
      <div class="row justify-content-between align-items-end mb-2">
        <div class="col-6">
          <app-form-field
            formControlName="out_doc_number"
            [type]="'text'"
            [title]="'№ исходящего документа'"
          ></app-form-field>
        </div>

        <div class="col-6">
          <app-form-field
            formControlName="out_doc_date"
            [type]="'datepicker'"
            [title]="'Дата вх. документа'"
          ></app-form-field>
        </div>
      </div>

      <div class="mb-2">
        <app-form-field
          formControlName="files"
          [type]="'file'"
          [title]="'Скан документа'"
        ></app-form-field>
      </div>

      <button
        type="submit"
        class="page-form__actionbtn text-uppercase"
        [disabled]="completeAppForm.invalid"
      >
        отправить заявку
      </button>
    </form>
  </div>

  <div class="col-5">
    <div class="info-card" *ngIf="stepStatus !== 0">
      <div class="info-card__title mb-3">
        Данные полученные  от главного юриста
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <div>Решение</div>
        <div
          class="d-flex align-items-center text-danger"
          [class]="setClass('text')"
        >
          <i class="fas fa-circle mr-1" style="font-size: 8px"></i>
          <span>{{ getStatusText() }}</span>
        </div>
      </div>

      <div
        class="mt-3"
        *ngIf="lastAction?.main_law_info"
      >
        <div class="info-card__title mb-1">Дополнительная информация</div>
        <div class="info-card__data">
          {{ lastAction?.main_law_info }}
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mainService.ROLE?.includes(2)">
  <app-alert-info
    [text]="'Подождите, данные еще не отправлены исполнительным юристом.'"
    [icon]="'uil-clock-three'"
    [iconColorClass]="'text-warning'"
    *ngIf="stepStatus === 0"
  ></app-alert-info>
  <div class="row flex-nowrap">
    <div class="col-7">
      <div
        class="p-2 mb-2 bg-gray-primary"
        style="border-radius: 5px"
        *ngIf="stepStatus === 1 || stepStatus === 3 || stepStatus === -1"
      >
        <div class="mb-2">
          <div class="mb-1">Решение</div>
          <div class="p-2 bg-gray-secondary" style="border-radius: 5px">
            {{ getStatusText() }}
          </div>
        </div>

        <div class="mb-2">
          <div class="mb-1">Дополнительная информация</div>
          <div class="p-2 bg-gray-secondary" style="border-radius: 5px">
            {{ lastAction?.main_law_info }}
          </div>
        </div>
      </div>

      <app-alert-info
        [text]="
          lastAction?.main_law_decision === -1
            ? 'Заявка была отклонена'
            : lastAction?.main_law_decision === 3
            ? 'Заявка была одобрена'
            : ''
        "
        [icon]="'uil-info-circle'"
        [iconColorClass]="
          lastAction?.main_law_decision === -1
            ? 'text-danger'
            : lastAction?.main_law_decision === 3
            ? 'text-success'
            : ''
        "
        *ngIf="stepStatus === -1 || stepStatus === 3"
      ></app-alert-info>

      <form
        action=""
        class="page-form"
        *ngIf="stepStatus === 2"
        [formGroup]="mainLawForm"
        (ngSubmit)="nextStep()"
      >
        <div class="row mb-2">
          <div class="col-6">
            <app-form-field
              formControlName="main_law_decision"
              [type]="'select'"
              [title]="'Ваше решение'"
              [selectOptions]="taskInfo?.sp?.gy_decision"
            ></app-form-field>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-12">
            <app-form-field
              formControlName="main_law_info"
              [type]="'textarea'"
              [title]="'Дополнительная информация'"
            ></app-form-field>
          </div>
        </div>

        <button
          type="submit"
          class="page-form__actionbtn text-uppercase"
          [disabled]="mainLawForm.invalid"
        >
          отправить заявку
        </button>
      </form>
    </div>

    <div class="col-5" *ngIf="stepStatus !== 0">
      <div class="info-card">
        <div class="info-card__title mb-4">
          Данные полученные  от исполнителя
        </div>
        <div class="info-card__data" *ngIf="lastAction?.out_doc_number">
          <span>№ исходящего документа</span>
          <span>{{ lastAction?.out_doc_number }}</span>
        </div>
        <div class="info-card__data" *ngIf="lastAction?.out_doc_date">
          <span>Дата исх. документа</span>
          <span>{{ lastAction?.out_doc_date }}</span>
        </div>

        <div class="info-card__docs mt-2 mb-3">
          <div class="info-card__docs_title mb-1">Прикрепленные документы</div>
          <div class="info-card__docs_list">
            <div
              class="info-card__docs_list_item"
              *ngFor="let file of lastAction?.files"
              (click)="clientsService.downloadFile(file?.id)"
            >
              <i
                class="icon-image"
                *ngIf="file.type === 'image/jpeg' || file.type === 'png'"
              ></i>
              <i class="icon-document_alt" *ngIf="file.type === 'pdf'"></i>
              <i
                class="icon-table"
                *ngIf="
                  [
                    'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
                    'application/vnd.ms-excel',
                    'application/vnd.ms-excel.sheet.macroEnabled.12'
                  ].includes(file.type)
                "
              ></i>
              <span>{{ file.name }}</span>
              <div class="info-card__docs_list_item_download">
                <i class="icon-attach"></i>
                скачать
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="lastAction?.add_info">
          <div class="info-card__title mb-1">Дополнительная информация</div>
          <div class="info-card__data">
            {{ lastAction?.add_info }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
