<script src="../../../../../../../apparat-front/src/app/pages/p-application/components/sidebar/sidebar.component.ts"></script>
<div class="row flex-nowrap">
  <div class="col-6">
    <div
      class="p-2 mb-2 bg-gray-primary"
      style="border-radius: 5px"
      *ngIf="stepStatus === 1 || stepStatus === 2 || stepStatus === 3"
    >
      <div class="mb-1">Прикрепленные файлы</div>
      <div class="mb-2">
        <div
          *ngFor="let item of taskInfo?.body?.files; index as i"
          class="py-1 d-flex align-items-center"
        >
          <i class="icon-attach mr-1" style="font-size: 22px"></i>
          <div class="ml-1">
            {{ item.name }}
          </div>
        </div>
      </div>

      <div class="row flex-nowrap mb-1" *ngIf="stepStatus === 1">
        <div class="col-6">
          <div class="mb-1">№ исходящего документа</div>
          <div class="p-2 bg-gray-secondary" style="border-radius: 5px">
            {{ taskInfo?.body?.out_doc_number }}
          </div>
        </div>

        <div class="col-6">
          <div class="mb-1">Дата исх. документа</div>
          <div class="p-2 bg-gray-secondary" style="border-radius: 5px">
            {{ taskInfo?.body?.out_doc_date }}
          </div>
        </div>
      </div>

      <div class="mb-2">
        <div class="mb-1">Дополнительная информация</div>
        <div class="p-2 bg-gray-secondary" style="border-radius: 5px">
          {{ taskInfo?.body?.add_info }}
        </div>
      </div>
    </div>

    <app-file-uploader
      *ngIf="stepStatus === 0 || stepStatus === -1"
    ></app-file-uploader>
    <!--      (fileSelected)="disabled = false"-->
    <form
      action=""
      class="page-form"
      [formGroup]="appForm"
      [ngSwitch]="stepStatus"
      (ngSubmit)="nextStep()"
      *ngIf="stepStatus === 0 || stepStatus === 3"
    >
      <div class="row justify-content-between mb-2" *ngSwitchCase="3">
        <div class="col-6">
          <div class="input-field">
            <div class="input-field__title">№ исходящего документа</div>
            <label class="input-field__label">
              <input
                type="text"
                autocomplete="off"
                formControlName="outDocNumber"
              />
            </label>
          </div>
        </div>

        <div class="col-6">
          <app-datepicker
            [title]="'Дата исх. документа'"
            (onselect)="
              appForm.patchValue({ outDocDate: $event.singleDate.formatted })
            "
          ></app-datepicker>
        </div>
      </div>

      <div class="text-field mb-2">
        <div class="text-field__title">Дополнительная информация</div>
        <label class="text-field__label">
          <textarea
            placeholder="Уточните детали"
            formControlName="comment"
          ></textarea>
        </label>
      </div>

      <button
        type="submit"
        class="page-form__actionbtn text-uppercase"
        [disabled]="getBtnStatus()"
      >
        <!--    (click)="clientDetail.nextStep()"-->
        отправить заявку
      </button>
    </form>
  </div>

  <div class="col-5">
    <div class="info-card" *ngIf="stepStatus !== 0">
      <div class="info-card__title mb-3">
        Данные полученные от главного юриста
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <div>Решение</div>
        <div
          class="d-flex align-items-center text-danger"
          [class]="setClass('text')"
        >
          <i class="fas fa-circle mr-1" style="font-size: 8px"></i>
          <span>{{ getStatusText() }}</span>
        </div>
      </div>

      <div
        class="mt-3"
        *ngIf="stepStatus === -1 && taskInfo?.body.main_law_info"
      >
        <div class="info-card__title mb-1">Дополнительная информация</div>
        <div class="info-card__data">
          {{ taskInfo?.body.main_law_info }}
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <app-alert-info
    [text]="'Подождите, данные еще не отправлены исполнительным юристом.'"
    [icon]="'uil-clock-three'"
    [iconColorClass]="'text-warning'"
    *ngIf="stepStatus === 0"
  ></app-alert-info>
  <div class="row flex-nowrap">
    <div class="col-6">
      <div
        class="p-2 mb-2 bg-gray-primary"
        style="border-radius: 5px"
        *ngIf="stepStatus === 1 || stepStatus === 3 || stepStatus === -1"
      >
        <div class="mb-2">
          <div class="mb-1">Решение</div>
          <div class="p-2 bg-gray-secondary" style="border-radius: 5px">
            {{ getStatusText() }}
          </div>
        </div>

        <div class="mb-2">
          <div class="mb-1">Дополнительная информация</div>
          <div class="p-2 bg-gray-secondary" style="border-radius: 5px">
            {{ taskInfo?.body?.main_law_info }}
          </div>
        </div>
      </div>

      <app-alert-info
        [text]="
          taskInfo?.body?.main_law_decision === -1
            ? 'Заявка была отклонена'
            : taskInfo?.body?.main_law_decision === 3
            ? 'Заявка была одобрена'
            : ''
        "
        [icon]="'uil-info-circle'"
        [iconColorClass]="
          taskInfo?.body?.main_law_decision === -1
            ? 'text-danger'
            : taskInfo?.body?.main_law_decision === 3
            ? 'text-success'
            : ''
        "
        *ngIf="stepStatus === -1 || stepStatus === 3"
      ></app-alert-info>

      <form
        action=""
        class="page-form"
        [formGroup]="appForm"
        (ngSubmit)="nextStep()"
        *ngIf="stepStatus === 2"
      >
        <div class="row">
          <div class="col-6">
            <div class="select-field mb-2">
              <div class="select-field__title">Ваше решение</div>
              <ng-select
                class="custom-select"
                appearance="outline"
                [items]="taskInfo?.sp.gy_decision"
                bindLabel="value"
                bindValue="key"
                placeholder="Выберите решение"
                [(ngModel)]="selectedOpinion"
                [ngModelOptions]="{ standalone: true }"
                [loadingText]="'Загружается'"
                [searchable]="false"
                [clearable]="false"
              ></ng-select>
              <!--      [disabled]=""-->
              <!--      [loading]=""-->
            </div>
          </div>
        </div>

        <div class="text-field mb-2">
          <div class="text-field__title">Дополнительная информация</div>
          <label class="text-field__label">
            <textarea
              placeholder="Уточните детали"
              formControlName="comment"
              [required]="selectedOpinion === -1"
            ></textarea>
            <div *ngIf="selectedOpinion === -1" class="validation">
              <small> Введите причину отклонения </small>
            </div>
          </label>
        </div>

        <button
          type="submit"
          class="page-form__actionbtn text-uppercase"
          [disabled]="
            !selectedOpinion || appForm.get('comment')?.errors?.required
          "
        >
          отправить заявку
        </button>
      </form>
    </div>

    <div class="col-5">
      <div class="info-card">
        <div class="info-card__title mb-4">
          Данные полученные от исполнителя
        </div>
        <div class="info-card__data" *ngIf="taskInfo?.body.out_doc_number">
          <span>№ исходящего документа</span>
          <span>{{ taskInfo?.body.out_doc_number }}</span>
        </div>
        <div class="info-card__data" *ngIf="taskInfo?.body.out_doc_date">
          <span>Дата исх. документа</span>
          <span>{{ taskInfo?.body.out_doc_date }}</span>
        </div>

        <div class="info-card__docs mt-2 mb-3">
          <div class="info-card__docs_title mb-1">Прикрепленные документы</div>
          <div class="info-card__docs_list">
            <div
              class="info-card__docs_list_item"
              *ngFor="let file of taskInfo?.body?.files"
            >
              <i class="icon-image" *ngIf="file.type === 'image/jpeg'"></i>
              <i
                class="icon-document_alt"
                *ngIf="file.type === 'application/pdf'"
              ></i>
              <i
                class="icon-table"
                *ngIf="
                  [
                    'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
                    'application/vnd.ms-excel',
                    'application/vnd.ms-excel.sheet.macroEnabled.12'
                  ].includes(file.type)
                "
              ></i>
              {{ file.name }}
              <a href="">
                <i class="icon-attach"></i>
                скачать
              </a>
            </div>
          </div>
        </div>

        <div *ngIf="taskInfo?.body.add_info">
          <div class="info-card__title mb-1">Дополнительная информация</div>
          <div class="info-card__data">
            {{ taskInfo?.body.add_info }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
