<form
  action=""
  class="page-form pb-2 "
  *ngIf="mainService.role === 'lawyer'"
>
  <div class="row">
    <div class="col-6">
      <div class="select-field mb-2">
        <div class="select-field__title">Вид суда</div>
        <ng-select
          class="custom-select"
          appearance="outline"
          [items]="opinion"
          bindLabel="label"
          bindValue="id"
          placeholder="Выберите решение"
          name="qwe"
          [(ngModel)]="selectedOpinion"
          [loadingText]="'Загружается'"
          [searchable]="false"
          [clearable]="false"
        ></ng-select>
        <!--      [disabled]=""-->
        <!--      [loading]=""-->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="select-field mb-2">
        <div class="select-field__title">Наименование суда</div>
        <ng-select
          class="custom-select"
          appearance="outline"
          [items]="opinion"
          bindLabel="label"
          bindValue="id"
          placeholder="Выберите решение"
          name="qwe"
          [(ngModel)]="selectedOpinion"
          [loadingText]="'Загружается'"
          [searchable]="false"
          [clearable]="false"
        ></ng-select>
        <!--      [disabled]=""-->
        <!--      [loading]=""-->
      </div>
    </div>

    <div class="col-6">
      <div class="select-field mb-2">
        <div class="select-field__title">Наименование филиала</div>
        <ng-select
          class="custom-select"
          appearance="outline"
          [items]="opinion"
          bindLabel="label"
          bindValue="id"
          placeholder="Выберите решение"
          name="qwe"
          [(ngModel)]="selectedOpinion"
          [loadingText]="'Загружается'"
          [searchable]="false"
          [clearable]="false"
        ></ng-select>
        <!--      [disabled]=""-->
        <!--      [loading]=""-->
      </div>
    </div>
  </div>

  <div class="row justify-content-between mb-2">
    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">Ответчик</div>
        <label class="input-field__label">
          <input type="text" autocomplete="off" />
        </label>
      </div>
    </div>

    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">Поручитель</div>
        <label class="input-field__label">
          <input type="text" autocomplete="off" />
        </label>
      </div>
    </div>

    <div class="col-3 mt-1">
      <div class="btn btn-dashed">Добавить</div>
    </div>
  </div>

  <div class="row justify-content-between mb-2">
    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">Сумма иска</div>
        <label class="input-field__label readonly">
          <input type="text" readonly autocomplete="off" />
        </label>
      </div>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">Сумма неустойки / штраф</div>
        <label class="input-field__label">
          <input type="text" autocomplete="off" />
        </label>
      </div>
    </div>
    <div class="col-6">
      <div class="btn btn-dashed">Получить из ИАБС</div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="select-field mb-2">
        <div class="select-field__title">Вид обеспечения</div>
        <ng-select
          class="custom-select"
          appearance="outline"
          [items]="opinion"
          bindLabel="label"
          bindValue="id"
          placeholder="Выберите решение"
          name="qwe"
          [(ngModel)]="selectedOpinion"
          [loadingText]="'Загружается'"
          [searchable]="false"
          [clearable]="false"
        ></ng-select>
        <!--      [disabled]=""-->
        <!--      [loading]=""-->
      </div>
    </div>
  </div>

  <app-file-uploader></app-file-uploader>


  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">Стоимость обеспечения</div>
        <label class="input-field__label">
          <input type="text" autocomplete="off" />
        </label>
      </div>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-6">
      <app-datepicker [title]="'Дата внесения в суд'"></app-datepicker>
    </div>
  </div>

  <app-file-uploader></app-file-uploader>

  <div class="page-form__actionbtn text-uppercase">
    <!--    (click)="clientDetail.nextStep()"-->
    следующий шаг
  </div>
</form>
