<div class="alert-wrap" *ngIf="isActive" (click)="animationAlert()">
  <div
    class="alert decisionInfo"
    [@wrapAlert]="wrapAlertState"
    (click)="$event.stopPropagation()"
  >
    <button class="close"><i class="uil-times" (click)="close()"></i></button>

    <!-- <pre>
      {{ stepInfo | json }}
    </pre> -->
    <h4 class="title">{{ "head_lawyer" | translate }}</h4>
    <div class="row justify-content-between mb-2">
      <div *ngIf="stepInfo?.status !== 2" class="col-6">
        <div class="label-info">{{ "decision_date" | translate }}</div>
        <div class="value-info">
          {{ stepInfo?.updatedAt | date: "dd.MM.yyyy HH:mm" }}
        </div>
      </div>
      <div class="col-6">
        <div class="label-info">{{ "decision_head_lawyer" | translate }}</div>
        <div *ngIf="stepInfo.status === 1" class="value-info rejected">
          {{ "rejected" | translate }}
        </div>
        <div *ngIf="stepInfo.status === 2" class="value-info pending">
          {{ "pending" | translate }}
        </div>
        <div *ngIf="stepInfo.status === 3" class="value-info approved">
          {{ "approved" | translate }}
        </div>
      </div>
    </div>

    <div *ngIf="stepInfo.status !== 2" class="row justify-content-between mb-2">
      <div class="col-12">
        <div class="label-info">{{ "comment" | translate }}</div>
        <div class="value-info">
          {{
            stepInfo.headLawyerInfo
              ? stepInfo?.headLawyerInfo
              : ("no_comment" | translate)
          }}
        </div>
      </div>
    </div>

    <hr class="separater" />

    <h4 class="title">{{ "lawyer" | translate }}</h4>
    <div class="row justify-content-between mb-2">
      <div class="col-6">
        <div class="label-info">{{ "departure_date" | translate }}</div>
        <div class="value-info">
          {{ stepInfo.createdAt | date: "dd.MM.yyyy HH:mm" }}
        </div>
      </div>

      <div class="col-6">
        <div class="label-info">{{ "selected_step" | translate }}</div>
        <div class="value-info">
          {{ stepInfo?.toStep?.lang[lawsuitService.translate.currentLang] }}
        </div>
      </div>
    </div>
    <div class="row justify-content-between mb-2">
      <div class="col-12">
        <div class="label-info">{{ "selected_action" | translate }}</div>
        <div class="value-info">
          {{ stepInfo.toAction.lang[lawsuitService.translate.currentLang] }}
        </div>
      </div>
    </div>
  </div>
</div>
