.createApp {
  padding: 13px 36px 13px 26px;
  border: 1px solid #10274a;
  border-radius: 5px;
  background-color: transparent;
  color: #10274a;
  outline: none;

  small {
    font-size: 16px;
  }

  i {
    margin-right: 11px;
    font-size: 18px;
  }
}
