<div class="lawsuit_form_content">
  <div class="row">
    <div class="col-4 page-sticky">
      <app-select-action></app-select-action>

      <app-case-transfer
        [action]="this.lawsuitService.isActionForm(11)"
        *ngIf="this.lawsuitService.isActionForm(11)"
      ></app-case-transfer>

      <app-stopping-bce
        [action]="this.lawsuitService.isActionForm(15)"
        *ngIf="this.lawsuitService.isActionForm(15)"
      ></app-stopping-bce>

      <app-next-step></app-next-step>
    </div>
    <div class="col-4 page-sticky">
      <app-history-actions></app-history-actions>
    </div>
    <div class="col-4 page-sticky">
      <app-history-step></app-history-step>
    </div>
  </div>
</div>
