<app-step-wrapper>
  <ng-container class="action-form">
    <app-stop-process-wrap>
      <app-select-action></app-select-action>

      <app-case-transfer
        [action]="this.lawsuitService.isActionForm(11)"
        *ngIf="this.lawsuitService.isActionForm(11)"
      ></app-case-transfer>

      <app-stopping-bce
        [action]="this.lawsuitService.isActionForm(15)"
        *ngIf="this.lawsuitService.isActionForm(15)"
      ></app-stopping-bce>

      <app-mib-response
        [action]="this.lawsuitService.isActionForm(16)"
        *ngIf="this.lawsuitService.isActionForm(16)"
      ></app-mib-response>

      <app-balance-reception
        [action]="this.lawsuitService.isActionForm(18)"
        *ngIf="this.lawsuitService.isActionForm(18)"
      ></app-balance-reception>

      <app-main-appeal
        [action]="this.lawsuitService.isActionForm(22)"
        *ngIf="this.lawsuitService.isActionForm(22)"
      ></app-main-appeal>

      <app-next-step
        *ngIf="
          lawsuitService.stepIndex === lawsuitService.steps.length &&
          lawsuitService.historyActions.length &&
          (lawsuitService.isDeniedStep || !lawsuitService.historySteps.length)
        "
      ></app-next-step>
    </app-stop-process-wrap>
  </ng-container>
</app-step-wrapper>
