<form class="page-form" [formGroup]="form" (ngSubmit)="submit()">
  <div class="row justify-content-between mb-2">
    <div class="col-6">
      <app-file-uploader></app-file-uploader>
    </div>
  </div>
  <div class="row justify-content-between mb-2">
    <div class="col-6">
      <app-file-uploader></app-file-uploader>
    </div>
  </div>

  <div class="row justify-content-between mb-2">
    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">№ акта</div>
        <label class="input-field__label">
          <input type="text" autocomplete="off" formControlName="numberAct" />
        </label>

        <div
          *ngIf="
            form.get('numberAct')?.touched && form.get('numberAct')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('numberAct')?.errors?.required">
            Введите данные
          </small>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">Дата акта</div>
        <label class="input-field__label">
          <!--        <input type="text" class="datepicker-here" readonly />-->
          <input
            class="input-box"
            angular-mydatepicker
            name="reactiveFormsDate"
            name="mydate"
            formControlName="dateAct"
            [options]="myDpOptions"
            #dp="angular-mydatepicker"
            [locale]="'ru'"
          />
          <i class="icon-calendar" (click)="dp.toggleCalendar()"></i>
        </label>

        <div
          *ngIf="form.get('dateAct')?.touched && form.get('dateAct')?.invalid"
          class="validation"
        >
          <small
            *ngIf="
              form.controls.dateAct.errors &&
              form.controls.dateAct.errors.required &&
              !form.controls.dateAct.errors.invalidDateFormat
            "
          >
            Введите данные
          </small>
          <small
            *ngIf="
              form.controls.dateAct.errors &&
              form.controls.dateAct.errors.invalidDateFormat
            "
          >
            Неккоректные данные
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="checkbox-field mb-2" formArrayName="pledgeDebtors">
    <div class="text-field__title">Залог должника</div>
    <label
      class="checkbox-field__label mb-1"
      *ngFor="let pledgeDebtor of pledgeDebtors.controls; let idx = index"
    >
      <ng-container [formGroupName]="idx">
        <input type="checkbox" [formControlName]="'pledgeDebtor' + (idx + 1)" />
        <span class="custom-checkbox mr-2">
          <i class="uil-check"></i>
        </span>
        <span>Залог номер {{ idx + 1 }}</span>
      </ng-container>
    </label>
  </div>

  <div class="row justify-content-between mb-2">
    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">
          Сумма задолженности со стороны банка
        </div>
        <label class="input-field__label">
          <input type="text" autocomplete="off" formControlName="amountOwed" />
        </label>

        <div
          *ngIf="
            form.get('amountOwed')?.touched && form.get('amountOwed')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('amountOwed')?.errors?.required">
            Введите данные
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between mb-2">
    <div class="col-12">
      <div class="text-field mb-2">
        <div class="text-field__title">Комментарии</div>
        <label class="text-field__label">
          <textarea
            placeholder="Уточните детали"
            formControlName="additionalInfo"
          ></textarea>
        </label>

        <div
          *ngIf="
            form.get('additionalInfo')?.touched &&
            form.get('additionalInfo')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('additionalInfo')?.errors?.required">
            Введите данные
          </small>
        </div>
      </div>
    </div>
  </div>

  <button
    type="submit"
    class="page-form__actionbtn text-uppercase"
    [ngClass]="{ disableBtn: form.invalid || submitted }"
    [disabled]="form.invalid || submitted"
  >
    Следующий шаг
  </button>
</form>
