<form
  action=""
  class="page-form"
  *ngIf="mainService.role === 'lawyer'"
>
  <div class="checkbox-field mb-2">
    <label class="checkbox-field__label">
      <input type="checkbox">
      <span class="custom-checkbox mr-2">
        <i class="uil-check"></i>
      </span>
      <span>Проведение суда</span>
    </label>
  </div>

  <app-file-uploader [title]="'Прикрепить скан ответа суда'"></app-file-uploader>

  <div class="text-field mb-2">
    <div class="text-field__title">Дополнительная информация</div>
    <label class="text-field__label">
      <textarea placeholder="Уточните детали"></textarea>
    </label>
  </div>

  <div class="page-form__actionbtn text-uppercase">
    <!--    (click)="clientDetail.nextStep()"-->
    следующий шаг
  </div>
</form>

<form
  action=""
  class="page-form"
  *ngIf="mainService.role === 'headLawyer'"
>
  <div class="checkbox-field mb-2">
    <label class="checkbox-field__label">
      <input type="checkbox">
      <span class="custom-checkbox mr-2">
        <i class="uil-check"></i>
      </span>
      <span>Проведение суда</span>
    </label>
  </div>

  <div class="row justify-content-between mb-2">
    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">№ дела</div>
        <label class="input-field__label">
          <input type="text" autocomplete="off" />
        </label>
      </div>
    </div>
  </div>

  <app-file-uploader [title]="'Прикрепить файл'"></app-file-uploader>

  <div class="row justify-content-start align-items-end mb-2">
    <div class="col-6">
      <app-datepicker [title]="'Выберите день'"></app-datepicker>
    </div>
    <div class="col-3">
      <div class="btn btn-dashed">Добавить</div>
    </div>
  </div>

  <div class="page-form__actionbtn text-uppercase">
    <!--    (click)="clientDetail.nextStep()"-->
    следующий шаг
  </div>
</form>
