.sidebar-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(16, 39, 74, 0.5);
  left: 0;
  bottom: 0;
  z-index: 9999;
}

.sidebar {
  width: 635px;
  height: 100%;
  background: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
  padding: 25px 25px;
  box-shadow: 0 0 15px 0 rgba(16, 39, 74, 0.5);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
    height: 100%;
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(42, 61, 116, 0.2);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(32, 60, 103, 0.61);
    border-radius: 5px;
  }

  &-close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 26px;
    cursor: pointer;
  }
  &-header {
    &__link {
      border-bottom: 1px solid rgba(16, 39, 74, 0.1);
    }
  }
  &-title {
    font-size: 20px;
    display: flex;
    align-items: center;
    & i {
      font-size: 20px;
      cursor: pointer;
    }
  }
  &-item {
    border-bottom: 1px solid rgba(16, 39, 74, 0.1);
    &_header {
      color: rgba(16, 39, 74, 0.6);
      font-size: 14px;
      display: flex;
      align-items: center;
      margin-bottom: 5px;
    }
  }
}

.notifications {
  .notificationTitle {
    font-size: 24px;
    margin-bottom: 25px;

    &.add {
      margin: 20px;
      text-align: center;
    }
  }

  .searchBlock {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 13px 17px;
    border: 1px solid rgba(16, 39, 74, 0.3);
    box-sizing: border-box;
    border-radius: 5px;

    i {
      font-size: 18px;
      margin-right: 10px;
    }

    input {
      width: 100%;
      border: none;
      outline: none;
    }
  }

  &-item,
  &-title {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
  }

  &-title {
    .notifications-number__title {
      margin-left: 22px;
    }
    align-items: center;
  }

  &-item {
    align-items: flex-start;
    border-bottom: 1px solid rgba(16, 39, 74, 0.1);
    cursor: pointer;
  }

  &-number {
    display: flex;
    flex: 0 1 95px;
    align-items: center;

    .marker {
      width: 8px;
      height: 8px;
      margin-right: 15px;
      border-radius: 50%;
      background: #e60000;
    }
  }
  &-name {
    display: flex;
    flex: 0 1 335px;

    p {
      margin: 0;
    }

    .rejected {
      color: #e60000;
    }
    .approved {
      color: #00a71a;
    }
  }
  &-date {
    display: flex;
    flex: 0 1 115px;
  }
}
