<div class="lawsuitTitleWrap">
  <h2 class="lawsuitTitle">
    {{
      formTemplate
        ? formTemplate.lang[lawsuitService.translate.currentLang]
        : action?.actionNameLang[lawsuitService.translate.currentLang]
    }}
  </h2>
  <button
    *ngIf="!formData && !formTemplate"
    class="remove_action_form__btn"
    (click)="this.lawsuitService.removeActionForm(action.actionId)"
  >
    <i class="uil-times"></i>
  </button>
</div>

<form class="page-form" [formGroup]="form" (ngSubmit)="submit(action.actionId)">
  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-12">
      <div class="input-field">
        <div class="input-field__title">{{ "court_type" | translate }}</div>
        <label class="input-field__label readonly">
          <input
            type="text"
            autocomplete="off"
            value="{{ 'supreme_court' | translate }}"
          />
        </label>
      </div>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">{{ "outDocNumber" | translate }}</div>
        <label
          class="input-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <input type="text" autocomplete="off" formControlName="numberDoc" />
        </label>

        <div
          *ngIf="
            form.get('numberDoc')?.touched && form.get('numberDoc')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('numberDoc')?.errors?.required">
            {{ "enter_data" | translate }}
          </small>
        </div>
      </div>
    </div>

    <div class="col-6">
      <app-datepicker
        [formTemplate]="formTemplate"
        title="{{ 'outDocDate' | translate }}"
        [form]="form"
        controlName="dateDoc"
      ></app-datepicker>
    </div>
  </div>
  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-12">
      <div class="text-field">
        <div class="text-field__title">
          {{ "additional_information" | translate }}
        </div>
        <label
          class="text-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <textarea
            placeholder="{{ 'specify_details' | translate }}"
            formControlName="additionalInfo"
          ></textarea>
        </label>

        <div
          *ngIf="
            form.get('additionalInfo')?.touched &&
            form.get('additionalInfo')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('additionalInfo')?.errors?.required">
            {{ "enter_data" | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">
          {{ "principal_amount" | translate }}
        </div>
        <label
          class="input-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <input
            type="text"
            autocomplete="off"
            formControlName="appealPrincipalAmount"
          />
        </label>

        <div
          *ngIf="
            form.get('appealPrincipalAmount')?.touched &&
            form.get('appealPrincipalAmount')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('appealPrincipalAmount')?.errors?.required">
            {{ "enter_data" | translate }}
          </small>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">
          {{ "percent_amount" | translate }}
        </div>
        <label
          class="input-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <input
            type="text"
            autocomplete="off"
            formControlName="appealInterestAmount"
          />
        </label>

        <div
          *ngIf="
            form.get('appealInterestAmount')?.touched &&
            form.get('appealInterestAmount')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('appealInterestAmount')?.errors?.required">
            {{ "enter_data" | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">
          {{ "penalty_amount" | translate }}
        </div>
        <label
          class="input-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <input
            type="text"
            autocomplete="off"
            formControlName="appealPenaltyAmount"
          />
        </label>

        <div
          *ngIf="
            form.get('appealPenaltyAmount')?.touched &&
            form.get('appealPenaltyAmount')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('appealPenaltyAmount')?.errors?.required">
            {{ "enter_data" | translate }}
          </small>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">{{ "fine_amount" | translate }}</div>
        <label
          class="input-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <input
            type="text"
            autocomplete="off"
            formControlName="appealFineAmount"
          />
        </label>

        <div
          *ngIf="
            form.get('appealFineAmount')?.touched &&
            form.get('appealFineAmount')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('appealFineAmount')?.errors?.required">
            {{ "enter_data" | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">
          {{ "appealStateDutyCourtCostsAmount" | translate }}
        </div>
        <label
          class="input-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <input
            type="text"
            autocomplete="off"
            formControlName="appealStateDutyCourtCostsAmount"
          />
        </label>

        <div
          *ngIf="
            form.get('appealStateDutyCourtCostsAmount')?.touched &&
            form.get('appealStateDutyCourtCostsAmount')?.invalid
          "
          class="validation"
        >
          <small
            *ngIf="
              form.get('appealStateDutyCourtCostsAmount')?.errors?.required
            "
          >
            {{ "enter_data" | translate }}
          </small>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">
          {{ "total_claim_amount" | translate }}
        </div>
        <label
          class="input-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <input
            type="text"
            autocomplete="off"
            formControlName="appealClaimAmount"
          />
        </label>

        <div
          *ngIf="
            form.get('appealClaimAmount')?.touched &&
            form.get('appealClaimAmount')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('appealClaimAmount')?.errors?.required">
            {{ "enter_data" | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-12">
      <app-file-uploader
        [formData]="formData"
        [formTemplate]="formTemplate"
        title="{{ 'attach_file' | translate }}"
      ></app-file-uploader>
    </div>
  </div>

  <button
    *ngIf="!formData && !formTemplate"
    type="submit"
    class="page-form__actionbtn text-uppercase add"
    [ngClass]="{ disableBtn: form.invalid || submitted }"
    [disabled]="form.invalid || submitted"
  >
    <span>{{ "send" | translate }}</span>
  </button>
</form>
