<div class="lawsuitTitleWrap">
  <h2 class="lawsuitTitle">{{ action.actionNameLang.ru }}</h2>
  <!-- <button class="remove_action_form__btn">
    <i class="uil-times"></i>
  </button> -->
</div>
<form class="page-form" [formGroup]="form" (ngSubmit)="submit(action.actionId)">
  <div class="row justify-content-between align-items-end mb-2">
    <!-- <div class="col-12">
      <div class="input-field">
        <div class="input-field__title">Последний срок погашения кредита</div>
        <label class="input-field__label readonly">
          <input
            type="text"
            autocomplete="off"
            formControlName="notificationDate"
          />
        </label>
      </div>
    </div> -->
    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">Последний срок погашения кредита</div>
        <label class="input-field__label">
          <!--        <input type="text" class="datepicker-here" readonly />-->
          <input
            class="input-box"
            angular-mydatepicker
            name="reactiveFormsDate"
            formControlName="notificationDate"
            [options]="myDpOptions"
            #dp="angular-mydatepicker"
            [locale]="'ru'"
          />
          <i class="icon-calendar" (click)="dp.toggleCalendar()"></i>
        </label>

        <div
          *ngIf="
            form.get('notificationDate')?.touched &&
            form.get('notificationDate')?.invalid
          "
          class="validation"
        >
          <small
            *ngIf="
              form.controls.notificationDate.errors &&
              form.controls.notificationDate.errors.required &&
              !form.controls.notificationDate.errors.invalidDateFormat
            "
          >
            Введите данные
          </small>
          <small
            *ngIf="
              form.controls.notificationDate.errors &&
              form.controls.notificationDate.errors.invalidDateFormat
            "
          >
            Неккоректные данные
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-12">
      <div class="text-field">
        <div class="text-field__title">Дополнительная информация</div>
        <label class="text-field__label template">
          <textarea
            placeholder="Уточните детали"
            formControlName="additionalInfo"
          ></textarea>
        </label>
        <div class="template-func">
          <button
            type="button"
            [disabled]="!form.get('additionalInfo')?.value"
            class="btn-template add"
            (click)="addTemplate(form.get('additionalInfo')?.value)"
          >
            <i class="uil-plus"></i><span>Добавить в шаблоны</span>
          </button>
          <button
            type="button"
            class="btn-template select"
            (click)="selectTemplate(true)"
          >
            <i class="uil-file-alt"></i><span>Выбрать шаблонный текст</span>
          </button>
        </div>

        <div
          *ngIf="
            form.get('additionalInfo')?.touched &&
            form.get('additionalInfo')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('additionalInfo')?.errors?.required">
            Введите данные
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-12">
      <app-file-uploader
        [formData]="formData"
        title="Прикрепить файл"
      ></app-file-uploader>
    </div>
  </div>

  <button
    *ngIf="!formData"
    type="submit"
    class="page-form__actionbtn text-uppercase add"
    [ngClass]="{ disableBtn: form.invalid || submitted }"
    [disabled]="form.invalid || submitted"
  >
    Отправить
  </button>
</form>
