<h2 class="title_lawsuit">История решений Г.Ю. по действиям</h2>

<div
  class="historyAction"
  *ngFor="let action of this.lawsuitService.historyActions; let idx = index"
>
  <h2 class="subTitle_lawsuit">{{ action.actionNameLang.ru }}</h2>

  <div class="history_action__field">
    <div class="row history_action__field__title no-gutters">
      <div class="col-4 add">Дата</div>
      <div class="col-8">Решение Г.Ю.</div>
    </div>

    <div class="row no-gutters history_action__field__data">
      <div class="col-4 add">
        {{ action.processCreatedAt | date: "dd.MM.yyyy" }}
      </div>
      <div
        *ngIf="action.actionStatus === 1"
        class="col-8 history_action__field__data__status rejected"
      >
        <span>Отказано</span><i class="icon-eye"></i>
      </div>

      <div
        *ngIf="action.actionStatus === 2"
        class="col-8 history_action__field__data__status pending"
      >
        <span>В ожидании</span><i class="icon-eye"></i>
      </div>

      <div
        *ngIf="action.actionStatus === 3"
        class="col-8 history_action__field__data__status approved"
      >
        <span>Одобренно</span><i class="icon-eye"></i>
      </div>
    </div>
  </div>
</div>
