<h2 class="title_lawsuit">История решений Г.Ю. по действиям</h2>
<h2 class="subTitle_lawsuit">Отправка заявки в ТПП</h2>

<div class="history_action__field">
  <div class="row history_action__field__title no-gutters">
    <div class="col-4 add">Дата</div>
    <div class="col-8">Решение Г.Ю.</div>
  </div>

  <div class="row no-gutters history_action__field__data">
    <div class="col-4 add">15.11.2021</div>
    <div class="col-8 history_action__field__data__status pending">
      <span>В ожидании</span><i class="icon-eye"></i>
    </div>
  </div>
</div>
