<form class="page-form" [formGroup]="form">
  <div class="row justify-content-betwee mb-2">
    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">№ исходящего письма</div>
        <label class="input-field__label">
          <input type="text" autocomplete="off" />
        </label>
      </div>
    </div>

    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">№ исходящего письма</div>
        <label class="input-field__label">
          <input type="text" autocomplete="off" />
        </label>
      </div>
    </div>
  </div>

  <div class="row justify-content-betwee mb-2">
    <div class="col-12">
      <div class="input-field">
        <div class="input-field__title">Дата исходящего письма</div>
        <label class="input-field__label">
          <input type="text" class="outDocDate" readonly />
          <i class="icon-calendar"></i>
        </label>
      </div>
    </div>
  </div>

  <div class="row justify-content-betwee mb-2">
    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">№ исходящего письма</div>
        <label class="input-field__label">
          <input type="text" autocomplete="off" />
        </label>
      </div>
    </div>
  </div>

  <div class="row justify-content-betwee mb-2">
    <div class="col-12">
      <div class="input-field">
        <div class="input-field__title">Дата исходящего письма</div>
        <label class="input-field__label">
          <input type="text" class="outDocDate" readonly />
          <i class="icon-calendar"></i>
        </label>
      </div>
    </div>
  </div>

  <div class="row justify-content-betwee mb-2">
    <div class="col-12">
      <div class="input-field">
        <div class="input-field__title">Дата исходящего письма</div>
        <label class="input-field__label">
          <input type="text" class="outDocDate" readonly />
          <i class="icon-calendar"></i>
        </label>
      </div>
    </div>
  </div>

  <div class="row justify-content-betwee mb-2">
    <div class="col-6">
      <app-file-uploader></app-file-uploader>
    </div>
  </div>

  <button
    type="submit"
    class="page-form__actionbtn text-uppercase"
    [disabled]="form.invalid || submitted"
  >
    Следующий шаг
  </button>
</form>
