<form class="page-form" [formGroup]="form">
  <div class="row justify-content-betwee align-items-end mb-2">
    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">ФИО обвиняемого</div>
        <label class="input-field__label">
          <input type="text" autocomplete="off" />
        </label>
      </div>
    </div>

    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">Назначаемые меры пересечения</div>
        <label class="input-field__label">
          <input type="text" autocomplete="off" />
        </label>
      </div>
    </div>
  </div>

  <div class="row justify-content-betwee mb-2">
    <div class="col-12">
      <app-datepicker
        [title]="
          'Дата внесения, когда Банк был привлечен потерпевшем или гражд. истцом'
        "
        (onselect)="logger($event)"
      ></app-datepicker>
    </div>
  </div>

  <div class="row justify-content-betwee mb-2">
    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">Сумма причененного ущерба</div>
        <label class="input-field__label">
          <input type="text" autocomplete="off" />
        </label>
      </div>
    </div>
  </div>

  <div class="row justify-content-betwee mb-2">
    <div class="col-12">
      <app-datepicker
        [title]="'Дата возб. уголовного дела либо об отказе уголовного дела'"
        (onselect)="logger($event)"
      ></app-datepicker>
    </div>
  </div>

  <div class="row justify-content-betwee mb-2">
    <div class="col-12">
      <app-datepicker
        [title]="'Дата принятия постановления об аресте имущества обвиняемого'"
        (onselect)="logger($event)"
      ></app-datepicker>
    </div>
  </div>

  <div class="row justify-content-betwee mb-2">
    <div class="col-6">
      <app-file-uploader></app-file-uploader>
    </div>
  </div>

  <button
    type="submit"
    class="page-form__actionbtn text-uppercase"
    [ngClass]="{ disableBtn: form.invalid || submitted }"
    [disabled]="form.invalid || submitted"
  >
    Следующий шаг
  </button>
</form>
