<h2 class="lawsuitTitle">
  {{
    formTemplate
      ? formTemplate.lang[lawsuitService.translate.currentLang]
      : action?.lang[lawsuitService.translate.currentLang]
  }}
</h2>
<form class="page-form" [formGroup]="form" (ngSubmit)="submit()">
  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-12">
      <div class="select-field">
        <div class="select-field__title">{{ "stopType" | translate }}</div>
        <ng-select
          appearance="outline"
          [items]="dictionaries?.stopType"
          bindLabel="{{ 'lang.' + lawsuitService.translate.currentLang }}"
          bindValue="id"
          placeholder="{{ 'stopType' | translate }}"
          #agreeSelect
          labelForId="yesno"
          [searchable]="false"
          formControlName="type"
        ></ng-select>
        <div
          *ngIf="form.get('type')?.touched && form.get('type')?.invalid"
          class="validation"
        >
          <small *ngIf="form.get('type')?.errors?.required">
            {{ "select_data" | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between align-items-end">
    <div class="col-12">
      <label class="checkbox-field__label mb-1">
        <input type="checkbox" formControlName="renewalDateCheck" />
        <span class="custom-checkbox mr-2">
          <i class="uil-check"></i>
        </span>
        <span>{{ "renewalDateCheck" | translate }}</span>
      </label>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-6">
      <div class="input-field">
        <!-- <div class="input-field__title">Дата возобновления процесса</div> -->
        <label
          class="input-field__label"
          [class]="
            formTemplate || !form.get('renewalDateCheck')?.value
              ? 'readonly'
              : ''
          "
        >
          <!--        <input type="text" class="datepicker-here" readonly />-->
          <input
            class="input-box"
            angular-mydatepicker
            name="reactiveFormsDate"
            formControlName="renewalDate"
            [options]="myDpOptions"
            #dp="angular-mydatepicker"
            [locale]="lawsuitService.translate.currentLang"
          />
          <i class="icon-calendar" (click)="dp.toggleCalendar()"></i>
        </label>

        <div
          *ngIf="
            form.get('renewalDate')?.touched && form.get('renewalDate')?.invalid
          "
          class="validation"
        >
          <small
            *ngIf="
              form.controls.renewalDate.errors &&
              form.controls.renewalDate.errors.required &&
              !form.controls.renewalDate.errors.invalidDateFormat
            "
          >
            {{ "enter_data" | translate }}
          </small>
          <small
            *ngIf="
              form.controls.renewalDate.errors &&
              form.controls.renewalDate.errors.invalidDateFormat
            "
          >
            {{ "incorrect_data" | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">{{ "docNumber" | translate }}</div>
        <label
          class="input-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <input type="text" autocomplete="off" formControlName="docNumber" />
        </label>

        <div
          *ngIf="
            form.get('docNumber')?.touched && form.get('docNumber')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('docNumber')?.errors?.required">
            {{ "enter_data" | translate }}
          </small>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="input-field">
        <div class="input-field__title">{{ "docDate" | translate }}</div>
        <label
          class="input-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <!--        <input type="text" class="datepicker-here" readonly />-->
          <input
            class="input-box"
            angular-mydatepicker
            name="reactiveFormsDate"
            formControlName="docDate"
            [options]="myDpOptions"
            #dp2="angular-mydatepicker"
            [locale]="lawsuitService.translate.currentLang"
          />
          <i class="icon-calendar" (click)="dp2.toggleCalendar()"></i>
        </label>

        <div
          *ngIf="form.get('docDate')?.touched && form.get('docDate')?.invalid"
          class="validation"
        >
          <small
            *ngIf="
              form.controls.docDate.errors &&
              form.controls.docDate.errors.required &&
              !form.controls.docDate.errors.invalidDateFormat
            "
          >
            {{ "enter_data" | translate }}
          </small>
          <small
            *ngIf="
              form.controls.docDate.errors &&
              form.controls.docDate.errors.invalidDateFormat
            "
          >
            {{ "incorrect_data" | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-12">
      <div class="text-field">
        <div class="text-field__title">
          {{ "additional_information" | translate }}
        </div>
        <label
          class="text-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <textarea
            placeholder="{{ 'specify_details' | translate }}"
            formControlName="addInfo"
          ></textarea>
        </label>

        <div
          *ngIf="form.get('addInfo')?.touched && form.get('addInfo')?.invalid"
          class="validation"
        >
          <small *ngIf="form.get('addInfo')?.errors?.required">
            {{ "enter_data" | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-12">
      <app-file-uploader
        [formTemplate]="formTemplate"
        title="{{ 'attach_file' | translate }}"
      ></app-file-uploader>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-12">
      <div class="select-field">
        <div class="select-field__title">{{ "stopInitiator" | translate }}</div>
        <ng-select
          appearance="outline"
          [items]="dictionaries?.stopInitiator"
          bindLabel="{{ 'lang.' + lawsuitService.translate.currentLang }}"
          bindValue="id"
          placeholder="{{ 'stopInitiator' | translate }}"
          #agreeSelect
          labelForId="yesno"
          [searchable]="false"
          formControlName="stopInitiator"
        ></ng-select>
        <div
          *ngIf="
            form.get('stopInitiator')?.touched &&
            form.get('stopInitiator')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('stopInitiator')?.errors?.required">
            {{ "select_data" | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between align-items-end mb-2">
    <div class="col-12">
      <div class="select-field">
        <div class="select-field__title">{{ "stopReason" | translate }}</div>
        <ng-select
          appearance="outline"
          [items]="reasonStoppingDic"
          bindLabel="{{ 'lang.' + lawsuitService.translate.currentLang }}"
          bindValue="id"
          placeholder="{{ 'stopReason' | translate }}"
          #agreeSelect
          labelForId="yesno"
          [searchable]="false"
          formControlName="stopReason"
        ></ng-select>
        <div
          *ngIf="
            form.get('stopReason')?.touched && form.get('stopReason')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('stopReason')?.errors?.required">
            {{ "select_data" | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="form.value.stopReason === 183"
    class="row justify-content-between align-items-end mb-2"
  >
    <div class="col-12">
      <div class="text-field">
        <div class="text-field__title">Причина остановки</div>
        <label
          class="text-field__label"
          [class]="formTemplate ? 'readonly' : ''"
        >
          <textarea
            placeholder="Причина остановки"
            formControlName="other"
          ></textarea>
        </label>

        <div
          *ngIf="
            form.get('otherStopReason')?.touched &&
            form.get('otherStopReason')?.invalid
          "
          class="validation"
        >
          <small *ngIf="form.get('otherStopReason')?.errors?.required">
            {{ "enter_data" | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <button
    *ngIf="!formTemplate"
    type="submit"
    class="page-form__actionbtn text-uppercase add"
    [ngClass]="{ disableBtn: form.invalid || submitted }"
    [disabled]="form.invalid || submitted"
  >
    {{ "end_process" | translate }}
  </button>
</form>
