//@import "~@ng-select/ng-select/themes/default.theme.css";
@import "assets/scss/ng-select/default.theme";
@import "assets/scss/my-datepicker";
@import "assets/css/mixins.scss";

@include radio();

* {
  font-size: 14px;
}

:root {
  --primary-color: #10274a;
}

.text-primary {
  color: #10274a !important;
}
.text-secondary {
  color: rgba(16, 39, 74, 0.5) !important;
}
.text-danger {
  color: #ea0000 !important;
}
.text-success {
  color: #00a71a !important;
}
.text-warning {
  color: #e59e00 !important;
}
.text-white {
  color: #ffffff !important;
}
.bg-primary {
  background: #10274a !important;
}
.bg-secondary {
  background: rgba(16, 39, 74, 0.5) !important;
}
.bg-danger {
  background: #ea0000 !important;
}
.bg-success {
  background: #00a71a !important;
}
.bg-warning {
  background: #e59e00 !important;
}
.bg-white {
  background: #ffffff !important;
}
.bg-gray-primary {
  background: #f4f6f8 !important;
}
.bg-gray-secondary {
  background: rgba(16, 39, 74, 0.05) !important;
}

.fw-normal {
  font-weight: 400;
}
.fw-bold {
  font-weight: 600;
}

.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-capitalize {
  text-transform: capitalize;
}

.active-link {
  background: rgba(88, 122, 172, 0.3);
}

.page-header {
  height: 60px;
  background: #f4f6f8;
  padding: 0 20px;
}
.page-title {
  font-size: 21px;
  font-weight: 600;
  display: flex;
  align-items: center;
  & i {
    font-size: 30px;
    cursor: pointer;
  }
}

.page-action {
  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    & i {
      font-size: 18px;
      margin-right: 5px;
    }
  }
}

.page-content {
  height: calc(100% - 60px);
  // padding: 24px 80px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 10px;
    height: 100%;
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(16, 39, 74, 0.2);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(16, 39, 74, 1);
    border-radius: 5px;
  }
  &__title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.page-card {
  //width: 492px;
  background: #f4f6f8;
  // border-radius: 15px;
  overflow: hidden;
  position: sticky;
  top: 0;
  &__header {
    font-size: 18px;
    font-weight: 600;
  }
  &__body {
    & .page-card__details {
      &:nth-child(2n) {
        background: rgba(16, 39, 74, 0.05);
      }
    }
  }
  &__footer {
    background: rgb(16, 39, 74);
    color: #ffffff;
  }
  &__details {
    font-size: 14px;
    line-height: 17px;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & div {
      &:nth-child(2) {
        font-weight: 600;
      }
    }
  }
}

.page-table {
  height: calc(100% - 140px);
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  &::-webkit-scrollbar {
    width: 10px;
    height: 100%;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(16, 39, 74, 0.2);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(16, 39, 74, 0.75);
    border-radius: 5px;
  }
  position: relative;
  &__header {
    //font-size: 18px;
    font-weight: 600;
    position: sticky;
    top: 0;
    background: #ffffff;
    z-index: 10;
    & .page-table__tr__wrapper {
      border-bottom: 2px solid #10274a;
    }
  }
  &__body {
    //height: calc(100% - 66px);
    //overflow-y: auto;
    //&::-webkit-scrollbar { width: 0;
    //  background: transparent;}
    //&::-webkit-scrollbar { width: 10px; height: 100%; }
    //&::-webkit-scrollbar-track {  background-color: rgba(16, 39, 74, 0.2);}
    //&::-webkit-scrollbar-thumb { background-color: rgba(16, 39, 74, 0.75); border-radius: 5px;}
    & .page-table__tr__wrapper {
      cursor: pointer;
      border-bottom: 1px solid rgba(16, 39, 74, 0.2);
      //&:hover :not(page-table__tr__active) {
      //  transition: background 0.2s;
      //  background: rgba(16, 39, 74, 0.05);
      //}
    }
  }
  &__tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__wrapper {
      margin: 0 20px;
      &:hover {
        transition: background 0.2s;
        background: rgba(16, 39, 74, 0.05);
      }
    }
    &__active {
      background: #10274a;
      color: #ffffff;
    }
  }
  &__th,
  &__td {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex: 1;
    padding: 12px 3px;
    & i {
      font-size: 20px;
    }
    &:nth-child(1) {
      flex: 0 1 80px;
      padding-left: 5px;
    }
    &:nth-child(2) {
      flex: 0 1 340px;
    }
    &:nth-child(3) {
      flex: 0 1 90px;
    }
    &:nth-child(11) {
      flex: 0 1 195px;
    }
  }
}

.page-stepper {
  margin-left: 60px;
  flex: 1;
  height: 100%;
}

.page-form {
  //width: 492px;
  & .text-field {
    flex: 1;
    &__title {
      font-size: 14px;
      margin-bottom: 12px;
    }
    &__label {
      border: 1px solid rgba(16, 39, 74, 0.3);
      width: 100%;
      height: 120px;
      border-radius: 5px;
      background: #fff;
      & textarea {
        padding: 15px;
        width: 100%;
        height: 100%;
        resize: none;
        color: #10274a;
        outline: none;
        border: none;
        background: transparent;
        //font-family: 'SFCompactDisplay', sans-serif;
        &::placeholder {
          color: rgba(16, 39, 74, 0.6);
        }

        &::-webkit-scrollbar {
          width: 10px;
          height: 100%;
          background: transparent;
        }
        &::-webkit-scrollbar-track {
          background-color: rgba(42, 61, 116, 0.2);
        }
        &::-webkit-scrollbar-thumb {
          background-color: rgba(32, 60, 103, 0.61);
          border-radius: 5px;
        }
      }
      &.readonly {
        border: 1px solid rgba(16, 39, 74, 0.05);
        background: rgba(16, 39, 74, 0.05);
      }
    }
  }
  & .select-field {
    flex: 1;
    &__title {
      font-size: 14px;
      margin-bottom: 12px;
    }
    &__title.add {
      min-height: 32px;
    }
    & .ng-select .ng-select-container {
      min-height: 40px;
    }
  }

  .ng-select.ng-select-disabled > .ng-select-container {
    background-color: #e9ebef;
    cursor: auto !important;
  }

  & .select-field.add {
    padding: 20px;
    background: #f6f9fe;
    border-radius: 5px;
  }

  & .input-field {
    flex: 1;
    &__title {
      font-size: 14px;
      margin-bottom: 12px;
    }
    &__custome {
      display: flex;
      .removeItem {
        margin-left: 10px;
      }
    }
    &__label {
      border: 1px solid rgba(16, 39, 74, 0.3);
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      //padding: 0 15px;
      border-radius: 5px;
      position: relative;
      & i {
        font-size: 20px;
        cursor: pointer;
        margin-right: 15px;
      }
      & input {
        width: 100%;
        flex: 1;
        padding: 0 15px;
        border: none;
        outline: none;
        color: #10274a;
        background: transparent;
      }
      &.readonly {
        border: 1px solid rgba(16, 39, 74, 0.05);
        background: rgba(16, 39, 74, 0.05);

        i {
          color: rgba(16, 39, 74, 0.4);
        }
      }
    }
  }

  & .checkbox-field {
    &__label {
      position: relative;
      display: flex;
      // align-items: center;
      & input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        z-index: -1;
        &:checked + span i {
          transform: scale(1);
        }
      }
      input[type="checkbox"][readonly] {
        pointer-events: none !important;
      }
      & .custom-checkbox {
        width: 20px;
        height: 20px;
        border: 2px solid #10274a;
        cursor: pointer;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        & i {
          font-size: 20px;
          transition: transform 0.2s;
          transform: scale(0);
        }
      }
    }
  }
  &__actionbtn {
    padding: 0 28px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(16, 39, 74, 1);
    border-radius: 5px;
    background: none;
    outline: none;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    color: #10274a;

    &[disabled] {
      cursor: not-allowed;
      border-color: rgba(16, 39, 74, 0.5);
      color: rgba(16, 39, 74, 0.5);
    }

    &.add {
      background: #10274a;
      color: #fff;
      border: none;

      &[disabled] {
        background: #fff;
        color: #10274a;
        border: 1px solid rgba(16, 39, 74, 1);
        cursor: not-allowed;
        border-color: rgba(16, 39, 74, 0.5);
        color: rgba(16, 39, 74, 0.5);
      }
    }
  }
}

.file-field {
  &__title {
    font-size: 14px;
    margin-bottom: 12px;
  }
  &__list {
    &_text {
      flex: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &_item {
      border-bottom: 1px solid rgba(16, 39, 74, 0.01);
      display: flex;
      justify-content: space-between;
      align-items: center;
      & i {
        font-size: 20px;
      }
    }
  }
  &__uploadbtn {
    padding: 0 28px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed rgba(16, 39, 74, 0.3);
    border-radius: 5px;
    background: none;
    outline: none;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    & input[type="file"] {
      display: none;
    }
  }
}

.info-card {
  flex: 1;
  background: rgba(232, 241, 253, 0.3);
  border: 1px dashed rgba(16, 39, 74, 0.3);
  border-radius: 5px;
  padding: 30px;
  &__title {
    font-weight: 600;
    font-size: 18px;
  }
  &__data {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
    & span {
      &:nth-child(2) {
        flex: 0 1 75px;
      }
    }
  }
  &__docs {
    &_title {
      font-weight: 600;
      font-size: 18px;
    }
    &_list {
      &_item {
        border: 1px solid rgba(16, 39, 74, 0.3);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px 15px;
        margin-bottom: 5px;
        position: relative;
        & i {
          position: absolute;
          font-size: 30px;
          opacity: 0.3;
        }
        & span {
          margin-left: 16px;
        }
        & a {
          display: flex;
          align-items: center;
          text-transform: uppercase;
          font-weight: 600;
          & i {
            position: static;
            opacity: 1;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.step {
  padding-bottom: 10px;
  position: relative;
  &-last {
    padding-bottom: 0;
  }
  //&:last-child {
  //  padding-bottom: 0;
  //}
  &::before {
    content: "";
    position: absolute;
    left: 11px;
    top: 24px;
    width: 2px;
    height: calc(100% - 24px);
    background: rgba(16, 39, 74, 0.3);
    //&-current {
    //  background: rgba(16, 39, 74, 1);
    //}
  }
  &-current {
    &::before {
      background: rgba(16, 39, 74, 1);
    }
  }
  & .header {
    display: flex;
    align-items: center;
    & .title {
      width: 100%;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & span {
        font-weight: 400;
        color: rgba(16, 39, 74, 0.5);
      }
    }
  }
  & .indicator {
    &.current-step {
      background: rgba(16, 39, 74, 1);
    }
    font-size: 14px;
    position: relative;
    background: rgba(16, 39, 74, 0.3);
    font-weight: bold;
    color: #ffffff;
    max-width: 24px;
    min-width: 24px;
    max-height: 24px;
    min-height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    & .badge {
      background: transparent;
      position: absolute;
      top: -7px;
      right: -7px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
    }
  }
  & .content {
    display: block;
    //background: red;
    padding-top: 15px;
    position: relative;
    &-active {
      display: block;
    }
    //&::before {
    //  content: '';
    //  position: absolute;
    //  left: 11px;
    //  top: 0;
    //  width: 2px;
    //  height: calc(100% + 10px);
    //  background: #10274A;
    //}
  }
}

.circular-chart {
  display: block;
  //margin: 10px auto;
  max-width: 20px;
  max-height: 20px;
}
.circle-bg {
  fill: none;
  stroke: rgba(16, 39, 74, 0.5);
  stroke-width: 3.8;
}
.circle {
  fill: none;
  stroke-width: 3.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
.circular-chart.default .circle {
  stroke: rgba(16, 39, 74, 1);
}

.btn {
  min-width: 72px;
  height: 38px;
  border-radius: 5px;
  text-align: center;
  background: none;
  outline: none !important;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-filled-white {
  background: #ffffff;
  font-weight: 600;
  color: #10274a;
}

.btn-outlined-white {
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn-dashed {
  border: 1px dashed rgba(16, 39, 74, 0.3);
}

.btn-dashed.add {
  width: 100%;
}

.position-absolute {
  position: absolute !important;
}
.position-relative {
  position: relative !important;
  z-index: 10;
}
.position-fixed {
  position: fixed !important;
}

.tooltip {
  min-width: 300px;
  background: #10274a;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  position: absolute;
  &::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #10274a;
    border-radius: 0.5px;
    transform: rotate(-45deg);
    z-index: -1;
  }
  &-action {
    display: flex;
    align-items: center;
  }
}

.tooltip-right {
  left: 100%;
  top: 50%;
  transform: scale(0) translate(15px, -50%);
  &::before {
    left: 0;
    top: 47%;
    transform: rotate(-45deg) translate(-26%, -50%);
  }
}

.tooltip-active {
  transform-origin: top left;
  transition: transform 0.3s;
  transform: scale(1) translate(15px, -50%);
}

//$height: 24px;
//.grid{
//  display: grid;
//  grid-template-columns:  $height 1fr;
//  grid-template-rows: $height 1fr;
//  grid-gap:5px 10px;
//  .indicator{
//    background-color: lightblue;
//    border-radius: 50%;
//    line-height: $height;
//    text-align: center;
//    font-size: 12px;
//  }
//  .title{
//    line-height: $height;
//    font-weight: bold;
//  }
//  .content{
//    margin-bottom: 10px;
//  }
//  .divider{
//    position: relative;
//  }
//  .line{
//    position: absolute;
//    top: 0px;
//    bottom: 0;
//    width: 1px;
//    background-color: lightblue;
//    box-sizing: border-box;
//    left: 50%;
//  }
//  .check{
//    border-right: 2px solid white;
//    border-bottom: 2px solid white;
//    height: 10px;
//    width: 5px;
//    transform: rotate(45deg);
//    display: inline-block;
//    margin-top: 3px;
//    margin-left: 1px;
//  }
//}$height: 24px;
//.grid{
//  display: grid;
//  grid-template-columns:  $height 1fr;
//  grid-template-rows: $height 1fr;
//  grid-gap:5px 10px;
//  .indicator{
//    background-color: lightblue;
//    border-radius: 50%;
//    line-height: $height;
//    text-align: center;
//    font-size: 12px;
//  }
//  .title{
//    line-height: $height;
//    font-weight: bold;
//  }
//  .content{
//    margin-bottom: 10px;
//  }
//  .divider{
//    position: relative;
//  }
//  .line{
//    position: absolute;
//    position: absolute;
//    top: 0px;
//    bottom: 0;
//    width: 1px;
//    background-color: lightblue;
//    box-sizing: border-box;
//    left: 50%;
//  }
//  .check{
//    border-right: 2px solid white;
//    border-bottom: 2px solid white;
//    height: 10px;
//    width: 5px;
//    transform: rotate(45deg);
//    display: inline-block;
//    margin-top: 3px;
//    margin-left: 1px;
//  }
//}

// disable button
.disableBtn {
  color: #ccc;
  border-color: #ccc;
  cursor: no-drop;
}

.validation {
  position: absolute;
  color: red;
  margin-top: -4px;
}

.title_form {
  font-size: 20px;
  font-weight: normal;
  color: #ff0000;

  &.add {
    color: #000;
  }
}

.back {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  i {
    font-size: 18px;
    margin-right: 15px;
  }
}

.stepNum {
  margin: 0;
  font-weight: normal;
}

.createApp {
  padding: 13px 36px 13px 26px;
  border: 1px solid #10274a;
  border-radius: 5px;
  background-color: #10274a;
  color: #fff;
  outline: none;
  transition: 0.5s ease-out;

  &:hover {
    opacity: 0.8;
    color: #fff;
  }

  small {
    font-size: 16px;
  }

  i {
    margin-right: 11px;
    font-size: 18px;
  }
}

//default button
.btn-default {
  padding: 13px;
  color: #10274a;
  border: 2px solid #10274a;
  border-radius: 5px;
  background: transparent;
  text-align: center;
}

//disable select
.ng-select-disabled {
  .ng-select-container {
    color: #ccc;
    border-color: #ccc;
    cursor: no-drop !important;
  }
}

.btnIcon {
  position: relative;
  padding: 10px;
  border-radius: 50%;
  transition: 0.5s ease-out;

  &:hover {
    background: rgba(16, 39, 34, 0.15);
  }

  &:hover .tooltipAdmin {
    // transform: scale(1) translate(-50%, 0);
    opacity: 1;
    z-index: 100;
  }

  .tooltipAdmin {
    position: absolute;
    top: -100%;
    transform: translate(-50%, 0);
    margin-left: -10px;
    padding: 10px 15px;
    white-space: nowrap;
    color: #fff;
    background: #10274a;
    border-radius: 5px;
    transition: 0.5s ease-out;
    // transform: scale(0) translate(-50%, 0);
    // transform-origin: center bottom;
    opacity: 0;
    z-index: -1;

    &::before {
      content: "";
      position: absolute;
      bottom: -10%;
      left: 0;
      right: 0;
      margin: auto;
      transform: rotate(-45deg);
      width: 10px;
      height: 10px;
      background: #10274a;
    }
  }
}

.row .add {
  padding-left: 15px;
}

//lawsuit

.title_lawsuit {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 15px;
}

.subTitle_lawsuit {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.lawsuit_form_content {
  padding: 36px 60px 36px 0;
}

.lawsuitTitle {
  font-size: 20px;
  &.add {
    margin-bottom: 25px;
  }
}

.lawsuitTitleWrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 30px 0 20px 0;

  .remove_action_form__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    min-height: 30px;
    border: 1px solid rgba(16, 39, 74, 0.3);
    border-radius: 50%;
    color: #707d92;
    background: transparent;
    outline: none;
    padding: 0;
    margin-left: 10px;

    i {
      font-size: 20px;
    }
  }
}

.removeItem {
  min-width: 40px;
  min-height: 40px;
  padding: 0;
  border: 1px solid #b8bfc9;
  border-radius: 5px;
  outline: none;
  background: transparent;

  i {
    font-size: 20px;
    color: #707d92;
  }
}

// popUp
.alert-wrap {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(7, 18, 34, 0.85);
  z-index: 100;

  .alert {
    position: relative;
    // min-width: 430px;
    min-width: 546px;
    padding: 20px;
    background-color: #fff;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    border-radius: 5px;

    max-height: calc(100vh - 30px);
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 10px;
      height: 100%;
      background: transparent;
    }
    &::-webkit-scrollbar-track {
      background-color: rgba(16, 39, 74, 0.2);
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(16, 39, 74, 1);
      border-radius: 5px;
    }

    .alert-text {
      margin: 0;
      font-size: 24px;
      text-align: center;
    }

    .close {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      background: none;
      outline: none;
      padding: 0;
      font-size: 20px;
      transition: 200ms linear;
      z-index: 10;

      &:hover {
        border-top-right-radius: 5px;
        background-color: rgba(255, 82, 82, 0.904);
        color: #fff;
      }
    }

    .icon-result {
      display: flex;
      justify-content: center;

      i {
        font-size: 50px;
      }

      &.alert-success {
        color: #00a71a;
      }

      &.alert-warning {
        color: orange;
      }

      &.alert-danger {
        color: red;
      }
    }
  }
}

/* popUp step and action info Start*/
.decisionInfo {
  padding: 20px;
  .title {
    font-style: 16px;
    font-weight: 700;
  }

  .label-info {
    color: #8c97a8;
    margin-bottom: 10px;
  }

  .value-info {
    color: #3c506c;

    &.rejected {
      color: #e60000;
    }
    &.pending {
      color: #b58d00;
    }
    &.approved {
      color: #00a71a;
    }
  }
}

.data-lawyer > div {
  padding: 10px 0;
}

.data-lawyer > div:nth-child(2n) {
  background: #f4f6f8;
}

.data-lawyer > div:nth-child(2n + 1) {
  background: #e9ebef;
}

.fileList {
  display: flex;
}

.separater {
  border: 1px solid #e8eaed;
  margin: 17px 0;
}

/* popUp step and action info End*/

.count {
  display: flex;
  align-items: center;
  padding-left: 25px;
  width: 100%;
  height: 48px;
  background: #fbf9f2;
  border-radius: 5px;

  &_title {
    font-weight: 500;
    margin-right: 11px;
  }

  &_value {
    display: flex;
    align-items: center;
    color: #b58d00;

    .verSepareter {
      width: 1px;
      height: 20px;
      background: #cccfd1;
      margin: 0 11px;
    }

    .count_item {
      position: relative;
      // margin: 0 11px;

      // &:first-child::before {
      //   content: "";
      //   position: absolute;
      //   right: -11px;
      //   top: 50%;
      //   transform: translate(0, -50%);
      //   width: 1px;
      //   height: 20px;
      //   background: #cccfd1;
      // }
    }
  }
}

/** pagination Start **/
.paginationBlock {
  &.add {
    position: fixed;
    bottom: 0;
    margin: 20px 80px;
    width: 100%;
  }

  .paginationTitle {
    font-size: 16px;
  }

  .my-pagination {
    margin: 0;

    .ngx-pagination {
      margin: 0;
    }

    .current {
      background: var(--primary-color);
    }

    .pagination-next a::after,
    .pagination-next.disabled::after {
      content: "";
      width: 10px;
      height: 10px;
      border-bottom: 0;
      border-top: 1px;
      border-left: 0;
      border-right: 1px;
      transform: rotate(45deg);
      border-style: solid;
    }

    .pagination-previous a::before,
    .pagination-previous.disabled::before {
      content: "";
      width: 10px;
      height: 10px;
      border-bottom: 0;
      border-top: 1px;
      border-left: 0;
      border-right: 1px;
      transform: rotate(-135deg);
      border-style: solid;
    }

    a,
    .current {
      padding: 10px 15px;
    }

    .pagination-next {
      border-radius: 0 3px 3px 0;
    }

    a[aria-label=" page"] {
      padding: 10px 16px 10px 5px;
    }

    .pagination-previous {
      border-radius: 3px 0 0 3px;
      a[aria-label=" page"] {
        padding: 10px 6px 10px 15px;
      }
    }

    .pagination-previous.disabled {
      padding: 10px 6px 10px 15px;
    }

    .pagination-next.disabled {
      padding: 10px 16px 10px 5px;
    }

    li {
      border: 1px solid rgba(16, 39, 74, 0.3);
      margin-right: -1px;
    }
  }
}

.my-select.ng-select {
  width: 61px;
  .ng-select-container {
    border: none;
    background: transparent;

    &:hover {
      box-shadow: none;
    }

    .ng-value-container {
      font-weight: 600;
      color: var(--primary-color);
      padding-left: 5px;
    }
  }

  .ng-dropdown-panel {
    border: none;
  }

  .ng-arrow-wrapper .ng-arrow::before {
    font-size: 35px;
  }

  .ng-arrow-wrapper {
    width: 28px;
    height: 40px;
  }
}

/** pagination End **/

/** Tabs Start**/
.steps-block {
  border-width: 1px 0;
  border-style: solid;
  border-color: #d2d7de;
  background: #f4f6f8;

  overflow: auto;
  &::-webkit-scrollbar {
    width: 100%;
    height: 10px;
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(16, 39, 74, 0.2);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(16, 39, 74, 1);
    border-radius: 5px;
  }
  .steps {
    display: flex;
    align-items: center;

    .step_lawsuit {
      display: flex;
      align-items: center;
      width: 265px;
      height: 80px;
      padding: 0 20px;
      margin-left: -1px;
      border-width: 0 1px;
      border-style: solid;
      border-color: #d2d7de;
      outline: none;
      background: #fff;

      &_number {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 32px;
        min-height: 32px;
        border-radius: 50%;
        color: #fff;
        background: #b8bfc9;
      }

      &_name {
        margin: 0 13px;
        color: #828ea1;
        text-align: left;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }

      i {
        font-size: 18px;
        // color: #55667f;
      }
    }

    // .step_lawsuit {
    //   position: relative;
    // }

    // .step_lawsuit_name {
    //   &::after {
    //     content: attr(data-tooltip);
    //     background: rgb(16, 39, 74);
    //     color: #fff;
    //     position: absolute;
    //     top: 0;
    //     left: 50%;
    //     transform: translate(-50%, 0);
    //     padding: 5px 10px;
    //     border-radius: 5px;
    //     z-index: 1;
    //   }
    // }

    .step_lawsuit.complete {
      .step_lawsuit_name {
        color: #10274a;
      }

      .step_lawsuit_number {
        color: #fff;
        background: #10274a;
      }
    }

    .step_lawsuit.current {
      background: #10274a;

      .step_lawsuit_name {
        color: #fff;
      }

      .step_lawsuit_number {
        background: #fff;
        color: #10274a;
      }
    }

    .step_lawsuit.last {
      .step_lawsuit_name {
        color: #10274a;
      }

      .step_lawsuit_number {
        color: #10274a;
        background: #fff;
        border: 1px solid #10274a;
      }
    }

    .step_lawsuit.last.current {
      .step_lawsuit_name {
        color: #fff;
      }

      .step_lawsuit_number {
        color: #fff;
        background: #10274a;
        border: 1px solid #fff;
      }
    }
  }
}

/** Tabs End**/

/** Search Start **/
.searchBlock {
  display: flex;
  width: 346px;
  padding-bottom: 13px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(16, 39, 74, 0.3);
  i {
    font-size: 24px;
    color: var(--primary-color);

    &::before {
      margin: 0 5px 0 0;
    }
  }

  input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
  }
}
/** Search End **/

/** PopUp right Start**/
.wrap-pop-up-right {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  transition: all 0.5s ease;

  .content-pop-up-right {
    position: absolute;
    z-index: 100;
    top: 0;
    right: -100%;
    width: 600px;
    // min-height: 100vh;
    height: 100%;
    background: #fff;
    transition: right 0.5s ease-out;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #18335b;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(233, 235, 243);
    }

    .closeBtn {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
      i::before {
        font-size: 22px;
        margin: 0;
      }
    }

    .title {
      margin: 23px 25px 20px;
      font-size: 24px;
    }

    .decisions {
      margin: 23px 25px;

      .decisions_title {
        margin-top: 15px;
        font-size: 20px;
      }

      .decisions_sub_title {
        font-size: 16px;
      }

      .decision {
        margin-top: 15px;
        .decision_title {
          display: flex;
          align-items: center;
          border-left: 3px solid transparent;
        }

        .decision_title {
          color: #828ea1;
          margin-bottom: 8px;
        }

        .decision_value {
          // margin-bottom: 8px;

          .decision_info {
            display: flex;
            align-items: center;
            height: 48px;
            opacity: 1;
            background: #f4f6f8;
            border-radius: 5px;
            border-color: #b58d00;
            cursor: pointer;
            border-left: 3px solid transparent;

            .decision_btn {
              position: relative;
              width: 48px;
              height: 48px;
              background: #e9ebef;
              border: none;
              outline: none;
              border-radius: 0px 5px 5px 0px;

              &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
                width: 11px;
                height: 11px;
                margin-top: -2px;
                border-bottom: 2px;
                border-left: 0;
                border-right: 2px;
                border-top: 0;
                border-color: #10274a;
                border-style: solid;
                border-radius: 1px;
                // transition: all 0.3s linear;
              }
            }
          }

          &.active {
            .decision_info {
              margin: 0;
              background: #18335b;
              color: #fff;
              border-radius: 5px 5px 0 0;

              .decision_btn {
                background: #102645;

                &::after {
                  transform: translate(-50%, -50%) rotate(-135deg);
                  margin-top: 2px;
                  border-color: #fff;
                }
              }
            }

            & + .decision_form {
              max-height: 2000px;
              overflow: none;
              opacity: 1;

              // border: 1px solid #e2e6ea;
              // border-radius: 0px 0px 5px 5px;
              // margin: 0 0 8px 0;

              // .page-form {
              //   padding: 20px;
              // }
            }
          }

          &.complete {
            .decision_info {
              height: 0;
              opacity: 0;
            }

            .completeDecision {
              margin-bottom: 8px;
              height: 48px;
              opacity: 1;
              z-index: 1;
            }
          }
        }

        .decision_title .title1,
        .decision_value .value1 {
          width: 102px;
          padding: 0 16px 0 21px;
        }

        .decision_title .title2,
        .decision_value .value2 {
          width: 400px;
          padding: 0 0 0 16px;
        }

        .decision_form {
          max-height: 0;
          overflow: hidden;
          opacity: 0;

          border: 1px solid #e2e6ea;
          border-radius: 0px 0px 5px 5px;
          margin: 0 0 8px 0;

          transition: max-height 0.3s linear, opacity 0.3s linear 0.1s;
          // transition: all 0.3s linear;

          .select-action {
            background: #f4f6f8;
            padding: 20px;

            &__title {
              font-size: 16px;
              font-weight: 400;
              opacity: 0.7;
            }

            &__value {
            }
          }

          .page-form {
            padding: 20px;
          }
        }
      }

      .completeDecision {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f2faf3;
        border-radius: 5px;
        width: 100%;
        height: 0;
        opacity: 0;
        z-index: -1;
        transition: opacity 0.6s linear;
        i {
          margin-right: 15px;
          color: #00a71a;
          // background: #00a71a;
        }

        span {
          color: #00a71a;
        }
      }
    }
  }
}

.open {
  z-index: 100;
  background: rgba(21, 42, 85, 0.5);
  .content-pop-up-right {
    right: 0;
  }
}

.close {
  z-index: -10;
  // background: rgba(0, 0, 0, 0);
  .content-pop-up-right {
    right: -100%;
  }
}

/** PopUp right End**/

/** MFOS Start**/
.main-list {
  flex: 0 1 49%;
  &_header {
    font-size: 24px;
    font-weight: 500;
  }
  &_body {
    height: calc(100% - 35px);
  }
  &_table {
    height: 100%;
    &__header {
      border-bottom: 2px solid #10274a;
      background: #ffffff;
    }
    &__body {
      height: calc(100% - 44px);
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 0;
        background: transparent;
      }
      &::-webkit-scrollbar {
        width: 10px;
        height: 100%;
      }
      &::-webkit-scrollbar-track {
        background-color: rgba(42, 61, 116, 0.2);
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(32, 60, 103, 0.61);
        border-radius: 5px;
      }
      & .main-list_table__tr__active {
        transition: background 0.2s;
        // background: #f3f4f6;
        background: #10274a;
        color: #fff;

        &:hover {
          background: #10274a !important;
          color: #fff !important;
        }
      }
      & .main-list_table__tr {
        cursor: pointer;
        transition: background 0.2s;
        border-bottom: 1px solid rgba(16, 39, 74, 0.2);
        &:hover {
          background: #f3f4f6;
          color: #10274a;
        }
      }
    }
    &__tr {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    &__th,
    &__td {
      flex: 1;
    }
    &__th:nth-last-child(1),
    &__td:nth-last-child(1) {
      flex: 0 1 150px;
    }
    &__th:nth-last-child(3),
    &__td:nth-last-child(3) {
      flex: 0 1 100px;
    }
  }
}

/** MFOS End**/
