//@import "~@ng-select/ng-select/themes/default.theme.css";
@import "assets/scss/ng-select/default.theme";
@import "assets/scss/my-datepicker";

.text-danger {
  color: #ff0000;
}

.fw-normal {
  font-weight: 400;
}
.fw-bold {
  font-weight: 600;
}

.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-capitalize {
  text-transform: capitalize;
}

.page-header {
  height: 60px;
  background: #f4f6f8;
  padding: 0 80px;
}
.page-title {
  font-size: 21px;
  font-weight: 600;
  display: flex;
  align-items: center;
  & i {
    font-size: 30px;
    cursor: pointer;
  }
}

.page-action {
  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    & i {
      font-size: 18px;
      margin-right: 5px;
    }
  }
}

.page-content {
  height: calc(100% - 60px);
  padding: 24px 80px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  &::-webkit-scrollbar {
    width: 10px;
    height: 100%;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(16, 39, 74, 0.2);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(16, 39, 74, 1);
    border-radius: 5px;
  }
}

.page-card {
  width: 492px;
  background: #f4f6f8;
  border-radius: 15px;
  overflow: hidden;
  position: sticky;
  top: 0;
  &__header {
    font-size: 18px;
    font-weight: 600;
  }
  &__body {
    & .page-card__details {
      &:nth-child(2n) {
        background: rgba(16, 39, 74, 0.05);
      }
    }
  }
  &__footer {
    background: rgb(16, 39, 74);
    color: #ffffff;
  }
  &__details {
    font-size: 14px;
    line-height: 17px;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & span {
      flex: 1;
      &:nth-child(1) {
        flex: 0 1 200px;
      }
      &:nth-child(2) {
        font-weight: 600;
      }
    }
  }
}

.page-table {
  height: calc(100% - 60px);
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  &::-webkit-scrollbar {
    width: 10px;
    height: 100%;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(16, 39, 74, 0.2);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(16, 39, 74, 0.75);
    border-radius: 5px;
  }
  position: relative;
  &__header {
    //font-size: 18px;
    font-weight: 600;
    position: sticky;
    top: 0;
    background: #ffffff;
    & .page-table__tr__wrapper {
      border-bottom: 2px solid #10274a;
    }
  }
  &__body {
    //height: calc(100% - 66px);
    //overflow-y: auto;
    //&::-webkit-scrollbar { width: 0;
    //  background: transparent;}
    //&::-webkit-scrollbar { width: 10px; height: 100%; }
    //&::-webkit-scrollbar-track {  background-color: rgba(16, 39, 74, 0.2);}
    //&::-webkit-scrollbar-thumb { background-color: rgba(16, 39, 74, 0.75); border-radius: 5px;}
    & .page-table__tr__wrapper {
      cursor: pointer;
      border-bottom: 1px solid rgba(16, 39, 74, 0.2);
      //&:hover :not(page-table__tr__active) {
      //  transition: background 0.2s;
      //  background: rgba(16, 39, 74, 0.05);
      //}
    }
  }
  &__tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__wrapper {
      margin: 0 80px;
      &:hover {
        transition: background 0.2s;
        background: rgba(16, 39, 74, 0.05);
      }
    }
    &__active {
      background: #10274a;
      color: #ffffff;
    }
  }
  &__th,
  &__td {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex: 1;
    padding: 12px 3px;
    & i {
      font-size: 20px;
    }
    &:nth-child(1) {
      flex: 0 1 60px;
      padding-left: 5px;
    }
    &:nth-child(2) {
      flex: 0 1 340px;
    }
  }
}

.page-stepper {
  margin-left: 60px;
  flex: 1;
  height: 100%;
}

.page-form {
  width: 492px;
  & .text-field {
    flex: 1;
    &__title {
      font-size: 14px;
      margin-bottom: 12px;
    }
    &__label {
      border: 1px solid rgba(16, 39, 74, 0.3);
      width: 100%;
      height: 120px;
      border-radius: 5px;
      overflow: hidden;
      & textarea {
        padding: 15px;
        width: 100%;
        height: 100%;
        resize: none;
        color: #10274a;
        outline: none;
        border: none;
        //font-family: 'SFCompactDisplay', sans-serif;
        &::placeholder {
          color: rgba(16, 39, 74, 0.6);
        }
        &::-webkit-scrollbar {
          width: 0;
          background: transparent;
        }
        &::-webkit-scrollbar {
          width: 10px;
          height: 100%;
        }
        &::-webkit-scrollbar-track {
          background-color: rgba(42, 61, 116, 0.2);
        }
        &::-webkit-scrollbar-thumb {
          background-color: rgba(32, 60, 103, 0.61);
          border-radius: 5px;
        }
      }
    }
  }
  & .select-field {
    flex: 1;
    &__title {
      font-size: 14px;
      margin-bottom: 12px;
    }
    &__title.add {
      min-height: 32px;
    }
    & .ng-select.custom-select {
    }
  }
  & .input-field {
    flex: 1;
    &__title {
      font-size: 14px;
      margin-bottom: 12px;
    }
    &__label {
      border: 1px solid rgba(16, 39, 74, 0.3);
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      //padding: 0 15px;
      border-radius: 5px;
      position: relative;
      & i {
        font-size: 20px;
        cursor: pointer;
        margin-right: 15px;
      }
      & input {
        padding: 0 15px;
        border: none;
        outline: none;
        color: #10274a;
        background: transparent;
      }
      &.readonly {
        border: 1px solid rgba(16, 39, 74, 0.05);
        background: rgba(16, 39, 74, 0.05);
      }
    }
  }
  & .file-field {
    &__title {
      font-size: 14px;
      margin-bottom: 12px;
    }
    &__list {
      &_text {
        flex: 1;
      }
      &_item {
        border-bottom: 1px solid rgba(16, 39, 74, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        & i {
          font-size: 20px;
        }
      }
    }
    &__uploadbtn {
      padding: 0 28px;
      height: 40px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: 1px dashed rgba(16, 39, 74, 0.3);
      border-radius: 5px;
      background: none;
      outline: none;
      position: relative;
      cursor: pointer;
      font-size: 15px;
      & input[type="file"] {
        display: none;
      }
    }
  }
  & .checkbox-field {
    &__label {
      position: relative;
      display: flex;
      align-items: center;
      & input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        z-index: -1;
        &:checked + span i {
          transform: scale(1);
        }
      }
      & .custom-checkbox {
        width: 20px;
        height: 20px;
        border: 2px solid #10274a;
        cursor: pointer;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        & i {
          font-size: 20px;
          transition: transform 0.2s;
          transform: scale(0);
        }
      }
    }
  }
  &__actionbtn {
    padding: 0 28px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(16, 39, 74, 1);
    border-radius: 5px;
    background: none;
    outline: none;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    color: #10274a;
  }
}

.info-card {
  flex: 0 1 360px;
  background: rgba(232, 241, 253, 0.3);
  border: 1px dashed rgba(16, 39, 74, 0.3);
  border-radius: 5px;
  padding: 30px;
  &__title {
    font-weight: 600;
    font-size: 18px;
  }
  &__data {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
    & span {
      &:nth-child(2) {
        flex: 0 1 75px;
      }
    }
  }
  &__docs {
    &_title {
      font-weight: 600;
      font-size: 18px;
    }
    &_list {
      &_item {
        border: 1px solid rgba(16, 39, 74, 0.3);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px 15px;
        margin-bottom: 5px;
        & i {
          font-size: 30px;
          opacity: 0.3;
        }
        & a {
          display: flex;
          align-items: center;
          text-transform: uppercase;
          font-weight: 600;
          & i {
            opacity: 1;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.step {
  padding-bottom: 10px;
  position: relative;
  &-last {
    padding-bottom: 0;
  }
  //&:last-child {
  //  padding-bottom: 0;
  //}
  &::before {
    content: "";
    position: absolute;
    left: 11px;
    top: 24px;
    width: 2px;
    height: calc(100% - 24px);
    background: rgba(16, 39, 74, 0.3);
    //&-current {
    //  background: rgba(16, 39, 74, 1);
    //}
  }
  &-current {
    &::before {
      background: rgba(16, 39, 74, 1);
    }
  }
  & .header {
    display: flex;
    align-items: center;
    & .title {
      width: 100%;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & span {
        font-weight: 400;
        color: rgba(16, 39, 74, 0.5);
      }
    }
  }
  & .indicator {
    &.current-step {
      background: rgba(16, 39, 74, 1);
    }
    font-size: 14px;
    position: relative;
    background: rgba(16, 39, 74, 0.3);
    font-weight: bold;
    color: #ffffff;
    max-width: 24px;
    min-width: 24px;
    max-height: 24px;
    min-height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    & .check {
      background: #00a71a;
      position: absolute;
      top: -7px;
      right: -7px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
    }
  }
  & .content {
    display: block;
    //background: red;
    padding-top: 15px;
    position: relative;
    &-active {
      display: block;
    }
    //&::before {
    //  content: '';
    //  position: absolute;
    //  left: 11px;
    //  top: 0;
    //  width: 2px;
    //  height: calc(100% + 10px);
    //  background: #10274A;
    //}
  }
}

.circular-chart {
  display: block;
  //margin: 10px auto;
  max-width: 20px;
  max-height: 20px;
}
.circle-bg {
  fill: none;
  stroke: rgba(16, 39, 74, 0.5);
  stroke-width: 3.8;
}
.circle {
  fill: none;
  stroke-width: 3.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
.circular-chart.default .circle {
  stroke: rgba(16, 39, 74, 1);
}

.btn {
  min-width: 72px;
  height: 38px;
  border-radius: 5px;
  text-align: center;
  background: none;
  outline: none !important;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-filled-white {
  background: #ffffff;
  font-weight: 600;
  color: #10274a;
}

.btn-outlined-white {
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn-dashed {
  border: 1px dashed rgba(16, 39, 74, 0.3);
}

.btn-dashed.add {
  width: 100%;
}

.position-absolute {
  position: absolute !important;
}
.position-relative {
  position: relative !important;
}
.position-fixed {
  position: fixed !important;
}

.tooltip {
  min-width: 300px;
  background: #10274a;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  position: absolute;
  &::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #10274a;
    border-radius: 0.5px;
    transform: rotate(-45deg);
    z-index: -1;
  }
  &-action {
    display: flex;
    align-items: center;
  }
}

.tooltip-right {
  left: 100%;
  top: 50%;
  transform: scale(0) translate(15px, -50%);
  &::before {
    left: 0;
    top: 47%;
    transform: rotate(-45deg) translate(-26%, -50%);
  }
}

.tooltip-active {
  transform-origin: top left;
  transition: transform 0.3s;
  transform: scale(1) translate(15px, -50%);
}

//$height: 24px;
//.grid{
//  display: grid;
//  grid-template-columns:  $height 1fr;
//  grid-template-rows: $height 1fr;
//  grid-gap:5px 10px;
//  .indicator{
//    background-color: lightblue;
//    border-radius: 50%;
//    line-height: $height;
//    text-align: center;
//    font-size: 12px;
//  }
//  .title{
//    line-height: $height;
//    font-weight: bold;
//  }
//  .content{
//    margin-bottom: 10px;
//  }
//  .divider{
//    position: relative;
//  }
//  .line{
//    position: absolute;
//    top: 0px;
//    bottom: 0;
//    width: 1px;
//    background-color: lightblue;
//    box-sizing: border-box;
//    left: 50%;
//  }
//  .check{
//    border-right: 2px solid white;
//    border-bottom: 2px solid white;
//    height: 10px;
//    width: 5px;
//    transform: rotate(45deg);
//    display: inline-block;
//    margin-top: 3px;
//    margin-left: 1px;
//  }
//}$height: 24px;
//.grid{
//  display: grid;
//  grid-template-columns:  $height 1fr;
//  grid-template-rows: $height 1fr;
//  grid-gap:5px 10px;
//  .indicator{
//    background-color: lightblue;
//    border-radius: 50%;
//    line-height: $height;
//    text-align: center;
//    font-size: 12px;
//  }
//  .title{
//    line-height: $height;
//    font-weight: bold;
//  }
//  .content{
//    margin-bottom: 10px;
//  }
//  .divider{
//    position: relative;
//  }
//  .line{
//    position: absolute;
//    position: absolute;
//    top: 0px;
//    bottom: 0;
//    width: 1px;
//    background-color: lightblue;
//    box-sizing: border-box;
//    left: 50%;
//  }
//  .check{
//    border-right: 2px solid white;
//    border-bottom: 2px solid white;
//    height: 10px;
//    width: 5px;
//    transform: rotate(45deg);
//    display: inline-block;
//    margin-top: 3px;
//    margin-left: 1px;
//  }
//}

// disable button
.disableBtn {
  color: #ccc;
  border-color: #ccc;
  cursor: no-drop;
}

.validation {
  color: red;
}

.title_form {
  font-size: 20px;
  font-weight: normal;
  color: #ff0000;

  &.add {
    color: #000;
  }
}
