<div class="h-100">
  <div class="page-header row justify-content-between align-items-center">
    <a routerLink="/admin/listUser" class="back">
      <i class="icon-back"></i><small>{{ "edit" | translate }}</small>
    </a>
  </div>

  <div *ngIf="!loading; else loadingBlock" class="page-content">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-8 col-md-9">
        <form
          *ngIf="form"
          class="page-form"
          [formGroup]="form"
          (ngSubmit)="submit()"
        >
          <div class="row justify-content-between mb-2">
            <div class="col-4">
              <div class="input-field">
                <div class="input-field__title">
                  {{ "lastName" | translate }}
                </div>
                <label class="input-field__label">
                  <input
                    type="text"
                    autocomplete="off"
                    formControlName="lastName"
                  />
                </label>

                <div
                  *ngIf="
                    form.get('lastName')?.touched &&
                    form.get('lastName')?.invalid
                  "
                  class="validation"
                >
                  <small *ngIf="form.get('lastName')?.errors?.required">
                    {{ "enter_data" | translate }}
                  </small>
                </div>
              </div>
            </div>

            <div class="col-4">
              <div class="input-field">
                <div class="input-field__title">
                  {{ "firstName" | translate }}
                </div>
                <label class="input-field__label">
                  <input
                    type="text"
                    autocomplete="off"
                    formControlName="firstName"
                  />
                </label>

                <div
                  *ngIf="
                    form.get('firstName')?.touched &&
                    form.get('firstName')?.invalid
                  "
                  class="validation"
                >
                  <small *ngIf="form.get('firstName')?.errors?.required">
                    {{ "enter_data" | translate }}
                  </small>
                </div>
              </div>
            </div>

            <div class="col-4">
              <div class="input-field">
                <div class="input-field__title">
                  {{ "middleName" | translate }}
                </div>
                <label class="input-field__label">
                  <input
                    type="text"
                    autocomplete="off"
                    formControlName="middleName"
                  />
                </label>

                <div
                  *ngIf="
                    form.get('middleName')?.touched &&
                    form.get('middleName')?.invalid
                  "
                  class="validation"
                >
                  <small *ngIf="form.get('middleName')?.errors?.required">
                    {{ "enter_data" | translate }}
                  </small>
                </div>
              </div>
            </div>
          </div>

          <div class="row justify-content-between mb-2">
            <div class="col-12">
              <div class="select-field">
                <div class="select-field__title">{{ "role" | translate }}</div>

                <ng-select
                  [multiple]="true"
                  appearance="outline"
                  [items]="roles"
                  bindLabel="{{ 'role_' + adminService.translate.currentLang }}"
                  bindValue=""
                  placeholder="{{ 'role' | translate }}"
                  #agreeSelect
                  labelForId="yesno"
                  [searchable]="false"
                  formControlName="roles"
                  (remove)="remove($event)"
                ></ng-select>
              </div>
              <div
                *ngIf="form.get('role')?.touched && form.get('role')?.invalid"
                class="validation"
              >
                <small *ngIf="form.get('role')?.errors?.required">
                  {{ "enter_data" | translate }}
                </small>
              </div>
            </div>
          </div>

          <div class="row justify-content-between mb-2">
            <div class="col-12">
              <div class="select-field">
                <div class="select-field__title">
                  {{ "region" | translate }}
                </div>
                <ng-select
                  appearance="outline"
                  [items]="regions"
                  bindLabel="{{
                    'name' + (adminService.translate.currentLang | titlecase)
                  }}"
                  bindValue="regionId"
                  placeholder="{{ 'region' | translate }}"
                  #agreeSelect
                  labelForId="yesno"
                  [searchable]="false"
                  formControlName="region"
                  (change)="setDistrict($event)"
                ></ng-select>
              </div>
              <div
                *ngIf="
                  form.get('region')?.touched && form.get('region')?.invalid
                "
                class="validation"
              >
                <small *ngIf="form.get('region')?.errors?.required">
                  {{ "enter_data" | translate }}
                </small>
              </div>
            </div>
          </div>

          <div class="row justify-content-between mb-2">
            <div class="col-12">
              <div class="select-field">
                <div class="select-field__title">
                  {{ "district" | translate }}
                </div>
                <ng-select
                  [multiple]="true"
                  appearance="outline"
                  [items]="districts"
                  bindLabel="{{
                    'name' + (adminService.translate.currentLang | titlecase)
                  }}"
                  bindValue="mfo"
                  placeholder="{{ 'select_filial' | translate }}"
                  #agreeSelect
                  labelForId="yesno"
                  [searchable]="false"
                  formControlName="district"
                ></ng-select>
              </div>
              <div
                *ngIf="
                  form.get('district')?.touched && form.get('district')?.invalid
                "
                class="validation"
              >
                <small *ngIf="form.get('district')?.errors?.required">
                  {{ "enter_data" | translate }}
                </small>
              </div>
            </div>
          </div>

          <div class="row justify-content-betwee mb-2">
            <div class="col-12">
              <div class="input-field">
                <div class="input-field__title">{{ "login" | translate }}</div>
                <label class="input-field__label">
                  <input
                    type="text"
                    autocomplete="off"
                    formControlName="username"
                  />
                </label>

                <div
                  *ngIf="
                    form.get('username')?.touched &&
                    form.get('username')?.invalid
                  "
                  class="validation"
                >
                  <small *ngIf="form.get('username')?.errors?.required">
                    {{ "enter_data" | translate }}
                  </small>
                </div>
              </div>
            </div>
          </div>

          <div class="row justify-content-betwee mb-2">
            <div class="col-12">
              <div class="input-field">
                <div class="input-field__title">
                  {{ "password" | translate }}
                </div>
                <label class="input-field__label">
                  <input
                    type="text"
                    autocomplete="off"
                    formControlName="password"
                  />
                </label>

                <div
                  *ngIf="
                    form.get('password')?.touched &&
                    form.get('password')?.invalid
                  "
                  class="validation"
                >
                  <small *ngIf="form.get('password')?.errors?.required">
                    {{ "enter_data" | translate }}
                  </small>
                </div>
              </div>
            </div>
          </div>

          <button
            type="submit"
            class="page-form__actionbtn text-uppercase"
            [ngClass]="{ disableBtn: form.invalid || submitted }"
            [disabled]="form.invalid || submitted"
          >
            {{ "saveChanges" | translate }}
          </button>
        </form>
      </div>
    </div>
  </div>

  <ng-template #loadingBlock>
    <app-loader></app-loader>
  </ng-template>
</div>
