<div class="row flex-nowrap" >
  <div class="col-7">
    <div
      class="p-2 mb-2 bg-gray-primary"
      style="border-radius: 5px"
      *ngIf="stepStatus === 1"
    >
      <div class="mb-1">Прикрепленные файлы</div>
      <div class="mb-2">
        <div
          *ngFor="let item of lastAction?.files; index as i"
          class="py-1 d-flex align-items-center"
        >
          <i class="icon-attach mr-1" style="font-size: 22px"></i>
          <div class="ml-1">
            {{ item.name }}
          </div>
        </div>
      </div>
    </div>

    <form action="" class="page-form" [formGroup]="stepForm" *ngIf="stepStatus === 0 && mainService.ROLE.includes(1)">
      <div class="mb-2">
        <app-form-field formControlName="files" [type]="'file'" [title]="'Скан документа'"></app-form-field>
      </div>
      <button
        class="page-form__actionbtn text-uppercase"
        (click)="nextStep()"
        [disabled]="stepForm.invalid"
        *ngIf="!disabled"
      >
        отправить оповещение
      </button>
    </form>
  </div>
</div>

<app-alert-info
  [text]="'Подождите, данные еще не отправлены исполнительным юристом.'"
  [icon]="'uil-clock-three'"
  [iconColorClass]="'text-warning'"
  *ngIf="stepStatus === 0 && mainService.ROLE.includes(2)"
></app-alert-info>


