<div class="row flex-nowrap" >
  <div class="col-7">
    <form action="" class="page-form" [ngClass]="{'disabled-form p-2': stepStatus === 1}" [formGroup]="stepForm">
      <div class="mb-2">
        <app-form-field formControlName="files" [type]="'file'" [title]="'Скан документа'"></app-form-field>
      </div>
      <button
        class="page-form__actionbtn text-uppercase"
        (click)="nextStep()"
        [disabled]="stepForm.invalid"
        *ngIf="!disabled"
      >
        отправить оповещение
      </button>
    </form>
  </div>
</div>

<app-alert-info
  [text]="'Подождите, данные еще не отправлены исполнительным юристом.'"
  [icon]="'uil-clock-three'"
  [iconColorClass]="'text-warning'"
  *ngIf="stepStatus === 0 && mainService.ROLE === 'GY'"
></app-alert-info>


